.image-image {
 position: relative;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.images{
    padding-top: 30px;
   
}