
<div class="shelt">

    <div class="belt">

        <div class="darling">
            <div class="image-grid-image" 
            style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/13609220/2021/6/24/6c9632a4-480d-494f-a785-30cc9ba4473e1624521352498-Maybelline-New-York-Fit-Me-12Hr-Oil-Control-Compact---220-Na-11.jpg&quot;);">
            </div>
            <div class="image-grid-image" 
            style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/13609220/2021/3/5/e002bf4f-0831-4636-b7ed-1ec629b8bcc01614894619185-Maybelline-Women-Compact-3791614894617939-2.jpg&quot;);">
            </div>
        </div>

        <div class="darling">
            <div class="image-grid-image" 
            style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/13609220/2021/3/5/97d6ac18-4fb4-42e4-818f-a4ad49d8273f1614894619158-Maybelline-Women-Compact-3791614894617939-3.jpg&quot;);">
            </div>
            <div class="image-grid-image" 
            style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/13609220/2021/3/5/9fe07f61-585c-4b29-8436-42e7992f0f551614894619130-Maybelline-Women-Compact-3791614894617939-4.jpg&quot;);">
            </div>
        </div> 

        <div class="darling">
            <div class="image-grid-image" style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/banner2021/6/15/60d0d0cc-d6bd-4331-933a-7d55a3d525171623745402954-1.jpg&quot;);">
            </div>
   
        </div>

      
    </div>
    <div class="Qwer">
        <div class="huts">
            Maybelline
        </div>
        <div class="loi">New York Fit Me 12Hr Oil Control Compact - 220 Natural Beige</div>
        <div class="der">

            <div class="ber">
                4.5 <span class="fa fa-star checked"></span>
            </div>
            <div class="kal">
                <span>|</span>
            </div>
            <div class="koi">
                2k Ratings
            </div>

        </div>
        <hr>
        <div class="kul">
            <div class="bell">Rs.159</div>
            <div class="tyu"> <del>Rs. 199</del></div>
            <div class="de"> (20% OFF) </div>
        </div>

        <div class="hit">inclusive of all taxes</div>
        <div class="shirt">
            <div class="bet">Available in <b>1 Shades</b> </div>
           
            <div class="uiy">
                <img src="https://assets.myntassets.com/assets/images/13609220/2021/3/5/0e4cc6e6-21ab-4d2e-a5be-0e0400269a531614894619109-Maybelline-Women-Compact-3791614894617939-9.jpg">
            </div>

            <div class="bitg">Nature Bege</div>

            <div class="hins">Select siZe</div>

            <div class="desu">
               <span class="br"> Onesize</span>
            </div>
        </div>

      

        <div class="gtru">
           <a routerLink="/prices"> <button class="bn">
                <span class="myntraweb"><i class="fa fa-shopping-bag"></i></span>
                ADD TO BAG
           </button></a>

            <button class="bk">
              <span class="myntaweb"><i class="fa fa-heart-o"></i></span>
              WISHLIST
            </button>
        

        </div>
        <div class="kuln">
            <div class="belln">Rs.159</div>
            <div class="tyun"> <del>Rs. 199</del></div>
            <div class="den"> (20% OFF) </div>


        </div>

        <div class="vi">
            <div class="bo">Seller: <span class="supplier-productSellerName">Vision Star</span></div>
        </div>
        <div class="ser">
            <h4> <span class="tre"><i class="fa fa-truck"></i></span> Delivery Options </h4>
        </div>

        <div class="sey">
            <input type="text" placeholder="Enter a Pin code">
            <button class="btns">CHECK</button>
        </div>

        <div class="but">
            Please enter PIN code to check delivery time & Pay on Delivery Availability
        </div>

        <div class="hy">
            <div class="ishq">100% Original Products</div>
            <div class="ishq">You can return the product within 15 days if the delivered product is damaged, expired, different from ordered.</div>
            
        </div>

        <div class="gr">
            <div class="swer">
                BEST OFFERS 
            </div>
            <div class="ju">
                Best Price: <span>Rs. 127</span>
            </div>
            <div class="il">
                <li class="hill">Coupon code: <b>BPC20</b>
                </li>
           
                <li class="hill">Coupon Discount: 20% off upto Rs. 1200 (check cart for final savings)
                </li>
  
                 
             
                   <li class="hill">Applicable on: Purchase of 4 or more items
               </li>
                   <p class="lo">View Eligible Products</p>
            </div>
            <div class="serts">
                <div class="gutd">
                    Get Gift
                </div>
                <div class="i">
                    <li class="hilln">Buy worth Rs 599 and get Maybelline New York Master Foundation Oval Brush worth 499 free</li>

                    <p class="lo">View Eligible Products</p>
                </div>
            </div>
        </div>
<hr>
        <div class="shall">
            <div class="ball">
                PRODUCT DETAILS 
              
            </div>
           <div class="tit">Fit Me 12Hr SPF 28 Oil Control Compact</div>

           <div class="nit"><b>Shade:</b> 220 Natural Beige</div>
        </div>
        <div class="han">Specification</div>
        <div class="oi">
           
            <div class="qr">
                <div class="bri">Colour Shade Name</div>
                <p class="u">Natural Beige</p>

                <div class="bri">Skin Type</div>
                <p class="u">All</p>

                <div class="bri">Type</div>
                <p class="u">Pressed</p>

               
            </div>
            <div class="vr">
                <div class="bri">Finish</div>
                <p class="u">Matte</p>
                
                <div class="bri">Sustainable </div>
                <p class="u">Regular</p>

            
            </div>
           
        </div>
        
        <hr>

           <div class="swet">
               <div class="iu">
                   RATINGS <span class="my"><i class="fa fa-star-o"></i></span>
               </div>
               <div class="chal">
                   <div class="bake">
                       4.5 <span class="fa fa-star"></span>
                       <p class="point">2k Verified Buyers</p>
                   </div>
                   <div class="dal">
                       <div class="pl">
                    <div class="sy">5 <i class="fa fa-star-o"></i></div>
                    <div class="bal-1"></div>
                    <div class="huo right">1030</div>
</div>
<div class="pl">
    <div class="sy">4 <i class="fa fa-star-o"></i></div>
    <div class="bal-2"></div>
    <div class="huo right">384</div>
</div>

<div class="pl">
    <div class="sy">3 <i class="fa fa-star-o"></i></div>
    <div class="bal-3"></div>
    <div class="huo right">95</div>
</div>

<div class="pl">
    <div class="sy">2 <i class="fa fa-star-o"></i></div>
    <div class="bal-4"></div>
    <div class="huo right">39</div>
</div>

<div class="pl">
    <div class="sy">1 <i class="fa fa-star-o"></i></div>
    <div class="bal-5"></div>
    <div class="huo right">87</div>
</div>
                   </div>
               </div>
           </div>
           <hr>

    
             <div class="bool">Customer Photos (44)</div>  
          
             <div class="kool">
                 <div class="book">
                    <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2021/6/10/52cbcd96-7aa1-4b5a-988f-7c9de19bb3041623309215581-IMG20210610115137.jpg">
                 </div>

                 <div class="book">
                    <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2021/4/13/109c661a-67ed-49f0-aaaa-5b0b9d8d7e681618296286519-temp_photo.jpg">
                 </div>

                 <div class="book">
                    <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2021/5/28/5d1d185b-bef7-4372-a96b-61d3104b6a371622146162812-IMG20210528013753.jpg">  
                 </div>

                 <div class="book">
                    <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2021/4/13/93708294-19b5-4dac-8bcd-b873e58542f11618311025363-IMG_20210413_161829.jpg">
                    <span class="image-thumb-wrapper-imageCount"><!-- react-text: 915 -->+<!-- /react-text --><!-- react-text: 916 -->41<!-- /react-text --></span>
                 </div>
 </div>
                 
               <div class="sre">
                   <div class="uio">Customer Reviews (162)</div>
                   <div class="kl">
                       <div class="es">
                       4 <i class="fa fa-star-o"></i>  </div>
                   <div class="yi"> I didn't expected that this product would turned out soooo good but yeah It's really good. I'm glad I bought this, being honest. It's definitely control the oil especially when you're in a hurry.</div>
                   </div>

                   <div class="kl">
                    <div class="es">
                    5 <i class="fa fa-star-o"></i>  </div>
 <div class="yi"> I didn't expected that this product would turned out soooo good but yeah It's really good. I'm glad I bought this, being honest. It's definitely control the oil especially when you're in a hurry.</div>
            </div>

            <div class="kool">
                <div class="book">
                    <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2021/7/5/f24c0eab-aed3-4ec9-b407-694a557fa4b71625458318844-IMG-20210705-WA0011.jpg">
                </div>
            
                <div class="book">
                    <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2021/7/5/753f14c8-1577-4e02-adfd-4c0c12e7d6741625458318849-IMG-20210705-WA0008.jpg">    
                </div>
                </div>
                  
                   <div class="bll">
                       <div class="hll">Nikhil24 <span class="t">|</span> 6Apr 2021</div>
                       <div class="tool">
                        <span class="dwe"><i class="fa fa-thumbs-o-up"></i> </span>15 
                        <span class="dwe"><i class="fa fa-thumbs-o-down"></i> </span>1
                       </div>
                   </div>
               </div>


               <div class="sre">
              
                <div class="kl">
                    <div class="es">5 <i class="fa fa-star-o"></i> </div> 
                <div class="ri">The compact is really good it suits my skin tone really nicely it gives a seamless fishish and it's actually slightly lighter than the colour how it looks when applied on skin. It's totally worth it I loved the product and the product came really safely and nicely packed </div>
                </div>
             
                <div class="bll">
                    <div class="hll">Nilanjana Malakar <span class="t">|</span> 29 Oct 2020</div>
                    <div class="tool">
                     <span class="dwe"><i class="fa fa-thumbs-o-up"></i> </span>21
                     <span class="dwe"><i class="fa fa-thumbs-o-down"></i> </span>6
                    </div>
                </div>
            </div>

    

 <div class="qs">
     <div class="dwx">View all 162 reviews</div>
     <div class="box">Product Code: <b>13609220</b></div>
     <div class="bo">Seller: <span class="supplier-productSellerName">Vision Star</span></div>
     <span class="dol">View Supplier Information</span>
 </div>
    </div>

</div> 
