<div class="der">
   <span> Home</span> / <b>Personal Care</b>
</div>

<div class="seru">
   <b>Personal Care</b> -<span> 21285 items</span>
</div>


<!-- <div class="deltr">
<p>FILTERS</p>
<div class="heading" id="f1" (click)="accordion('f1')">Bundles<span class="pull-right down-icon " [class.icon]="id === 'f1'"><i class="fa fa-chevron-down"></i></span></div>
    <div class="content" *ngIf="id === 'f1'">
       <div class="drrr">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> I have a bike</label>
       </div>
       </div>
 </div> -->

<div class="lop">
   <div class="deltar">
      FILTER
   </div>

   <div class="deri">
      <div class="heading" id="f1" (click)="accordion('f1')">Bundles<span class="pull-right down-icon "
            [class.icon]="id === 'f1'"><i class="fa fa-chevron-down"></i></span></div>
      <div class="contnt" *ngIf="id === 'f1'">
         <div class="drrr">
            <li>
               <input type="checkbox">
               <label>Bundles</label>
            </li>

            <li>
               <input type="checkbox">
               <label>Single Styles</label>
            </li>
         </div>
      </div>


   </div>

   <div class="deri">
      <div class="heading" id="f2" (click)="accordion('f2')">Country of Origin<span class="pull-right down-icon "
            [class.icon]="id === 'f2'"><i class="fa fa-chevron-down"></i></span></div>
      <div class="contnt" *ngIf="id === 'f2'">
         <div class="drrr">
            <input type="checkbox">
            <label>All Countries</label>
            <input type="checkbox">
            <label>India</label>
         </div>
      </div>


   </div>

   <div class="deri">
      <div class="heading" id="f3" (click)="accordion('f3')">Size<span class="pull-right down-icon "
            [class.icon]="id === 'f3'"><i class="fa fa-chevron-down"></i></span></div>
      <div class="content" *ngIf="id === 'f3'">
         <div class="drrr">
            <li>
               <input type="checkbox">
               <label class="common">100 ML</label>
            </li>

            <li>
               <input type="checkbox">
               <label class="common">0-10 ML</label>
            </li>

            <li>
               <input type="checkbox">
               <label class="common">100 ML And</label>
            </li>

            <li>
               <input type="checkbox">
               <label class="common">150 ML</label>
            </li>

            <li>
               <input type="checkbox">
               <label class="common">220-240 ML</label>
            </li>
         </div>

         <div class="drrr">
            <li>
               <input type="checkbox">
               <label class="common">0-100 ML</label>
            </li>

            <li>
               <input type="checkbox">
               <label class="common">100-120 ML</label>
            </li>

            <li>
               <input type="checkbox">
               <label class="common">160-180 ML</label>
            </li>

            <li>
               <input type="checkbox">
               <label class="common">70-80 ML</label>
            </li>

            <li>
               <input type="checkbox">
               <label class="common">Onesie</label>
            </li>
         </div>


         <div class="drrr">
            <li>
               <input type="checkbox">
               <label class="common">0-12M</label>
            </li>

            <li>
               <input type="checkbox">
               <label class="common">100-350 ML</label>
            </li>

            <li>
               <input type="checkbox">
               <label class="common">250 ML</label>
            </li>

            <li>
               <input type="checkbox">
               <label class="common">80-90 ML</label>
            </li>

            <li>
               <input type="checkbox">
               <label class="common">Pack</label>
            </li>
         </div>

         <div class="drrr">
            <li>
               <input type="checkbox">
               <label class="common">0-50 ML</label>
            </li>

            <li>
               <input type="checkbox">
               <label class="common">1000 ML</label>
            </li>

            <li>
               <input type="checkbox">
               <label class="common">S</label>
            </li>

            <li>
               <input type="checkbox">
               <label class="common">900 ML</label>
            </li>

            <li>
               <input type="checkbox">
               <label class="common"> XL</label>
            </li>
         </div>



      </div>


   </div>


   <div class="fre">
      <select id="cars" name="cars">
         <option value="volvo">Sort by : <b>Recommended</b> </option>
         <option value="">What's new</option>
         <option value="">Popularity</option>
         <option value="">Better Discount</option>
         <option value="">Price High to Low</option>
         <option value="">Price Low to High</option>
         <option value="">Customer Rating</option>
      </select>
   </div>
  
</div>


<div class="hitler">
   <div class="det">
       
      <li>
           <input type="radio">
           <label>Men</label></li>

      <li>
           <input type="radio">
           <label>Women</label></li>

      <li> 
           <input type="radio">
           <label>Boys</label></li>

      <li>
           <input type="radio">
           <label>Girls</label></li>
   </div>
</div>

