

.der{
    padding-top: 14px;
    margin: 0px 20px;
}

span{
    color: grey;
}

.seru{
    padding-top: 6px;
    margin: 0px 19px; 

}


.lop{
    padding-top: 23px;
    margin: 0px 19px; 
    display: flex;

}

.deltar{
    font-weight: bold;
    width: 20%;
   
}




.down-icon{
    transition: 0.2s ease-out;

}

.icon{
 
  animation-name: icon;
  transition: 0.2s ease-out;
  transform: rotate(180deg)
}

.heading i{
   font-size: 10px;
   padding: 0px 5px; 
}

.heading{
 cursor: pointer;
}

.heading label{
  padding: 0px 7px;
}

.de {
    margin-left: 282px;
}

.deri{
    padding: 0px 35px;

}

.fre{
    margin-left: 320px;
  
}

.fre select{
    cursor: pointer;
}


.drrr li{
    list-style: none;
  
}

.common{
    padding: 0px 3px;
   
}

.content{
    display: flex;
  width: 433px;

  
}

.drrr label{
    padding: 0px 6px;
  
}

.drrr input{
    cursor: pointer;
}

.drrr{
    padding: 2px;
    justify-content: space-between;
 
 
}

.det li{
    list-style: none;
}

.det{
    padding: 5px 12px;
 
}

.det label{
    font-weight: bold;

}

.det input{
    cursor: pointer;
}



