<div class="contai">
    <div class="navbar">
  
      <ul>
       <a routerLink="/"> <div class="op"> <img src="assets/img/download.png"></div></a>
        <a routerLink="/men">
          <li>Men
            <div class="mega">
              <div class="menu">
                <h3>Topwear</h3>
                <a href="#">T-shirsts</a>
                <a href="#">Casual Shirts</a>
                <a href="#">Formal Shirts</a>
                <a href="#">Jackets</a> 
                <a href="#">Suits</a>
                <a href="#">Sweater</a>
                <div class="menu">
                  <h3>Indian & Festive Wear</h3>
                  <a href="#">Kurta</a>
                  <a href="#">kurta Sets</a>
                  <a href="#">Sherwanis</a>
                  <a href="#">Dhotis</a>
                  <a href="#">Nehru Jackets</a>
                </div>
              </div>
   
              <div class="menu">
                <h3>Bottomwear</h3>
                <a href="#">Jeans</a>
                <a href="#">Casual Trousers</a>
                <a href="#">Formal Trousers</a>
                <a href="#">Shorts</a>
  
                <div class="menu">
                  <h3>Gadgets</h3>
                  <a href="#">Fitness Gadgets</a>
                  <a href="#">Headphone</a>
                  <a href="#">Speaker</a>
  
                </div>
                <div class="menu">
                  <h3>Plus SIZE</h3>
                </div>
              </div>
  
              <div class="menu">
                <h3>Footwear</h3>
                <a href="#">Casual Shoes</a>
                <a href="#">Formal Shoes</a>
                <a href="#">Sport Shoes</a>
                <a href="#">Flip Flops</a>
                <a href="#">Socks</a>
                <a href="#">Sandals & Floaters</a>
                <div class="menu">
                  <h3>Personal Care & Grooming</h3>
                  <h3>Sunglasses & Frames</h3>
                  <h3>Watches</h3>
                </div>
              </div>
  
              <div class="menu">
                <h3>Sports & Active Wear</h3>
                <a href="#">Sports Shoes</a>
                <a href="#">Active Tshirts</a>
                <a href="#">Swimwear</a>
                <a href="#">Tracksuits</a>
                <a href="#">Sports Sandals</a>
                <a href="#">Track Pants & Shoes</a>
  
  
              </div>
              <div class="menu">
                <h3>Fashion Accessories</h3>
                <a href="#">Wallets</a>
                <a href="#">Belts</a>
                <a href="#">Trimmer</a>
                <a href="#">Deodrants</a>
                <a href="#">Caps & Hats</a>
                <a href="#">Phone Cases</a>
                <a href="#">Helmets</a>
                <a href="#">:Perfumes</a>
                <a href="#">Belts</a>
                <a href="#">Trimmer</a>
                <div class="menu">
                  <h3>Bags & Backpacks</h3>
                  <h3>Luggages & Trolleys</h3>
                </div>
              </div>
            </div>
          </li>
        </a>
  
        <a routerLink="/women">
          <li class="jui">WOMEN
  
            <div class="mega">
              <div class="menu">
                <h4>Western Wear</h4>
                <a href="#">Dresses</a>
                <a href="#">Tops</a>
                <a href="#">Jeans</a>
                <a href="#">Jumpsuits</a>
                <a href="#">Shrugs</a>
                <a href="#">Trouser & Capris</a>
                <a href="#">Shorts & Skirts</a>
                <a href="#">Jackets & Coats</a>
              </div>
              <div class="menu">
                <h4> Indian & Fusion Wear</h4>
                <a href="#">Kurta & Suits</a>
                <a href="#">Ethnic Wear</a>
                <a href="#">Sarees</a>
                <a href="#">Skirts</a>
                <a href="#">Jackets</a>
                <a href="#">Dress Materials</a>
                <a href="#">Lehenga Cholis</a>
                <a href="#">Dupattas & Shawls</a>
                <a href="#">Tunics & Tops</a>
                <div class="menu">
                  <h4>Belts, Scraves & More</h4>
                  <h4>Watches & Wearables</h4>
  
                </div>
              </div>
  
              <div class="menu">
                <h4>Footwear</h4>
                <a href="#">Flats</a>
                <a href="#">Heels</a>
                <a href="#">Boots</a>
                <a href="#">Casual Shoes</a>
                <a href="#">Sports Shoes & Floaters</a>
                <div class="b">
                  <h4>Sports & Active Wear</h4>
                  <a href="#">Cloathing</a>
                  <a href="#">Footwear</a>
                  <a href="#">Sports Accessories</a>
                  <a href="#">Sports Equipment</a>
                  <div class="menu">
                    <h4>Plus Sie</h4>
                    <h4>Sunglasses & Frames</h4>
  
                  </div>
                </div>
              </div>
  
  
              <div class="menu">
                <h4>Lingerie & Sleepwear</h4>
                <a href="#">Bra</a>
                <a href="#">Briefs</a>
                <a href="#">Shapewear</a>
                <a href="#">Swimwear</a>
                <a href="#">Sleepwear & Loungewear</a>
                <a href="#">Camisoles & Thermals</a>
                <div class="p">
                  <h4>Beauty & Personal Care</h4>
                  <a href="#">Makeup</a>
                  <a href="#">Skincare</a>
                  <a href="#">Permium Beauty</a>
                  <a href="#">Lipstick</a>
                  <a href="#">Fragrances</a>
                </div>
              </div>
  
              <div class="menu">
                <h4>Gadgets</h4>
                <a href="#">Headphones</a>
                <a href="#">Speaker</a>
                <a href="#">Fitness Gadgets</a>
                <div class="s">
                  <h4>Jewellery</h4>
                  <a href="#">Fashion Jewellery</a>
                  <a href="#">Fine Jewellery</a>
                  <a href="#">Earrings</a>
                </div>
                <div class="d">
                  <h4>Backpacks</h4>
                  <h4>Luggage & Trolley</h4>
                  <h4>Handbags, Bags & Wallets</h4>
                </div>
              </div>
  
            </div>
          </li>
        </a>
  
  
  
  
  
        <a routerLink="/kids">
          <li class="jio">KIDS
            <div class="mega">
              <div class="menu">
                <h5>Boys Clothing</h5>
                <a href="#">T-Shirts</a>
                <a href="#">Shorts</a>
                <a href="#">Shirts</a>
                <a href="#">Jeans</a>
                <a href="#">Trousers</a>
                <a href="#">Clothing Sets</a>
                <a href="#">Ethnic Wear</a>
                <a href="#">Track Pants & Pyjamas</a>
                <a href="#">Innerwear & Sleepwear</a>
              </div>
              <div class="menu">
                <h5>Girls Clothing</h5>
                <a href="#">Dresses</a>
                <a href="#">Top</a>
                <a href="#">Tshirts</a>
                <a href="#">Clothing Sets</a>
                <a href="#">Ethnic Wear</a>
                <a href="#">Skirts & Shorts</a>
                <a href="#">Tights & Leggings</a>
                <a href="#">Innerwear & Sleepwea</a>
                <a href="#">Jeans & Trousers</a>
              </div>
              <div class="menu">
                <h5>Boys Footwear</h5>
                <a href="#">Sport Shoes</a>
                <a href="#">Sandals</a>
                <a href="#">Flip Flop</a>
                <a href="#">School Shoes</a>
                <div class="e">
                  <h5>Girls Footwear</h5>
                  <a href="#">Flats</a>
                  <a href="#">Casual Shoes</a>
                  <a href="#">Sport Shoes</a>
                  <a href="#">Sandals</a>
                  <a href="#">Flip Flop</a>
                  <a href="#">School Shoes</a>
                  <a href="#">Heels</a>
                  <a href="#">Casual Shoes</a>
                </div>
              </div>
              <div class="menu">
                <h5>Infants</h5>
                <a href="#">Romperes & Onensis</a>
                <a href="#">Clothing Sets</a>
                <a href="#">Tshirts & Tops</a>
                <a href="#">Dresses</a>
                <a href="#">Bottom Wear</a>
                <a href="#">Winter Wear</a>
                <a href="#">Infants & Accessories</a>
                <div class="m">
                  <h5>Kids Accessories</h5>
                  <a href="#">Bags & Backpacks</a>
                  <a href="#">Watches</a>
                  <a href="#">Jewellery & Hair Accessories</a>
                  <a href="#">Eyewear</a>
                  <div class="o">
                    <h5>Home & Bath</h5>
                  </div>
                </div>
              </div>
              <div class="menu">
  
                <h5>Brands</h5>
                <a href="#">H & M</a>
                <a href="#">YK</a>
                <a href="#">Gap Kids</a>
                <a href="#">Gini & Jony</a>
                <a href="#">next</a>
                <a href="#">Nike</a>
                <a href="#">Pepe Jeans</a>
                <a href="#">US. Polo Assn. Kids</a>
              </div>
            </div>
          </li>
        </a>
  
        <a routerLink="/home">
          <li class="pop">HOME&LIVING
            <div class="mega">
              <div class="menu">
                <h6>Bed Lines & Furnishing</h6>
                <a href="#">Bedsheets</a>
                <a href="#">Bedding Sets</a>
                <a href="#">Blanket Quilts & Dohras</a>
                <a href="#">Pillows & Pillow Cover</a>
                <a href="#">Bed Covers</a>
                <div class="p">
                  <h6>Flooring</h6>
                  <a href="#">Carpets</a>
                  <a href="#">Floor Mats & Dhurries</a>
                  <a href="#">Door Mats</a>
                </div>
              </div>
              <div class="menu">
                <h6>Bath</h6>
                <a href="#">Bath Towel</a>
                <a href="#">Hand & Face Towel</a>
                <a href="#">Beach Towel</a>
                <a href="#">Towel Set</a>
                <a href="#">Bath Rugs</a>
                <a href="#">Bath Robes</a>
                <a href="#">Bathroom Accessories</a>
                <div class="l">
                  <h6>Lamps & Lighting</h6>
                  <a href="#">Floor Lapms</a>
                  <a href="#">Table Lamps</a>
                  <a href="#">Wall Lamps</a>
                </div>
              </div>
              <div class="menu">
                <h6>Home Decor</h6>
                <a href="#">Plants & Planters</a>
                <a href="#">Clock</a>
                <a href="#">Mirror</a>
                <a href="#">Wall Decor</a>
                <a href="#">Wall Shelves</a>
                <a href="#">Fountain</a>
                <div class="ll">
                  <h6>Cushion & Cushion Cover</h6>
                  <h6>Curtain</h6>
                  <h6>Home Gift Sets</h6>
                </div>
              </div>
              <div class="menu">
                <h6>Kitchen & Table</h6>
                <a href="#">Dinnerware & Serverware</a>
                <a href="#">Cups & Mugs</a>
                <a href="#">Bakeware & Cookware</a>
                <a href="#">Kitchen Storage & Tools</a>
                <a href="#">Bar & Drinkware</a>
                <a href="#">Table Cover & Furnishing</a>
                <div class="op">
                  <h6>Storage</h6>
                  <a href="#">Organiser</a>
                  <a href="#">Hooks & Holders</a>
                </div>
              </div>
              <div class="menu">
                <h6>Brands</h6>
                <a href="#">Bombay Dyeing</a>
                <a href="#">Spaces</a>
                <a href="#">D'Decor</a>
                <a href="#">Swayam</a>
                <a href="#">Maspar</a>
                <a href="#">Corelle</a>
                <a href="#">Trident</a>
                <a href="#">Cortina</a>
                <a href="#">Random</a>
                <a href="#">Ellementry</a>
                <a href="#">ROMEE</a>
              </div>
            </div>
          </li>
        </a>
  
        <a routerLink="/beauty">
          <li class="slop">BEAUTY
            <div class="mega">
              <div class="menu">
                <h1>Makeup</h1>
                <a href="#">Lipstick</a>
                <a href="#">Lip Gloss</a>
                <a href="#">Lip liner</a>
                <a href="#">Mascara</a>
                <a href="#">Eyeliner</a>
                <a href="#">Kajal</a>
                <a href="#">Eyeshadow</a>
                <a href="#">Foundation</a>
                <a href="#">Primer</a>
                <a href="#">Compact</a>
              </div>
              <div class="menu">
                <h1>Skincare, Bath & Body</h1>
                <a href="#">Face Moisturiser</a>
                <a href="#">Cleanser</a>
                <a href="#">Masks & Peel</a>
                <a href="#">Sunscreen</a>
                <a href="#">Serum</a>
                <a href="#">Face Wash</a>
                <a href="#">Eye Cream</a>
                <a href="#">Lip Balm</a>
                <a href="#">Body Wash</a>
                <a href="#">Body Scrub</a>
                <div class="in">
                  <h1>Baby Care</h1>
                  <h1>Masks</h1>
                </div>
              </div>
              <div class="menu">
                <h1>Haircare</h1>
                <a href="#">Shampo</a>
                <a href="#">Conditioner</a>
                <a href="#">Hair Cream</a>
                <a href="#">Hair Oil</a>
                <a href="#">Hair Gel</a>
                <a href="#">Hair Color</a>
                <a href="#">Hair Serum</a>
                <div class="d">
                  <h1>Fragrances</h1>
                  <a href="#">Perfume</a>
                  <a href="#">Deodorant</a>
                  <a href="#">Body Mist</a>
                </div>
              </div>
              <div class="menu">
                <h1>Appliances</h1>
                <a href="#">Hair Straightness</a>
                <a href="#">Hair Dryer</a>
                <a href="#">Epilator</a>
                <div class="r">
                  <h1>Men's Grooming</h1>
                  <a href="#">Trimmers</a>
                  <a href="#">Beared Oil</a>
                  <a href="#">Hair Wax</a>
                  <div class="on">
                    <h1>Beauty Gifts & Makeup Sets</h1>
                    <a href="#">Beauty Gift</a>
                    <a href="#">Makeup Kit</a>
                    <div class="m">
                      <h1>Permium Beauty</h1>
                      <h1>Welleness & Hygiene</h1>
                    </div>
                  </div>
                </div>
              </div>
              <div class="menu">
                <h1>Top Brands</h1>
                <a href="#">Lakeme</a>
                <a href="#">MayBelline</a>
                <a href="#">LOreal</a>
                <a href="#">Phillps</a>
                <a href="#">Bath & Body Works</a>
                <a href="#">The Body Shop</a>
                <a href="#">Nivea</a>
                <a href="#">Biotique</a>
                <a href="#">Lotus Herbals</a>
                <a href="#">M.A.C</a>
                <a href="#">KAMA AYURVEDA</a>
                <a href="#">Forest Essential</a>
              </div>
            </div>
          </li>
        </a>
        <div class="doi">
          <i class="fa fa-search"></i>
          <input type="text" name="" placeholder="Search for products,brands and more">
        </div>
        <div class="opoo">
  
          <li class="jui">Profile
  
            <div class="mega">
              <div class="mnu">
                <h5>Welcome</h5>
                <p>To access account and manage order</p>
                <div class="btk">
                <a routerLink="/login">  <button class="btn">LOGIN / SIGNUP</button></a>
                </div>
                <a href="#">Orders</a>
                <a href="#">Wishlist</a>
                <a href="#">Gift Cards</a>
                <a href="#">Contact Us</a>
  
                <div class="desktop-infoSection" data-reactid="801">
                  <!-- react-text: 802 -->Myntra Insider
                  <!-- /react-text --><span class="desktop-superscriptTag" data-reactid="803"> New </span>
                </div>
                <a href="#">Myantra Credits</a>
                <a href="#">Cupons</a>
                <a href="#">Saved Cards</a>
                <a href="#">Saved Addresses</a>
              </div>
            </div>
  
          </li>
        </div>
        <div class="sil">
          <i class="fa fa-heart-o"></i>
          <div class="oo">
            Wishlist
          </div>
        </div>
  
        <div class="il">
  
          <i class="fa fa-briefcase"></i>
          <div class="ooo">
            Bag
          </div>
        </div>
  
      </ul>
  </div>
  </div>  


  <app-hik></app-hik>
  <app-filt></app-filt>
<app-fooess></app-fooess>
