
<div class="foot">
    <div class="rows">
        <div class="couln">
            <h5>Online Shopping</h5>
            <a href="#">Men</a>
            <a href="#">Women</a>
            <a href="#">Kids</a>
            <a href="#">Home & Living</a> 
            <a href="#">Beauty</a>
            <a href="#">Gift Cards</a>
            <a href="#">Myantra Insider<span class="desktop" data-reactid="32"> New </span></a>
        </div>

        <div class="couln">
            <h5>USEFUL LINKS</h5>
            <a href="#">Contact Us</a>
            <a href="#">FAQ</a>
            <a href="#">T&C</a>
            <a href="#">Terms Of Use</a>
            <a href="#">Track Orders</a>
            <a href="#">Shipping</a>
            <a href="#">Cancellation</a>
            <a href="#">Returns</a>
            <a href="#">Blog</a>
            <a href="#">Careers</a>
            <a href="#">Privacy policy</a>
            <a href="#">Site Map</a>
        </div>

        <div class="couln">
            <h5>EXPERIENCE MYNTRA APP ON MOBILE</h5>
            <span><img class="desktop-androidDownLink"
                    src="https://constant.myntassets.com/web/assets/img/80cc455a-92d2-4b5c-a038-7da0d92af33f1539674178924-google_play.png"></span>
            <span><img class="desktop-iOSDownLink"
                    src="https://constant.myntassets.com/web/assets/img/bc5e11ad-0250-420a-ac71-115a57ca35d51539674178941-apple_store.png"></span>

            <p>KEEP IN TOUCH</p>

            <i class="fa fa-facebook-official"></i>
            <i class="fa fa-youtube-play"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
        </div>

        <div class="couln">
            <div class="dol">
                <img src="https://constant.myntassets.com/web/assets/img/6c3306ca-1efa-4a27-8769-3b69d16948741574602902452-original.png"
                    style="width: 48px; height: 40px;">
                <span><b>100% ORIGINAL</b> guarantee for all products at myntra.com</span>
            </div>

            <div class="dol">
                <img src="https://constant.myntassets.com/web/assets/img/ef05d6ec-950a-4d01-bbfa-e8e5af80ffe31574602902427-30days.png"
                    style="width: 48px; height: 49px;">
                <span> <b>Return within 30days</b> of receiving your order</span>
            </div>
        </div>
    </div>
</div>



<div class="biom">POPOULAR SEARCH</div>
<div class="khanif">
    <a href="#">Makeup</a>
    <a href="#">Dresses For Girls </a>
    <a href="#">T-Shirts </a>
    <a href="#">Sandals </a>
    <a href="#">Headphones </a>
    <a href="#">Babydolls </a>
    <a href="#"> Blazers For Men </a>
    <a href="#">Handbags </a>
    <a href="#">Ladies Watches </a>
    <a href="#"> Bags </a>
    <a href="#">Sport Shoes </a>
    <a href="#">Reebok Shoes</a>
    <a href="#">Puma Shoes</a>
    <a href="#">Boxers </a>
    <a href="#">Wallets </a>
    <a href="#">Tops </a>
    <a href="#">Earrings </a>
    <a href="#">Fastrack Watches </a>
    <a href="#"> Kurtis </a>
    <a href="#">Nike </a>
    <a href="#">Smart Watches </a>
    <a href="#">Titan Watches </a>
    <a href="#">Designer Blouse </a>
    <a href="#">Gowns </a>
    <a href="#">Rings </a>
    <a href="#"> Cricket Shoes </a>
    <a href="#">Forever 21.</a>
    <a href="#">Eye Makeup </a>
    <a href="#">Photo Frames </a>
    <a href="#">Punjabi Suits </a>
    <a href="#"> Bikini </a>
    <a href="#"> Myntra Fashion Show </a>
    <a href="#">Lipstick </a>
    <a href="#">Saree </a>
    <a href="#"> Watches </a>
    <a href="#"> Lehenga </a>
    <a href="#">Designers Sarees</a>
    <a href="#">Dresses For Girls </a>
    <a href="#">T-Shirts </a>
    <a href="#">Sandals </a>
    <a href="#">Headphones </a>
    <a href="#">Babydolls </a>
    <a href="#"> Blazers For Men </a>
</div>


<div class="bil">
    <div class="cal">In case of any concern, <a href="#">Contact Us</a></div>

    <div class="iop">© 2021 www.myntra.com. All rights reserved.</div>
</div>