
<div class="shelt">

    <div class="belt">

        <div class="darling">
            <div class="image-grid-image" style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/13330070/2021/6/18/e569638a-f0bd-4145-966c-40f78e223e7e1624006666103-HRX-By-Hrithik-Roshan-U-17-Girls-Turquoise-Colourblock-Bio-W-1.jpg&quot;);"></div>
            <div class="image-grid-image" style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/13330070/2021/6/18/372ead77-144d-4364-9e4e-c61f35b639721624006666096-HRX-By-Hrithik-Roshan-U-17-Girls-Turquoise-Colourblock-Bio-W-2.jpg&quot;);"></div>
        </div>

        <div class="darling">
            <div class="image-grid-image" style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/13330070/2021/6/18/cb57b6bd-e195-47d3-94d1-2d0cbea159031624006666084-HRX-By-Hrithik-Roshan-U-17-Girls-Turquoise-Colourblock-Bio-W-3.jpg&quot;);"></div>
          
        </div> 

     

    </div>
    <div class="Qwer">
        <div class="huts">
            HRX by Hrithik Roshan
        </div>
        <div class="loi">HRX By Hrithik Roshan U-17 Girls Turquoise Colourblock Bio-Wash Lifestyle Tshirt</div>
        <div class="der">

            <div class="ber">
                3.8 <span class="fa fa-star checked"></span>
            </div>
            <div class="kal">
                <span>|</span>
            </div>
            <div class="koi">
                16 Ratings
            </div>

        </div>
        <hr>
        <div class="kul">
            <div class="bell">Rs.479</div>
            <div class="tyu"> <del>Rs. 799</del></div>
            <div class="de"> (Rs. 320 OFF) </div>
        </div>

        <div class="hit">inclusive of all taxes</div>
 
        <div class="il">
            <p class="virat">MORE COLORS</p>
            <div class="dutt">
                <img class="colors-image" src="https://assets.myntassets.com/f_auto,h_150,q_auto:best,w_112/assets/images/13330038/2021/7/8/18633bee-b7c8-4234-b983-06548a8726d51625740794212-HRX-by-Hrithik-Roshan-Girls-Tshirts-5071625740794033-1.jpg" style="background-color: rgb(159, 168, 171);">
                <img class="colors-image" src="https://assets.myntassets.com/f_auto,h_150,q_auto:best,w_112/assets/images/13349448/2021/6/18/1d6ce02f-25a7-48a1-a832-a63251c2f4901623999386027-HRX-by-Hrithik-Roshan-Girls-Tshirts-9831623999385849-1.jpg" style="background-color: rgb(159, 168, 171);">
            </div>
        </div>

        <div class="shirt">
            <div class="bet">Select size </div>
            <span class="re"> (Age Group)</span>
            <div class="uiy"> size chart <span> > </span> </div>
        </div>

        <div class="wer">
            <div class="kip">
                8.9Y
            </div>
            <div class="kip">
                10-11Y
            </div>
            <div class="kip">
                12-13Y
            </div>
            <div class="kip">
                14-15Y
            </div>

            <div class="kip">
                16-17Y
               
            </div> 
        </div>

        <div class="gtru">
           <a routerLink="/carts"> <button class="bn">
                <span class="myntraweb"><i class="fa fa-shopping-bag"></i></span>
                ADD TO BAG
           </button></a>

            <button class="bk">
              <span class="myntaweb"><i class="fa fa-heart-o"></i></span>
              WISHLIST
            </button>
        </div>

        <div class="ser">
            <h4> <span class="tre"><i class="fa fa-truck"></i></span> Delivery Options </h4>
        </div>

        <div class="sey">
            <input type="text" placeholder="Enter a Pin code">
            <button class="btns">CHECK</button>
        </div>

        <div class="but">
            Please enter PIN code to check delivery time & Pay on Delivery Availability
        </div>

        <div class="hy">
            <div class="ishq">100% Original Products</div>
            <div class="ishq">Pay on delivery might be available</div>
            <div class="ishq">Easy 30 days returns and exchanges</div>
            <div class="ishq">Try & Buy might be available</div>
        </div>

        <div class="gr">
            <div class="swer">
                BEST OFFERS 
            </div>
            <div class="ju">
                Best Price: <span>Rs. 95</span>
            </div>
            <div class="il">
           
                <li class="hill">Applicable on: Orders above Rs. 2499 (only on first purchase)
                </li>
  
                    <li class="hill">Coupon code: <b>MYNTRA400</b>
                </li>
             
                   <li class="hill">Coupon Discount: Rs. 400 off (check cart for final savings)
               </li>
                   <p class="lo">View Eligible Products</p>
            </div>
            <div class="serts">
                <div class="gutd">
                    EMI option available
                </div>
                <div class="i">
                    <li class="hill">EMI starting from Rs.130/month</li>

                    <p class="lo">View Plan</p>
                </div>
            </div>
        </div>
<hr>
        <div class="shall">
            <div class="ball">
                PRODUCT DETAILS 
              
            </div>
            <div class="kite">
           
                <p class="shy">Give your everyday look a sporty twist with the HRX Girl's Athleisure T-shirt. The colourblock design and boxy fit makes this t-shirt easy to style while the bio washed fabric keeps you comfortable all day long.</p>
            </div>
            <div class="uy">
                <b>Features</b>

                <li class="sl">Athleisure T-shirt</li>
                <li class="sl">Bio washed cotton feels soft against the skin.</li>
                <li class="sl">Brand carrier</li>
                <li class="sl">Neck: Round Neck</li>
                <li class="sl">Sleeve length: Short Sleeves </li>
                <li class="sl">Design: Colourblock</li>
                <li class="sl">Length: Regular length </li>
                <li class="sl">Colour: Turquoise, Bright White and Strong Blue</li>
                <li class="sl">Fit: Boxy fit</li>
            </div>

            <div class="hul">
                <div class="juu"><b>Material & Care</b></div>
                <li class="bu">Knit T-Shirt</li>
                <li class="bu">Fabric: 100% Cotton Single Jersey</li>
                <li class="bu">Machine Wash</li>
            </div>
        </div>
        <div class="han">Specification</div>
        <div class="oi">
           
            <div class="qr">
                <div class="bri">Fabric</div>
                <p class="u">Cotton</p>

                <div class="bri">Occasion</div>
                <p class="u">Casual</p>

                <div class="bri">Length</div>
                <p class="u">Regular</p>

                <div class="bri">Multipack Set</div>
                <p class="u">Single</p>
            </div>
            <div class="vr">
                <div class="bri">Fit</div>
                <p class="u">Boxy</p>
                
                <div class="bri">Main Trend </div>
                <p class="u">Typography or Slogan Print</p>

                <div class="bri">Neck</div>
                <p class="u">Round Neck</p>

                <div class="bri">Pattern</div>
                <p class="u">Colourblocked</p>
            </div>
           
        </div>
        <div class="y">See More</div>
        <hr>

           <div class="swet">
               <div class="iu">
                   RATINGS <span class="my"><i class="fa fa-star-o"></i></span>
               </div>
               <div class="chal">
                   <div class="bake">
                       3.8 <span class="fa fa-star"></span>
                       <p class="point">16k Verified Buyers</p>
                   </div>
                   <div class="dal">
                       <div class="pl">
                    <div class="sy">5 <i class="fa fa-star-o"></i></div>
                    <div class="bal-1"></div>
                    <div class="huo right">1030</div>
</div>
<div class="pl">
    <div class="sy">4 <i class="fa fa-star-o"></i></div>
    <div class="bal-2"></div>
    <div class="huo right">384</div>
</div>

<div class="pl">
    <div class="sy">3 <i class="fa fa-star-o"></i></div>
    <div class="bal-3"></div>
    <div class="huo right">95</div>
</div>

<div class="pl">
    <div class="sy">2 <i class="fa fa-star-o"></i></div>
    <div class="bal-4"></div>
    <div class="huo right">39</div>
</div>

<div class="pl">
    <div class="sy">1 <i class="fa fa-star-o"></i></div>
    <div class="bal-5"></div>
    <div class="huo right">87</div>
</div>
                   </div>
               </div>
           </div>
           <hr>

    
        
                 
               <div class="sre">
                   <div class="uio">Customer Reviews (1)</div>
                   <div class="kl">
                       <span class="sj">5 <i class="fa fa-star-o"></i> </span> 
                   <div class="yi">Very Nice product</div>
                   </div>
          
                   <div class="bll">
                       <div class="hll">Hema Sahoo <span class="t">|</span> 9 Aug 2021</div>
                       <div class="tool">
                        <span class="dwe"><i class="fa fa-thumbs-o-up"></i> </span>15 
                        <span class="dwe"><i class="fa fa-thumbs-o-down"></i> </span>1
                       </div>
                   </div>
               </div>



          


 <div class="qs">
    
     <div class="box">Product Code: <b>1330070</b></div>
     <div class="bo">Seller: <span class="supplier-productSellerName">Omnitech Retail</span></div>
     <span class="dol">View Supplier Information</span>
 </div>
    </div>

</div>
