


<!-- <div class="search-box">
    <input class="search-txt" type="text" name="" placeholder="Type to search">
    <a class="search-btn" href="#">
        <i class="fa fa-search"></i>
    </a>
</div> -->

<div class="huio">
    <div class="delta">
   <div class="ui"> BUY PERSONAL CARE</div>
    <div class="koi">
        <p><strong>PERSONAL CARE PRODUCTS AT MYNTRA: FOR EVERY NEED FROM HEAD TO TOE</strong></p>
        <p>You would have experienced the best of footwear, accessories and clothing at Myntra. It is now time to check out our beauty and personal care solutions for every need from head to toe. Whether it is about cleansing, moisturising, adding fragrance or highlighting your features with makeup, you will find the perfect product tailor-made for you, right here at our online store. We bring you the best price personal care options so that you can look good without burning a hole in your pocket.</p>
        <p><strong>MYNTRA’S PERSONAL CARE COLLECTION: A PLETHORA OF TOP-NOTCH BRANDS</strong></p>
        <p>The personal care online range at Myntra features the best of Indian and international brands. This implies that all our products are of top-notch quality and are skin-friendly.</p>
        <p>Check out the following five types of beauty and personal care solutions at Myntra:</p>
        <ul>
            <li><strong>1.&nbsp;</strong>Our men’s personal care section features top-of-the-range solutions specifically formulated for you. Stay fresh with perfumes, deodorants and body sprays. Our body wash and scrubs will help you stay clean and clear every day. Men's skin needs hydration too, and our face moisturisers will keep you feeling young. Check out our body oil selection for a good massage after a long and tiring day.</li>
        <li><strong>2.&nbsp;</strong>For dry skin, have a look at our hydrating solutions for men and women. Repair and rejuvenate your facial skin with effective creams and gels that work through the night or day. Opt for ones with vitamin E and natural extracts which gently work on your skin to reduce blemishes. Go with a moisturising lip balm to keep your lips soft and supple.</li>
        <li><strong>3.&nbsp;</strong>Choose the best of branded cosmetics from our women’s personal care section. Define your beautiful eyes with kajal and eyeliner. Select your lip colour or lipstick which matches with your dress, and mesmerise everyone around you. Use foundation for a clear base before you apply your makeup.</li>
        <li><strong>4.&nbsp;</strong>Style up your lovely locks of hair with personal care appliances. Parlour-style hair is achievable when you use our branded hair dryers. Opt for a sleek look on a date with the help of hair straighteners. This summer, use hair curlers and create a cool and breezy look when dressed in a floral-print dress. Appliances for men such as trimmers help remove unwanted hair.</li>
        <li><strong>5.&nbsp;</strong>Let your little ones stay protected as they step out for long hours of play with sunscreen and sun-block creams. Choose body wash for boys and girls to gently cleanse dirt away. Check out our specialised products for babies which are best suited for their delicate skin.</li>
    </ul>
    <p><strong>BUY PERSONAL CARE PRODUCTS WITH CONVENIENCE</strong></p>
    <p>You can buy personal care products right from the comfort of your home by shopping online at Myntra. Our user-friendly interface makes shopping an enjoyable experience. Furthermore, you can avail the best of personal care brands and varieties under one roof. This would save you the time and effort of having to look for different kinds of products at different places.</p>
    </div>
</div>
<div class="deta">
    <div class="text">PERSONAL CARE PRICE LIST</div>
    <div class="hint">
        <div class="hui"><b>Personal Care</b></div>
            <div class="tri">PRICE (RS)</div>
    </div>

    <div class="hint">
        <div class="hui">Lakme Eyeconic Kajal - Deep Black 0.35 g</div>
            <div class="tri">Rs. 148</div>
    </div>

    <div class="hint">
        <div class="hui">Philips BHH880/10 Heated Straightening Brush with ThermoProtect Technology - Black</div>
            <div class="tri">Rs. 2771</div>
    </div>

    <div class="hint">
        <div class="hui">NIVEA Women Whitening Smooth Skin Roll On Deodorant 50 ml</div>
            <div class="tri">Rs. 129</div>
    </div>

    <div class="hint">
        <div class="hui">Calvin Klein Women Euphoria Eau De Parfum 100ml</div>
            <div class="tri">Rs. 5084</div>
    </div>

    
    <div class="hint">
        <div class="hui">Indulekha Bringha Hair Oil 50 ml</div>
            <div class="tri">Rs. 210</div>
    </div>

    <div class="hint">
        <div class="hui">MISS ROSE 16 Multicoloured Glitter & Matte Eyeshadow Palette 30g 7001-007Z 02</div>
            <div class="tri">Rs. 599</div>
    </div>

    <div class="hint">
        <div class="hui">Denver Men Hamilton - Imperial Hamilton - Sporting Club Goal Deodorants</div>
            <div class="tri">Rs. 436</div>
    </div>

    <div class="hint">
        <div class="hui">MyGlamm Pink Pose HD Blush Duo Coral Punch 9 g</div>
            <div class="tri">Rs. 594</div>
    </div>

    <div class="hint">
        <div class="hui">Maybelline New York Colossal Kajal - Black</div>
            <div class="tri">Rs. 108</div>
    </div>

    <div class="hint">
        <div class="hui">Bio Oil Women Specialist Skin Care Oil 60 ml</div>
            <div class="tri">Rs. 360</div>
    </div>
    <div class="index">
    <div class="hui">Data last updated on 22/07/2021</div>
    </div>
</div>

</div>


<div class="footer">
    <div class="row4">
        <div class="column">
            <h5>Online Shopping</h5>
           <a href="#">Men</a>
            <a href="#">Women</a>
            <a href="#">Kids</a>
            <a href="#">Home & Living</a>
            <a href="#">Beauty</a>
            <a href="#">Gift Cards</a>
            <a href="#">Myantra Insider<span class="desktop-superscript" data-reactid="32"> New </span></a>
        </div>

        <div class="column">
            <h5>USEFUL LINKS</h5>
           <a href="#">Contact Us</a>
            <a href="#">FAQ</a>
            <a href="#">T&C</a>
            <a href="#">Terms Of Use</a>
            <a href="#">Track Orders</a>
            <a href="#">Shipping</a>
            <a href="#">Cancellation</a>
            <a href="#">Returns</a>
            <a href="#">Blog</a> 
            <a href="#">Careers</a>
            <a href="#">Privacy policy</a>
            <a href="#">Site Map</a>
        </div>

        <div class="column">
            <h5>EXPERIENCE MYNTRA APP ON MOBILE</h5>
           <span><img class="desktop-androidDownLink" src="https://constant.myntassets.com/web/assets/img/80cc455a-92d2-4b5c-a038-7da0d92af33f1539674178924-google_play.png"></span>
           <span><img class="desktop-iOSDownLink" src="https://constant.myntassets.com/web/assets/img/bc5e11ad-0250-420a-ac71-115a57ca35d51539674178941-apple_store.png"></span>

           <p>KEEP IN TOUCH</p>
           
      <i class="fa fa-facebook-official"></i>
      <i class="fa fa-youtube-play"></i>
      	<i class="fa fa-twitter"></i>
          <i class="fa fa-instagram"></i>
        </div>

        <div class="column">
          <div class="dol">
            <img src="https://constant.myntassets.com/web/assets/img/6c3306ca-1efa-4a27-8769-3b69d16948741574602902452-original.png" style="width: 48px; height: 40px;">
        <span><b>100% ORIGINAL</b> guarantee for all products at myntra.com</span>
          </div>

          <div class="dol">
            <img src="https://constant.myntassets.com/web/assets/img/ef05d6ec-950a-4d01-bbfa-e8e5af80ffe31574602902427-30days.png" style="width: 48px; height: 49px;">
          <span> <b>Return within 30days</b> of receiving your order</span>
          </div>
       
        </div>
    </div>
</div>


<div class="biom"><b>POPOULAR SEARCH</b></div>
<div class="khanif">
  <a href="#">Makeup</a>
  <a href="#">Dresses For Girls </a>
  <a href="#">T-Shirts </a>
  <a href="#">Sandals </a>
  <a href="#">Headphones </a>
  <a href="#">Babydolls </a>
  <a href="#"> Blazers For Men </a>
  <a href="#">Handbags </a>
  <a href="#">Ladies Watches </a>
  <a href="#"> Bags </a>
  <a href="#">Sport Shoes </a>
  <a href="#">Reebok Shoes</a>
  <a href="#">Puma Shoes</a>
  <a href="#">Boxers </a>
  <a href="#">Wallets </a>
  <a href="#">Tops </a>
  <a href="#">Earrings </a>
  <a href="#">Fastrack Watches </a>
  <a href="#"> Kurtis </a>
  <a href="#">Nike </a>
  <a href="#">Smart Watches </a>
  <a href="#">Titan Watches </a>
  <a href="#">Designer Blouse </a>
  <a href="#">Gowns </a>
  <a href="#">Rings </a>
  <a href="#"> Cricket Shoes </a>
  <a href="#">Forever 21.</a>
  <a href="#">Eye Makeup </a>
  <a href="#">Photo Frames </a>
  <a href="#">Punjabi Suits </a>
  <a href="#"> Bikini </a>
  <a href="#"> Myntra Fashion Show </a>
  <a href="#">Lipstick </a>
  <a href="#">Saree </a>
  <a href="#"> Watches </a>
  <a href="#"> Lehenga </a>
  <a href="#">Designers Sarees</a>
  <a href="#">Dresses For Girls </a>
  <a href="#">T-Shirts </a>
  <a href="#">Sandals </a>
  <a href="#">Headphones </a>
  <a href="#">Babydolls </a>
  <a href="#"> Blazers For Men </a>
</div>

<div class="bil">
    <div class="cal">In case of any concern, <a href="#">Contact Us</a></div>

    <div class="iop">© 2021 www.myntra.com. All rights reserved.</div>
</div>

<button *ngIf="isShow" (click)="gotoTop()"> <i class="fa fa-chevron-up"></i></button>

<div class="hyu">
    <div class="cert"></div>
    <p class="shelt">FLAT ₹300 OFF</p>
</div> 

