<div class="darrt">
    <div class="kim">
        <div class="dt">FILTERS</div>

        <div class="free">
            <li>
                <label class="hun">
                    <mat-radio-button value="1" checked mdbInput>Men</mat-radio-button>
                </label>
            </li>

            <li>
                <label class="hun">
                    <mat-radio-button value="1">Women</mat-radio-button>
                </label>
            </li>

            <li>
                <label class="hun">
                    <mat-radio-button value="1">Boys</mat-radio-button>
                </label>
            </li>

            <li>
                <label class="hun">
                    <mat-radio-button value="1">Girls</mat-radio-button>
                </label>
            </li>
        </div>


        <div class="yui">
            <p class="pin">Categories</p>
            <li>
                <label class="check">
                    <mat-checkbox>Watches</mat-checkbox>
                    <span class="run">(6716)</span>
                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>Smart Watches</mat-checkbox>
                    <span class="run">(6130)</span>
                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>Watch Gift Set</mat-checkbox>
                    <span class="run">(1220)</span>
                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>Watch Organiser</mat-checkbox>
                    <span class="run">(838)</span>
                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>Fitness Brands</mat-checkbox>
                    <span class="run">(816)</span>
                </label>
            </li>


        </div>


        <div class="yui">
            <p class="pin">brands</p>
            <li>
                <label class="check">
                    <mat-checkbox>Daniel Klein</mat-checkbox>
                    <span class="run">(2162)</span>
                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>Titan</mat-checkbox>
                    <span class="run">(1075)</span>
                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>Sonata</mat-checkbox>
                    <span class="run">(831)</span>
                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>CASIO</mat-checkbox>
                    <span class="run">(831)</span>
                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>Chair Covers</mat-checkbox>
                    <span class="run">(816)</span>
                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>CARLINGTON</mat-checkbox>
                    <span class="run">(407)</span>
                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>Fastrack</mat-checkbox>
                    <span class="run">(773)</span>
                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>TIMESMITH</mat-checkbox>
                    <span class="run">(738)</span>
                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>WM</mat-checkbox>
                    <span class="run">(738)</span>
                </label>
            </li>


        </div>

        <div class="ui">
            <div class="yui">
                <p class="pin">Price</p>
                <li>
                    <label class="check">
                        <mat-checkbox>Rs. 299 to Rs. 136081</mat-checkbox>
                        <span class="run">(16225)</span>
                    </label>
                </li>

                <li>
                    <label class="check">
                        <mat-checkbox>Rs. 136081 to Rs. 271863</mat-checkbox>
                        <span class="run">(791)</span>
                    </label>
                </li>

                <li>
                    <label class="check">
                        <mat-checkbox>Rs. 271863 to Rs. 407645</mat-checkbox>
                        <span class="run">(101)</span>
                    </label>
                </li>



            </div>

            <div class="yui">
                <p class="pin">COLOR</p>
                <li>
                    <label class="check">
                        <mat-checkbox>
                            <span data-colorhex="blue" class="colour-label colour-colorDisplay"
                                style="background-color: rgb(0, 116, 217);"></span>
                            Blue
                        </mat-checkbox>
                        <span class="run">(1861)</span>
                    </label>
                </li>

                <li>
                    <label class="check">
                        <mat-checkbox>
                            <span data-colorhex="white" class="colour-label colour-colorDisplay"
                                style="background-color: rgb(255, 255, 255);"></span>
                            White
                        </mat-checkbox>
                        <span class="run">(1727)</span>
                    </label>
                </li>

                <li>
                    <label class="check">
                        <mat-checkbox>
                            <span data-colorhex="brown" class="colour-label colour-colorDisplay"
                                style="background-color: rgb(145, 80, 57);"></span>
                            Brown
                        </mat-checkbox>
                        <span class="run">(1275)</span>
                    </label>
                </li>

                <li>
                    <label class="check">
                        <mat-checkbox>
                            <span data-colorhex="beige" class="colour-label colour-colorDisplay"
                                style="background-color: rgb(232, 230, 207);"></span>
                            Beige
                        </mat-checkbox>
                        <span class="run">(1154)</span>
                    </label>
                </li>

                <li>
                    <label class="check">
                        <mat-checkbox>
                            <span data-colorhex="grey" class="colour-label colour-colorDisplay"
                                style="background-color: rgb(159, 168, 171);"></span>
                            Grey
                        </mat-checkbox>
                        <span class="run">(1044)</span>
                    </label>
                </li>

                <li>
                    <label class="check">
                        <mat-checkbox>
                            <span data-colorhex="green" class="colour-label colour-colorDisplay"
                                style="background-color: rgb(94, 177, 96);"></span>
                            Green
                        </mat-checkbox>
                        <span class="run">(978)</span>
                    </label>
                </li>

                <li>
                    <label class="check">
                        <mat-checkbox>
                            <span data-colorhex="black" class="colour-label colour-colorDisplay"
                                style="background-color: rgb(54, 69, 79);"></span>
                            Black
                        </mat-checkbox>
                        <span class="run">(960)</span>
                    </label>
                </li>




            </div>

            <div class="yui">
                <p class="pin">discount range</p>
                <li>
                    <label class="check">
                        <mat-checkbox>10% and above</mat-checkbox>

                    </label>
                </li>

                <li>
                    <label class="check">
                        <mat-checkbox>20% and above</mat-checkbox>

                    </label>
                </li>

                <li>
                    <label class="check">
                        <mat-checkbox>30% and above</mat-checkbox>

                    </label>
                </li>

                <li>
                    <label class="check">
                        <mat-checkbox>40% and above</mat-checkbox>

                    </label>
                </li>

                <li>
                    <label class="check">
                        <mat-checkbox>50% and above</mat-checkbox>

                    </label>
                </li>

                <li>
                    <label class="check">
                        <mat-checkbox>60% and above</mat-checkbox>

                    </label>
                </li>

                <li>
                    <label class="check">
                        <mat-checkbox>70% and above</mat-checkbox>

                    </label>
                </li>

                <li>
                    <label class="check">
                        <mat-checkbox>80% and above</mat-checkbox>

                    </label>
                </li>


            </div>
        </div>

    </div>

    <div class="sim">

        <div class="kun">
        <div class="din">
          <div class="ver" id="f1" (click)="on('f1')">Bundles<span class="pull-right  down-icon" [class.icon]="id==='f1'"><div class="fa fa-chevron-down"></div></span></div>
          <div class="hit" *ngIf="id==='f1'">
            <li>
                <label class="check">
                    <mat-checkbox>Single Styles</mat-checkbox>

                </label>
            </li>
          </div>
          </div>
        
              <div class="din">
          <div class="ver" id="f2" (click)="on('f2')">Country of Origin<span class="pull-right  down-icon" [class.icon]="id==='f2'"><div class="fa fa-chevron-down"></div></span></div>
          <div class="hit" *ngIf="id==='f2'">
            <li>
                <label class="check">
                    <mat-checkbox>All Countries</mat-checkbox>

                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>India</mat-checkbox>

                </label>
            </li>
          </div>
        </div>

        <div class="din">
            <div class="ver" id="f3" (click)="on('f3')">Size<span class="pull-right  down-icon" [class.icon]="id==='f3'"><div class="fa fa-chevron-down"></div></span></div>
            <div class="hit" *ngIf="id==='f3'">
              <li>
                  <label class="check">
                      <mat-checkbox>26 Mm</mat-checkbox>
  
                  </label>
              </li>
  
              <li>
                  <label class="check">
                      <mat-checkbox>29 Mm</mat-checkbox>
  
                  </label>
              </li>

              <li>
                <label class="check">
                    <mat-checkbox>32 Mm</mat-checkbox>

                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>37 Mm</mat-checkbox>

                </label>
            </li>
            <li>
                <label class="check">
                    <mat-checkbox>39 Mm</mat-checkbox>

                </label>
            </li>
            <li>
                <label class="check">
                    <mat-checkbox>18 Mm</mat-checkbox>

                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>11 Mm</mat-checkbox>

                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>44 Mm</mat-checkbox>

                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>12 Mm</mat-checkbox>

                </label>
            </li>
            <li>
                <label class="check">
                    <mat-checkbox>Onesize</mat-checkbox>

                </label>
            </li>
            <li>
                <label class="check">
                    <mat-checkbox>Pack</mat-checkbox>

                </label>
            </li>
            </div>
          </div>


          <div class="fre">
            <select id="cars" name="cars">
               <option value="volvo">Sort by : <b>Recommended</b> </option>
               <option value="">What's new</option>
               <option value="">Popularity</option>
               <option value="">Better Discount</option>
               <option value="">Price High to Low</option>
               <option value="">Price Low to High</option>
               <option value="">Customer Rating</option>
            </select>
         </div>
</div>

        <div class="hitler">
            <div class="base">
                <carousel>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13471916/2021/2/9/a9a87e2a-f8c8-4953-9e5f-b8c1b8f4ff201612846540076-boAT-Unisex-Black-Storm-Smart-Watch-621612846538704-1.jpg" class="img-responsive" alt="Unisex Storm Smart Watch" title="Unisex Storm Smart Watch">
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/11822152/2020/5/6/9e28ed15-eb22-4206-a543-2b023caff58f1588768941279NOISEUnisexCharcoalBlackNoiseFitEndureSmartWatchWithSilicone1.jpg" class="img-responsive" alt="Unisex NoiseFit Endure Smart Watch With Silicone Strap" title="Unisex NoiseFit Endure Smart Watch With Silicone Strap">
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13234938/2021/1/18/6397c4f9-29b0-45a4-9df9-8c53c2e1334d1610942609680-FitSpark-Unisex-Rosegold--Pink-Eclipse-Super-Retina-Display--1.jpg" class="img-responsive" alt="Unisex Eclipse HD Smartwatch" title="Unisex Eclipse HD Smartwatch">   
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/3/15/4f907083-7463-445d-ba53-895b917040d41615811410589-1.jpg" class="img-responsive" alt="ColorFit Pro 2 Special Edition Smart Watch" title="ColorFit Pro 2 Special Edition Smart Watch">
                    </slide>

                </carousel>
                <div class="vat">
                    Noise</div>
                <div class="col">
                 Pro 2 Smartwatch
                </div>
                <div class="nit">
                    <div class="br">Rs. 1199</div>
                    <div class="hil"><del>Rs. 1999</del></div>
                    <div class="set">(40% OFF)</div>
                </div>
            </div>
            <div class="base">
                <carousel>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13471914/2021/2/9/e8d42e52-9399-4cca-921f-e857b4d23afb1612846567762-boAT-Unisex-Blue-Storm-Smart-Watch-7471612846565655-1.jpg" class="img-responsive" alt="Unisex Storm Smart Watch" title="Unisex Storm Smart Watch">    
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13554306/2021/2/9/50949a48-74ac-4ad4-9e8b-2113dc41dc611612846806711-Realme-Unisex-Black-Smart-Watch-3291612846805955-1.jpg" class="img-responsive" alt="Unisex Smart Watch" title="Unisex Smart Watch">  
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2020/12/19/ea0fa882-8975-4e3e-84f3-46715f42884e1608371417476-1.jpg" class="img-responsive" alt="IGNITE-BLACK" title="IGNITE-BLACK" >
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13365822/2021/1/8/66cff994-d7a9-40be-85cf-f40dbbdcbe961610079651377-TFT-LCDColorDisplay-9261610079651161-1.jpg" class="img-responsive" alt="Unisex Bip U Smart Watch" title="Unisex Bip U Smart Watch">  
                    </slide>

                </carousel>
                <div class="vat">
                  BoAt</div>
                <div class="col">
                 Unisex Storm Smart Watch
                </div>
                <div class="nit">
                    <div class="br">Rs. 2729</div>
                    <div class="hil"><del>Rs. 3799</del></div>
                    <div class="set">(40% OFF)</div>
                </div>
            </div>

            <div class="base">
                <carousel>
                    <slide>
                     <a href="/kart"><img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/9177519/2021/5/22/eab6b4c9-7ee0-41b2-8bf3-c0d56b0121f71621694689268-Armani-Exchange-OUTERBANKS-Men-Black-Analogue-Watch-AX2098-1-15.jpg" class="img-responsive" alt="Men OUTERBANKS Watch" title="Men OUTERBANKS Watch"></a>   
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/6520508/2020/6/13/6b169629-d9a3-4f1b-a647-0dd3a9a140a21592045794988TommyHilfigerMenBlackAnalogueWatchTH1791478_BBD1a1.jpg" class="img-responsive" alt="Men Analogue Watch" title="Men Analogue Watch">   
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/10420046/2019/9/23/a02a95fb-c974-4345-a643-e227683dde8f1569232590044-SCUDERIA-FERRARI-Men-Blue-Analogue-Watch-0830671_1-479156923-1.jpg" class="img-responsive" alt="Men Sf Basics Watch" title="Men Sf Basics Watch">
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/7577157/2021/5/22/706be43f-b79c-4cb5-8f96-3f750133d71b1621695042891-GUESS-Men-Navy-Blue-Analogue-Watch-W1168G4-7781621695042733-15.jpg" class="img-responsive" alt="Men Analogue Watch" title="Men Analogue Watch">
                    </slide>

                </carousel>
                <div class="vat">
                   Armani Exchange</div>
                <div class="col">
                   Men Analogue Watch
                </div>
                <div class="nit">
                    <div class="br">Rs. 1079</div>
                    <div class="hil"><del>Rs. 1799</del></div>
                    <div class="set">(40% OFF)</div>
                </div>
            </div>

            <div class="base">
                <carousel>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/2466431/2019/2/5/97397bf5-d7dd-44b6-b860-db9255cc71c71549348679710-Daniel-Klein-Premium-Men-Black-Analogue-Watch-DK11599-5-1081-1.jpg" class="img-responsive" alt="Men Analogue Watch" title="Men Analogue Watch">   
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/7026146/2019/2/5/727b5bac-dd4e-48e4-a5b0-86ce4eb9ec471549346519478-Daniel-Klein-Men-Blue-Dual-Time-Analogue-Watch-DK11125-5-280-1.jpg" class="img-responsive" alt="Men Dual Time Analogue Watch" title="Men Dual Time Analogue Watch">   
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/2229685/2018/10/29/636ac4d0-da2a-4c6a-82f2-bea8efdfd73d1540810449554-Mast--Harbour-Men-Grey-Analogue-Watch-441540810446444-1.jpg" class="img-responsive" alt="Men Analogue Watch" title="Men Analogue Watch">   
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/2211781/2018/5/17/079642c0-413d-41b5-a612-c154a61492911526537394147-Roadster-Men-Black-Analogue-Watch-PN-LB-9376-3491526537393907-1.jpg" class="img-responsive" alt="Men Analogue Watch" title="Men Analogue Watch">
                    </slide>

                </carousel>
                <div class="vat">
                  Daniel Klein</div>
                <div class="col">
                  Men Analogue Watch
                </div>
                <div class="nit">
                    <div class="br">Rs. 1485</div>
                    <div class="hil"><del>Rs. 3300</del></div>
                    <div class="set">(55% OFF)</div>
                </div>
            </div>



        </div>

        <div class="hitler">
            <div class="base">
                <carousel>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13234938/2021/1/18/6397c4f9-29b0-45a4-9df9-8c53c2e1334d1610942609680-FitSpark-Unisex-Rosegold--Pink-Eclipse-Super-Retina-Display--1.jpg" class="img-responsive" alt="Unisex Eclipse HD Smartwatch" title="Unisex Eclipse HD Smartwatch">     
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/11987192/2020/9/9/5f14d543-345d-40c7-9dc0-1b16bd028de61599657332772-Fitbit-Versa2-Petal--Copper-Rose-Smartwatch-with-Heart-Rate--1.jpg" class="img-responsive" alt="Versa 2 Smartwatch" title="Versa 2 Smartwatch"> 
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13471914/2021/2/9/e8d42e52-9399-4cca-921f-e857b4d23afb1612846567762-boAT-Unisex-Blue-Storm-Smart-Watch-7471612846565655-1.jpg" class="img-responsive" alt="Unisex Storm Smart Watch" title="Unisex Storm Smart Watch">  
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/3/12/b3e9744d-c701-4b9c-9ebe-4041a197d2c11615545700529-1.jpg" class="img-responsive" alt="Touch Screen Smartwatch with HRM &amp; Smart Phone Notification" title="Touch Screen Smartwatch with HRM &amp; Smart Phone Notification">   
                    </slide>

                </carousel>
                <div class="vat">
            Noise</div>
                <div class="col">
              Unisex ColorFit Pro 3 Smartwatch
                </div>
                <div class="nit">
                    <div class="br">Rs. 4500</div>
                    <div class="hil"><del>Rs. 10000</del></div>
                    <div class="set">(55% OFF)</div>
                </div>
            </div>
            <div class="base">
                <carousel>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/7/1/41d640c4-b485-4161-94a3-f944a7ebc7e91625127839457-1.jpg" class="img-responsive" alt="Solid Bluetooth Fitness Smart Watch" title="Solid Bluetooth Fitness Smart Watch">      
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/14809956/2021/7/13/00bec19f-9d81-456f-926b-c18d711361831626173280580SmartWatches1.jpg" class="img-responsive" alt="Smart Watch" title="Smart Watch">  
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/14894178/2021/7/22/65069ef8-dd50-4d59-9fd3-0253eef54ea71626947559104SmartWatches1.jpg" class="img-responsive" alt="Unisex Touch Screen Smartwatch" title="Unisex Touch Screen Smartwatch">
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/7/1/bf8a5895-56e5-4923-81f4-fd709eb194301625128505416-1.jpg" class="img-responsive" alt="Unisex Black Solid Bluetooth Fitness Smart Watch" title="Unisex Black Solid Bluetooth Fitness Smart Watch">  
                    </slide>

                </carousel>
                <div class="vat">
                    French Connection</div>
                <div class="col">
              Unisex Touch Screen Smartwatch
                </div>
                <div class="nit">
                    <div class="br">Rs. 4500</div>
                    <div class="hil"><del>Rs. 10000</del></div>
                    <div class="set">(55% OFF)</div>
                </div>
            </div>

            <div class="base">
                <carousel>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/14858184/2021/7/23/7182be2b-fdf9-4298-a0d0-66e3a1b8e0941627049350733-AMAZFIT-T-REX-PRO-SMART-WATCH-METEORITE-BLACK-82616270493504-1.jpg" class="img-responsive" alt="T-Rex Pro Smart Watch" title="T-Rex Pro Smart Watch">     
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/14858172/2021/7/23/04674663-9f0a-4f60-b271-9352840d8e9c1627049205754-AMAZFIT-T-REX-PRO-SMART-WATCH-STEEL-BLUE-8311627049205436-1.jpg" class="img-responsive" alt="T-Rex Pro Smart Watch" title="T-Rex Pro Smart Watch">  
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/12413204/2020/9/8/0ada9d85-a5ca-4a57-b95f-f049632d7c921599541693004-Corning-Gorilla-3-tempered-glass--anti-fingerprint-coating-4-1.jpg" class="img-responsive" alt="Unisex T-Rex Smartwatch" title="Unisex T-Rex Smartwatch">
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/12413200/2020/9/8/23bbb8e5-1ed1-4006-817a-f2f4264a75fa1599541749114-Corning-Gorilla-3-tempered-glass--anti-fingerprint-coating-4-1.jpg" class="img-responsive" alt="Unisex T-Rex Smartwatch" title="Unisex T-Rex Smartwatch">
                    </slide>

                </carousel>
                <div class="vat">
                AmaFit</div>
                <div class="col">
                  Unisex T-Rex Smartwatch
                </div>
                <div class="nit">
                    <div class="br">Rs. 4275</div>
                    <div class="hil"><del>Rs. 9500</del></div>
                    <div class="set">(55% OFF)</div>
                </div>
            </div>

            <div class="base">
                <carousel>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/9177519/2021/5/22/eab6b4c9-7ee0-41b2-8bf3-c0d56b0121f71621694689268-Armani-Exchange-OUTERBANKS-Men-Black-Analogue-Watch-AX2098-1-15.jpg" class="img-responsive" alt="Men OUTERBANKS Watch" title="Men OUTERBANKS Watch">      
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/6520508/2020/6/13/6b169629-d9a3-4f1b-a647-0dd3a9a140a21592045794988TommyHilfigerMenBlackAnalogueWatchTH1791478_BBD1a1.jpg" class="img-responsive" alt="Men Analogue Watch" title="Men Analogue Watch">   
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/10420046/2019/9/23/a02a95fb-c974-4345-a643-e227683dde8f1569232590044-SCUDERIA-FERRARI-Men-Blue-Analogue-Watch-0830671_1-479156923-1.jpg" class="img-responsive" alt="Men Sf Basics Watch" title="Men Sf Basics Watch">
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/7577157/2021/5/22/706be43f-b79c-4cb5-8f96-3f750133d71b1621695042891-GUESS-Men-Navy-Blue-Analogue-Watch-W1168G4-7781621695042733-15.jpg" class="img-responsive" alt="Men Analogue Watch" title="Men Analogue Watch">
                    </slide>

                </carousel>
                <div class="vat">
                   Armani Exchange</div>
                <div class="col">
                  Men OUTBREAKS Watch
                </div>
                <div class="nit">
                    <div class="br">Rs. 999</div>
                    <div class="hil"><del>Rs. 2999</del></div>
                    <div class="set">(Rs. 2000 OFF)</div>
                </div>
            </div>



        </div>


        <div class="hitler">
            <div class="base">
                <carousel>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/9460137/2019/10/5/333dc69e-3e2e-4bf0-9c68-02c9e314f97c1570274205423-Roadster-Men-Black-Multi-Function-Analogue-and-Digital-Watch-1.jpg" class="img-responsive" alt="Men Analogue and Digital Watch" title="Men Analogue and Digital Watch">    
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/1630943/2017/2/23/11487846674479-RDSTR-Men-Charcoal-Grey-Chronograph-Watch-MFB-PN-WTH1606-B-9241487846674292-1.jpg" class="img-responsive" alt="Men Chronograph Watch" title="Men Chronograph Watch">
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/9460069/2019/12/20/2170285b-45c8-4a7a-8f25-6c194e5dd6de1576838875775-Roadster-Men-Black-Analogue-and-Digital-Watch-MFB-PN-SM-1545-1.jpg" class="img-responsive" alt="Men Analogue and Digital Watch" title="Men Analogue and Digital Watch">
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/9460081/2019/8/29/81716c3a-ad13-4de1-8c94-ac31e1dab9ee1567079061674-Roadster-Men-Watches-1461567079060877-1.jpg" class="img-responsive" alt="Men Analogue and Digital Watch" title="Men Analogue and Digital Watch">  
                    </slide>

                </carousel>
                <div class="vat">
                   Roadster</div>
                <div class="col">
                    Men Analogue and Digital Watch
                </div>
                <div class="nit">
                    <div class="br">Rs. 1869</div>
                    <div class="hil"><del>Rs. 3399</del></div>
                    <div class="set">(45% OFF)</div>
                </div>
            </div>
            <div class="base">
                <carousel>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/11231294/2020/3/30/690cdf2a-4dc9-4109-b577-c26f6cf8c0da1585543957202-Mast--Harbour-Unisex-Green-Analogue-Watch-MFB-PN-PF-DK2749-3-1.jpg" class="img-responsive" alt="Unisex Analogue Watch" title="Unisex Analogue Watch"> 
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/12506370/2020/12/14/32b2d508-aedc-4ae2-829b-0b7b1614afbf1607942912924-Mast--Harbour-Unisex-Blue-Analogue-Watch-MFB-PN-SM-03-795160-1.jpg" class="img-responsive" alt="Unisex Analogue Watch" title="Unisex Analogue Watch"> 
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/8353671/2019/6/19/43e8dfd3-e089-45bb-95b6-fb9e5626c2391560948341412-Mast--Harbour-Unisex-Navy-Analogue-Watch-MFB-PN-LB-7008-5901-1.jpg" class="img-responsive" alt="Unisex Analogue Watch" title="Unisex Analogue Watch">  
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/12506374/2020/12/14/93970bb2-bfc6-4d39-89ba-66168975b4d61607942918721-Mast--Harbour-Unisex-Blue-Analogue-Watch-MFB-PN-SM-04-502160-1.jpg" class="img-responsive" alt="Unisex Analogue Watch" title="Unisex Analogue Watch">
                    </slide>

                </carousel>
                <div class="vat">
             Mast & Harbour</div>
                <div class="col">
                   Unisex Analogue watch
                </div>
                <div class="nit">
                    <div class="br">Rs. 2925</div>
                    <div class="hil"><del>Rs. 6500</del></div>
                    <div class="set">(55% OFF)</div>
                </div>
            </div>

            <div class="base">
                <carousel>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2020/12/14/4326c026-842b-427f-8a01-ec7b54121a2d1607965064750-1.jpg" class="img-responsive" alt="Unisex ColoFit Pro 3 Smartwatch" title="Unisex ColoFit Pro 3 Smartwatch">   
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2020/12/14/7031e27a-3f05-472b-8f92-bb86707b228c1607960084926-1.jpg" class="img-responsive" alt="Unisex ColorFit Pro 3 1.55 Inch Display Smartwatch with 5.0 Bluetooth Version" title="Unisex ColorFit Pro 3 1.55 Inch Display Smartwatch with 5.0 Bluetooth Version">  
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/10769098/2019/10/17/4e8dc285-fce6-4d57-b058-d79d2132eb271571294516344-NOISE-Black-ColorFit-Pro-2-Active-Smartwatch-324157129451526-1.jpg" class="img-responsive" alt="Pro 2 Smartwatch" title="Pro 2 Smartwatch">
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13365822/2021/1/8/66cff994-d7a9-40be-85cf-f40dbbdcbe961610079651377-TFT-LCDColorDisplay-9261610079651161-1.jpg" class="img-responsive" alt="Unisex Bip U Smart Watch" title="Unisex Bip U Smart Watch"> 
                    </slide>

                </carousel>
                <div class="vat">
                  Noise</div>
                <div class="col">
                Unisex Solid ColorFit pro 3 Smartwatch
                </div>
                <div class="nit">
                    <div class="br">Rs. 1869</div>
                    <div class="hil"><del>Rs. 3399</del></div>
                    <div class="set">(45% OFF)</div>
                </div>
            </div>

            <div class="base">
                <carousel>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/14653626/2021/7/18/f6f1b7b8-39a3-4423-a9ba-5c302db9188d1626590722135-FCUK-Unisex-Blue-Analogue-Watch-FC175P-9161626590721804-1.jpg" class="img-responsive" alt="Unisex Analogue Watch" title="Unisex Analogue Watch">  
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/14653628/2021/7/18/1b37d053-3e0e-4c63-b935-787308b82f011626590732762-FCUK-Unisex-Blue-Analogue-Watch-FC175U-6661626590732440-1.jpg" class="img-responsive" alt="Unisex Analogue Watch" title="Unisex Analogue Watch">  
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/14595072/2021/7/18/29fb9910-3c1f-47b1-8cc0-ff54edf227d51626590581468-FCUK-Adult-Black-Printed-Dial--Black-Straps-Analogue-Watch-7-1.jpg" class="img-responsive" alt="Adult Black Analogue Watch" title="Adult Black Analogue Watch"> 
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/14595076/2021/7/18/8a93a05a-abf4-499e-b6cd-c85ccbb5e7391626590599236-FCUK-Unisex-Black-Printed-Dial--Black-Wrap-Around-Straps-Ana-1.jpg" class="img-responsive" alt="Unisex Watch" title="Unisex Watch">  
                    </slide>

                </carousel>
                <div class="vat">
                    FCUK</div>
                <div class="col">
                    Unisex Watch
                </div>
                <div class="nit">
                    <div class="br">Rs. 1079</div>
                    <div class="hil"><del>Rs. 1799</del></div>
                    <div class="set">(40% OFF)</div>
                </div>
            </div>



        </div>

        <div class="hitler">
            <div class="base">
                <carousel>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/9460189/2019/10/5/a0beac67-7eab-4cd9-91a4-b419df2cb5781570274216119-Roadster-Men-Black-Analogue-and-Digital-Watch-MFB-PN-SM-1708-1.jpg" class="img-responsive" alt="Men Analogue and Digital Watch" title="Men Analogue and Digital Watch">       
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/9460049/2019/10/5/c47398e2-72a5-45a4-bcb5-dd58adee9b161570274183766-Roadster-Men-Black-Multi-Function-Analogue-and-Digital-Watch-1.jpg" class="img-responsive" alt="Men Analogue and Digital Watch" title="Men Analogue and Digital Watch">
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/1630942/2017/2/23/11487846661634-RDSTR-Men-Charcoal-Grey-Chronograph-Watch-MFB-PN-WTH1606-A-7551487846661480-1.jpg" class="img-responsive" alt="Men Chronograph Watch" title="Men Chronograph Watch">  
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/1630943/2017/2/23/11487846674479-RDSTR-Men-Charcoal-Grey-Chronograph-Watch-MFB-PN-WTH1606-B-9241487846674292-1.jpg" class="img-responsive" alt="Men Chronograph Watch" title="Men Chronograph Watch"> 
                    </slide>

                </carousel>
                <div class="vat">
                    Roadster</div>
                <div class="col">
                   Men Analogue and Digital Watch
                </div>
                <div class="nit">
                    <div class="br">Rs. 1530</div>
                    <div class="hil"><del>Rs. 3400</del></div>
                    <div class="set">(55% OFF)</div>
                </div>
            </div>
            <div class="base">
                <carousel>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/2087285/2019/11/29/98565725-11dc-4bf7-bd09-eb81c1627f571575026080891-Tommy-Hilfiger-Men-Navy-Blue-Analogue-Watch-TH1791381-409157-1.jpg" class="img-responsive" alt="Men Analogue Watch" title="Men Analogue Watch">   
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/8063367/2018/12/26/db444c48-c8aa-4fc3-92b4-02b66f4643dd1545820130218-Armani-Exchange-Men-Black-Analogue-Watch-6211545820128996-1.jpg" class="img-responsive" alt="Men Analogue Watch" title="Men Analogue Watch">
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/9177519/2021/5/22/eab6b4c9-7ee0-41b2-8bf3-c0d56b0121f71621694689268-Armani-Exchange-OUTERBANKS-Men-Black-Analogue-Watch-AX2098-1-15.jpg" class="img-responsive" alt="Men OUTERBANKS Watch" title="Men OUTERBANKS Watch">   
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/images/style/properties/DIESEL-Men-Watches_ea9b804d5b398d2ec550150337d08ff5_images.jpg" class="img-responsive" alt="Watches" title="Watches">
                    </slide>

                </carousel>
                <div class="vat">
                 Tommy Hilfiger</div>
                <div class="col">
                Men Analogue Watch
                </div>
                <div class="nit">
                    <div class="br">Rs. 1530</div>
                    <div class="hil"><del>Rs. 3400</del></div>
                    <div class="set">(55% OFF)</div>
                </div>
            </div>

            <div class="base">
                <carousel>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13554304/2021/2/9/38e350d2-d345-4768-a9cb-1377318c96d21612846785215-Realme-Unisex-Black-S-Pro-Smart-Watch-1061612846784120-1.jpg" class="img-responsive" alt="Unisex S Pro Smart Watch" title="Unisex S Pro Smart Watch">   
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13413748/2021/3/2/d2c12c1f-39db-41a9-bf12-2ed1c42106541614687937964-CrossBeats-Unisex-Grey--Green-Digital-Smart-Watch-5691614687-1.jpg" class="img-responsive" alt="Unisex Digital Smart Watch" title="Unisex Digital Smart Watch">
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13176866/2021/3/2/59749d25-7ca4-44d7-9fde-bc1d3e9a92fd1614687919999-CrossBeats-Unisex-Black-Activity-Tracker-Sensor-Digital-Smar-1.jpg" class="img-responsive" alt="Unisex Activity Tracker Sensor Digital Smartwatch" title="Unisex Activity Tracker Sensor Digital Smartwatch">
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/11822152/2020/5/6/9e28ed15-eb22-4206-a543-2b023caff58f1588768941279NOISEUnisexCharcoalBlackNoiseFitEndureSmartWatchWithSilicone1.jpg" class="img-responsive" alt="Unisex NoiseFit Endure Smart Watch With Silicone Strap" title="Unisex NoiseFit Endure Smart Watch With Silicone Strap">
                    </slide>

                </carousel>
                <div class="vat">
                 Realme</div>
                <div class="col">
                Unisex Smart Watch
                </div>
                <div class="nit">
                    <div class="br">Rs. 1079</div>
                    <div class="hil"><del>Rs. 1799</del></div>
                    <div class="set">(40% OFF)</div>
                </div>
            </div>

            <div class="base">
                <carousel>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13554304/2021/2/9/38e350d2-d345-4768-a9cb-1377318c96d21612846785215-Realme-Unisex-Black-S-Pro-Smart-Watch-1061612846784120-1.jpg" class="img-responsive" alt="Unisex S Pro Smart Watch" title="Unisex S Pro Smart Watch" >
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/12413204/2020/9/8/0ada9d85-a5ca-4a57-b95f-f049632d7c921599541693004-Corning-Gorilla-3-tempered-glass--anti-fingerprint-coating-4-1.jpg" class="img-responsive" alt="Unisex T-Rex Smartwatch" title="Unisex T-Rex Smartwatch">   
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/12413202/2020/9/8/235e5a42-c910-4b4d-ae63-915f3582da011599541708321-Corning-Gorilla-3-tempered-glass--anti-fingerprint-coating-6-1.jpg" class="img-responsive" alt="Unisex T-Rex Smartwatch" title="Unisex T-Rex Smartwatch">
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13966344/2021/4/14/036bd743-e5e4-42a6-bfa6-86e6462655461618391216344-AMAZFIT-GTS-2-SMARTWATCH-URBAN-GREY-3231618391215547-1.jpg" class="img-responsive" alt="Unisex GTS 2 Smart Watch" title="Unisex GTS 2 Smart Watch">    
                    </slide>

                </carousel>
                <div class="vat">
                    AMAZFIT</div>
                <div class="col">
                  Unisex GTR 2 Smartwatch
                </div>
                <div class="nit">
                    <div class="br">Rs. 4049</div>
                    <div class="hil"><del>Rs. 4499</del></div>
                    <div class="set">(10% OFF)</div>
                </div>
            </div>



        </div>

        <div class="hitler">
            <div class="base">
                <carousel>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2019/11/18/3aa66094-ff20-4832-ba76-5397f3d0f6bf1574068308824-1.jpg" class="img-responsive" alt="Men Smart Watch" title="Men Smart Watch"> 
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2019/11/15/b5a50322-379c-4055-b465-f3c61592cc7c1573837352214-1.jpg" class="img-responsive" alt="Men Silicone Touchscreen Swim-Proof Smartwatch" title="Men Silicone Touchscreen Swim-Proof Smartwatch"> 
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/12665520/2020/10/1/0c90a152-353b-4c8a-828f-1d1dd01238651601536343326-Armani-Exchange-Drexler-Red-Smartwatch-AXT2006-8341601536342-1.jpg" class="img-responsive" alt="Drexler Smartwatch AXT2006" title="Drexler Smartwatch AXT2006">
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2019/9/22/bf7b9c2f-61dc-4c0e-bbfa-c981bc53e2af1569132412740-1.jpg" class="img-responsive" alt="Men Gen 5 Digital Leather Smartwatch" title="Men Gen 5 Digital Leather Smartwatch">
                    </slide>

                </carousel>
                <div class="vat">
                     DIESEL</div>
                <div class="col">
                  Men Smart Watch
                </div>
                <div class="nit">
                    <div class="br">Rs. 1199</div>
                    <div class="hil"><del>Rs. 1999</del></div>
                    <div class="set">(40% OFF)</div>
                </div>
            </div>
            <div class="base">
                <carousel>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/4/27/cc122978-4886-44ac-9947-d256aa5d08851619507176696-1.jpg" class="img-responsive" alt="Men Analogue Watch" title="Men Analogue Watch" >  
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/3/9/b375e12f-efc2-4738-9750-48d0d03540dc1615279896103-1.jpg" class="img-responsive" alt="Men Analogue Watch" title="Men Analogue Watch" >
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/2046071/2017/9/5/11504609800772-GIORDANO-Men-Brown-Analogue-Watch-3351504609800592-1.jpg" class="img-responsive" alt="Men Analogue Watch" title="Men Analogue Watch">
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/1708101/2021/8/19/abe54745-4e61-4135-9580-0ace811432b11629337642003-GIORDANO-Men-Blue-Analogue-Watch-FA1051-33-6761629337641909-11.jpg" class="img-responsive" alt="Watches" title="Watches">   
                    </slide>

                </carousel>
                <div class="vat">
                  GIORDANO</div>
                <div class="col">
           Men Analogue Watch
                </div>
                <div class="nit">
                    <div class="br">Rs. 1800</div>
                    <div class="hil"><del>Rs. 4500</del></div>
                    <div class="set">(55% OFF)</div>
                </div>
            </div>

            <div class="base">
                <carousel>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/6839128/2018/7/3/ed6a941c-d29f-4507-872f-612e8aa7f8da1530615001993-Analog-3571530615001897-1.jpg" class="img-responsive" alt="Men Analogue Watch" title="Men Analogue Watch" >  
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2019/12/15/02ac4718-6372-4501-9102-e66966f1bb5b1576367247010-1.jpg" class="img-responsive" alt="Men Analogue Watch" title="Men Analogue Watch">   
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/4/6/7eec0ff2-a566-43d6-a169-159c044cf3591617713831995-1.jpg" class="img-responsive" alt="Men Analogue Watch" title="Men Analogue Watch">
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/11757250/2020/3/27/6525d707-d3f4-4d36-9c0a-1fa9135fa2841585306426916FOCEMenBlackAnalogueWatchF952GBL1.jpg" class="img-responsive" alt="Men Analogue Watch" title="Men Analogue Watch"> 
                    </slide>

                </carousel>
                <div class="vat">
                   FOCE</div>
                <div class="col">
                   Men Analogue Watch
                </div>
                <div class="nit">
                    <div class="br">Rs. 4365</div>
                    <div class="hil"><del>Rs. 9700</del></div>
                    <div class="set">(55% OFF)</div>
                </div>
            </div>

            <div class="base">
                <carousel>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/1630943/2017/2/23/11487846674479-RDSTR-Men-Charcoal-Grey-Chronograph-Watch-MFB-PN-WTH1606-B-9241487846674292-1.jpg" class="img-responsive" alt="Men Chronograph Watch" title="Men Chronograph Watch">   
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/9460049/2019/10/5/c47398e2-72a5-45a4-bcb5-dd58adee9b161570274183766-Roadster-Men-Black-Multi-Function-Analogue-and-Digital-Watch-1.jpg" class="img-responsive" alt="Men Analogue and Digital Watch" title="Men Analogue and Digital Watch">  
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/9460069/2019/12/20/2170285b-45c8-4a7a-8f25-6c194e5dd6de1576838875775-Roadster-Men-Black-Analogue-and-Digital-Watch-MFB-PN-SM-1545-1.jpg" class="img-responsive" alt="Men Analogue and Digital Watch" title="Men Analogue and Digital Watch">
                    </slide>
                    <slide>
                        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/9460189/2019/10/5/a0beac67-7eab-4cd9-91a4-b419df2cb5781570274216119-Roadster-Men-Black-Analogue-and-Digital-Watch-MFB-PN-SM-1708-1.jpg" class="img-responsive" alt="Men Analogue and Digital Watch" title="Men Analogue and Digital Watch"> 
                    </slide>

                </carousel>
                <div class="vat">
                    Roadster</div>
                <div class="col">
                  Men Chornograph watch
                </div>
                <div class="nit">
                    <div class="br">Rs. 3015</div>
                    <div class="hil"><del>Rs. 6700</del></div>
                    <div class="set">(55% OFF)</div>
                </div>
            </div>
 </div>
 </div>
</div>