
  <div class="oil"><a>Knockout Deals</a></div>
<div class="koi">
  
<div class="doi">
      <a routerLink="/brandsclothes"> <img src="assets/img/fils.jpg">
   </a> </div>

    <div class="doi">
        <img src="assets/img/anok.webp">
    </div>

    <div class="doi">
        <img src="assets/img/o.jpg">
    </div>

    <div class="doi">
        <img src="assets/img/lotus.webp">
    </div>

    <div class="doi">
        <img src="assets/img/gym.webp">
    </div>
    
</div>



<div class="il"><img class="image-image undefined " src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/7f4ea9b7-6406-4669-93ba-8ffcb4633e7c1625064131961-Offers-In-The-Spotlight.jpg" srcset=""></div>
<div class="kyi">
  
<div class="di">
    <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/3b13db96-1a78-4c6a-8c35-a914bb3f61011624939536687-Kurta-Sets-W-.jpg" srcset="">
    </div>

    <div class="di">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/d6dc1a8e-9d01-4323-9cd1-54eb4f63e76c1624939894981-Tops.jpg" srcset="">
    </div>

    <div class="di">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/56830817-dda8-4f6d-95be-bc69749a46231624938887488-Dresses.jpg" srcset="">
    </div>

    <div class="di">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/92a27106-318f-4ed5-9f77-fe1f05a837f81624941290865-Watches.jpg" srcset="">
    </div>

    <div class="di">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/4a933288-a45b-4ca7-a961-3893f76568001624939536668-Kidswear.jpg" srcset="">
    </div>
    
</div>

<div class="kyi">
  
    <div class="din">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/3bdbef50-6d1e-44de-a472-3ea2bc35a7ac1624938887529-Girls-Dresses.jpg" srcset="">
        </div>
    
        <div class="din">
            <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/399165cb-9983-4781-942c-98c40538df111624941290847-T-Shirts-W-.jpg" srcset="">
        </div>
    
        <div class="din">
            <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/f42a1c24-2b9b-4d9e-8aa2-4e7ef8d12c0d1624938887456-Belts-_-Wallets.jpg" srcset="">
        </div>
    
        <div class="din">
            <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/9654a6eb-6bdd-43da-b6da-b67a466ba0ab1624938887482-Deodorants.jpg" srcset="">
        </div>
    
        <div class="din">
            <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/2ed907c8-ad21-4d48-8e4d-9914452bf44b1624942694557-Shorts-M-2.jpg" srcset="">
        </div>
        
    </div>