.hio img{
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    cursor: pointer;
}

.pi{
    display: flex;
    cursor: pointer;
 
}

.sri img{
    height: 322px;
    width: 242px;
   margin-top: 35%;
    padding: 5px 26px;
}

.sri{
    margin-left: 24px;
}

.srii img{
    height: 322px;
    width: 242px;
 
    padding: 5px 20px;
}
.srii{
    margin-left: 24px;
}
