<div class="hio"><img class="image-image undefined " src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/c4f22488-cf49-4677-a0d5-af73eeb40fe21625063264888-Shop-for-her.jpg" srcset=""></div>

<div class="pi"> 
    <div class="sri">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/3eaaba63-adf6-485a-8fb1-0af1f0cc922e1625049490173-2-Kurta---Kurta-Sets.jpg" srcset="">
    </div>

    <div class="sri">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/fab3a7a5-23e4-4a19-9ffd-fb9ca279741d1625049490166-2-Sarees.jpg" srcset="">
    </div>

    <div class="sri">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/fb26bae6-1dd5-4db7-831f-b255a2d012601625049490161-2-Dresses-w-.jpg" srcset="">
    </div>

    <div class="sri">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/d8e05bde-a32e-4d3e-9846-1ad09707528c1625049490154-2-Lingerie.jpg" srcset="">
    </div>

    <div class="sri">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/8e940bf6-7c06-47f3-8825-1c6051ca3f621625049490147-2-Nightwear.jpg" srcset="">
    </div>
</div>

<div class="pi">
    <div class="srii">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/9262bb21-a1e7-462b-a02e-9dd3e19b94471625049490139-2-Jewellery.jpg" srcset="">  
    </div>

    <div class="srii">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/a8568d29-f12c-4b65-849f-b1afb336472f1625049490131-2-Tops.jpg" srcset=""> 
    </div>

    <div class="srii">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/5b448143-1ad1-47e2-83a2-694514265f8a1625049490124-2-Handbags.jpg" srcset="">   
    </div>

    <div class="srii">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/9066d010-a92c-4f3d-bcf4-95c7fad409511625049490118-2-Trackpants---Shorts.jpg" srcset=""> 
    </div>

    <div class="srii">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/a9b69143-8584-4c23-b29c-41825cca5b8f1625049490110-2-Flip-Flops.jpg" srcset="">
    </div>
</div>  


<div class="hio"><img class="image-image undefined " src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/051379df-0964-4b0a-9b8b-c96b44cd46191625063264895-Shop-for-him.jpg" srcset=""></div>

<div class="pi">
    <div class="sri">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/a22594cd-ac62-4cf6-993f-4d8bb2ad204f1625028032363-1-T-Shirts-M-.jpg" srcset="">
    </div>

    <div class="sri">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/508094a7-39ea-47bf-b159-5cd8c1213d7e1625028256499-1-Loungewear-M-.jpg" srcset="">
    </div>

    <div class="sri">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/840b575f-86eb-4170-bdc6-715166d8efec1625028256491-1-Shirts-M-.jpg" srcset="">
    </div>

    <div class="sri">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/74f551f4-f629-42e1-81d9-efa42909c6161625028256484-1-Innerwear-M-.jpg" srcset=""> 
    </div>

    <div class="sri">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/9f02b0d6-520c-4962-81f2-91324a36876f1625028256476-1-Trackpants-M-.jpg" srcset="">  
    </div>
</div>

<div class="pi">
    <div class="srii">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/add45379-98b6-4141-b200-86227bb614441625028256471-1-Flip-Flops-M-.jpg" srcset="">    
    </div>

    <div class="srii">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/cdc2f5d5-dce9-4511-bb37-94b8b125d7dc1625028256465-1-Shorts-M-.jpg" srcset="">  
    </div>

    <div class="srii">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/fdf73cd0-901a-4a97-87bf-1258a37b152f1625028256459-1-Sports-Shoes-M-.jpg" srcset="">
    </div>

    <div class="srii">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/dae8294e-8da0-40f2-a2a1-44909ff302cb1625028256452-1-Kurtas---Kurta-Sets-M-.jpg" srcset=""> 
    </div>

    <div class="srii">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/e0fc5d7d-e09b-4ff8-b268-a1cdaf480c4e1625028256446-1-Suits---Blazers-M-.jpg" srcset="">
    </div>
</div>