

.darr{
    margin-left: 20px;
    padding-top: 40px;
    height: 60px;
    
}

.loil{
    text-decoration: none;
    color: black;
    padding: 3px;
   font-style: italic;
   position: relative;
}


 .loil::before{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 0px;
    height: 2px;
    background-color: grey;
    transition: all 0.5s linear;
}

.loil:hover::before{
    width: 100%;
}

  