


<div class="shelt">

    <div class="belt">

        <div class="darling">
            <div class="image-grid-image" style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/10393703/2019/8/22/15b3906b-18cc-4823-92d8-197f90aef5451566477717216-Priyaasi-Women-Set-of-2-Off-White-Gold-Plated-Beaded-Handcra-1.jpg&quot;);"></div>
            <div class="image-grid-image" style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/10393703/2019/8/22/4d5a3cb4-3f80-4d56-a121-7d732b21578d1566477717201-Priyaasi-Women-Set-of-2-Off-White-Gold-Plated-Beaded-Handcra-2.jpg&quot;);"></div>
        </div>

        <div class="darling">
            <div class="image-grid-image" style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/10393703/2019/8/22/039b0b6f-5c34-4b73-93ac-0e377bfdc31e1566477717182-Priyaasi-Women-Set-of-2-Off-White-Gold-Plated-Beaded-Handcra-3.jpg&quot;);"></div>
            <div class="image-grid-image" style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/10393703/2019/8/22/cd58274d-7705-4c6f-af5b-2a6eced3841a1566477717166-Priyaasi-Women-Set-of-2-Off-White-Gold-Plated-Beaded-Handcra-4.jpg&quot;);"></div>
        </div> 

        <div class="darling">
            <div class="image-grid-image" style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/10393703/2020/2/3/299b0810-c0f4-44ef-99d6-d584cdb0db8e1580721678901-Priyaasi-Women-Set-of-2-Off-White-Gold-Plated-Beaded-Handcra-6.jpg&quot;);"></div>
           
        </div>

       
    </div>
    <div class="Qwer">
        <div class="huts">
            Priyaasi
        </div>
        <div class="loi">Women Set of 2 Off-White Gold-Plated Beaded Handcrafted Bangles</div>
        <div class="der">

            <div class="ber">
                4.2 <span class="fa fa-star checked"></span>
            </div>
            <div class="kal">
                <span>|</span>
            </div>
            <div class="koi">
                98 Ratings
            </div>

        </div>
        <hr>
        <div class="kul">
            <div class="bell">Rs.551</div>
            <div class="tyu"> <del>Rs. 1345</del></div>
            <div class="de"> (59% OFF) </div>
        </div>

        <div class="hit">inclusive of all taxes</div>
        <div class="shirt">
            <div class="bet">Select size </div>
         
            <div class="uiy"> size chart <span> > </span> </div>
        </div>

        <div class="wer">
            <div class="kip">
                2.4
            </div>
            <div class="kip">
               2.6
            </div>
         
            <div class="kip">
                2.8
            </div>

</div>

        <div class="gtru">
           <a routerLink="/card3"> <button class="bn">
                <span class="myntraweb"><i class="fa fa-shopping-bag"></i></span>
                ADD TO BAG
           </button></a>

            <button class="bk">
              <span class="myntaweb"><i class="fa fa-heart-o"></i></span>
              WISHLIST
            </button>
        </div>

        <div class="ser">
            <h4> <span class="tre"><i class="fa fa-truck"></i></span> Delivery Options </h4>
        </div>

        <div class="sey">
            <input type="text" placeholder="Enter a Pin code">
            <button class="btns">CHECK</button>
        </div>

        <div class="but">
            Please enter PIN code to check delivery time & Pay on Delivery Availability
        </div>

        <div class="hy">
            <div class="ishq">100% Original Products</div>
            <div class="ishq">Pay on delivery might be available</div>
            <div class="ishq">Easy 30 days returns and exchanges</div>
            <div class="ishq">Try & Buy might be available</div>
        </div>

        <div class="gr">
            <div class="swer">
                BEST OFFERS 
            </div>
            <div class="ishq">This product is already at its best price</div>
           
        </div>
<hr>
        <div class="shall">
            <div class="ball">
                PRODUCT DETAILS 
              
            </div>
            <div class="sl">Set of two off-white gold-plated beaded handcrafted bangles
                Each has a slip-on closure</div>
        

            <div class="hul">
                <div class="juu">Material & Care</div>
                <li class="bu">Material: Brass</li>
                <li class="bu">Textile</li>
                <li class="bu">Wipe with a clean, dry cloth to remove dust</li>
            </div>
        </div>
        <div class="hul">
            <div class="juu">Care Instruction</div>
            <li class="bu">Wipe your jewellery with a soft cloth after every use</li>
            <li class="bu">Always store your jewellery in a flat box to avoid accidental scratches</li>
            <li class="bu">Keep sprays and perfumes away from your jewellery</li>
            <li class="bu">Do not soak your jewellery in water</li>
            <li class="bu">Clean your jewellery using a soft brush, dipped in jewellery cleaning</li>
            <li class="bu">solution only</li>
        </div>
        <div class="han">Specification</div>
        <div class="oi">
           
            <div class="qr">
                <div class="bri">Occasion</div>
                <p class="u">Ethnic</p>

                <div class="bri">Stone Type</div>
                <p class="u">Artifical Beads/p>

                <div class="bri">Multipack Set</div>
                <p class="u">2</p>

            
            </div>
            <div class="vr">
                <div class="bri">Base Metal</div>
                <p class="u">Brass</p>
                
                <div class="bri">Trends  </div>
                <p class="u">Handcrafted</p>

                <div class="bri">Plating</div>
                <p class="u">Gold-Plated</p>

             
            </div>
           
        </div>
        <div class="hul">
            <div class="juu">Complete The Look</div>
           <p class="piu">Enhance your style quotient by wearing this bangle set from Priyaasi. Team it with traditional attire to look modish.</p>
        </div>
        <hr>

           <div class="swet">
               <div class="iu">
                   RATINGS <span class="my"><i class="fa fa-star-o"></i></span>
               </div>
               <div class="chal">
                   <div class="bake">
                       4.2 <span class="fa fa-star"></span>
                       <p class="point">98 Verified Buyers</p>
                   </div>
                   <div class="dal">
                       <div class="pl">
                    <div class="sy">5 <i class="fa fa-star-o"></i></div>
                    <div class="bal-1"></div>
                    <div class="huo right">1030</div>
</div>
<div class="pl">
    <div class="sy">4 <i class="fa fa-star-o"></i></div>
    <div class="bal-2"></div>
    <div class="huo right">384</div>
</div>

<div class="pl">
    <div class="sy">3 <i class="fa fa-star-o"></i></div>
    <div class="bal-3"></div>
    <div class="huo right">95</div>
</div>

<div class="pl">
    <div class="sy">2 <i class="fa fa-star-o"></i></div>
    <div class="bal-4"></div>
    <div class="huo right">39</div>
</div>

<div class="pl">
    <div class="sy">1 <i class="fa fa-star-o"></i></div>
    <div class="bal-5"></div>
    <div class="huo right">87</div>
</div>
                   </div>
               </div>
           </div>
           <hr>

    
             <div class="bool">Customer Photos (6)</div>  
          
             <div class="kool">
                 <div class="book">
                    <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/8/25/d675f42f-8dfc-437d-941d-01382b56fb011598371247751-IMG_20200825_203047.jpg">  
                 </div>

                 <div class="book">
                    <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/12/10/7383ed40-551f-4d2e-8117-4fc8844696e21607592627018-20201210_145536.jpg"> 
                 </div>

                 <div class="book">
                    <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/12/25/acd17f00-708d-4c79-8ad0-b9b76d2c3c161608886162007-20201224_193554.jpg">
                 </div>
               

                 <div class="book">
                    <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2021/1/27/59e3b00b-5daa-4997-9fb4-89c9969ec50f1611751083962-IMG_20210127_125446.jpg">
                    <span class="image-thumb-wrapper-imageCount"><!-- react-text: 915 -->+<!-- /react-text --><!-- react-text: 916 -->3<!-- /react-text --></span>
                 </div>
 </div>
                 
               <div class="sre">
                   <div class="uio">Customer Reviews (13)</div>
                   <div class="kl">
                       <span class="sj">5 <i class="fa fa-star-o"></i> </span> 
                   <div class="yi">Beautiful bangles , same as shown in picture , go for it</div>
                   </div>
                   <div class="kool">
                    <div class="book">
                        <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/12/25/acd17f00-708d-4c79-8ad0-b9b76d2c3c161608886162007-20201224_193554.jpg">   
                    </div>
   
                    <div class="book">
                        <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/12/10/7383ed40-551f-4d2e-8117-4fc8844696e21607592627018-20201210_145536.jpg">  
                    </div>
   
                 

                  
    </div>
                   <div class="bll">
                       <div class="hll">Khusbhu <span class="t">|</span> 10 DEC 2021</div>
                       <div class="tool">
                        <span class="dwe"><i class="fa fa-thumbs-o-up"></i> </span>10 
                        <span class="dwe"><i class="fa fa-thumbs-o-down"></i> </span>6
                       </div>
                   </div>
               </div>


               <div class="sre">
              
                <div class="kl">
                    <span class="sj">5 <i class="fa fa-star-o"></i> </span> 
                <div class="ri">The bangles look nice but are pretty huge for my hands. </div>
                </div>
                <div class="kool">
                 <div class="book">
                    <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2021/1/27/59e3b00b-5daa-4997-9fb4-89c9969ec50f1611751083962-IMG_20210127_125446.jpg">
                 </div>

        

 </div>
                <div class="bll">
                    <div class="hll">Debosmita  Choudhury <span class="t">|</span>27 Jan 2021</div>
                    <div class="tool">
                     <span class="dwe"><i class="fa fa-thumbs-o-up"></i> </span>8
                     <span class="dwe"><i class="fa fa-thumbs-o-down"></i> </span>3
                    </div>
                </div>
            </div>

           <div class="bui">
            <div class="up">
                <span class="fert">4 <span class="uk"><i class="fa fa-star-o"></i></span></span>
                <div class="dwc">Very nice look bangles</div>
                </div>
                <div class="kool">
                    <div class="book">
                        <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2021/1/26/42489fd9-e05f-45f0-ae6b-aede219a0c4d1611601298304-IMG20210126002524.jpg">
                    </div>
   
                 
    
    </div>
    <div class="bll">
        <div class="hll">Narender Kumar  <span class="t">|</span> 17 Oct 2020</div>
        <div class="tool">
         <span class="dwe"><i class="fa fa-thumbs-o-up"></i> </span>2
         <span class="dwe"><i class="fa fa-thumbs-o-down"></i> </span>3
        </div>
    </div>
 </div>

 <div class="qs">
     <div class="dwx">View all 112 reviews</div>
     <div class="box">Product Code: <b>10393703</b></div>
     <div class="bo">Seller: <span class="supplier-productSellerName">PRITA DESIGN PRIVATE LIMITED</span></div>
     <span class="dol">View Supplier Information</span>
 </div>
    </div>

</div>
