<div class="navbar">

    <ul>
      <a href="/">  <img src="assets/img/download.png"></a>
        <li>MEN</li>  
        <li>WOMEN</li>
        <li>KIDS</li>
        <li>HOME LIVING</li>
        <li>DISCOVER</li>

        <div class="dettol">
     <i class="fa fa-search"></i>
 <input type="text" name="" placeholder="Search of products,brands and more"> 
     </div>

       <div class="sert">
        <i class="fa fa-heart"></i>
        <div class="sew">
    Wishlist
        </div>
     </div>

     <div class="ert">
        <i class="fa fa-briefcase"></i>
        <div class="ew">Bag</div>
     </div>
    </ul> 

 
</div>

<app-logpage></app-logpage>