<div class="shelt">
    <div class="kyolo">
        <div class="derts">
            <div class="coln">
                <h5>Furnishings & Bed Linen</h5>
                <a href="#">Bed Sheets</a>
                <a href="#">Bedding Sets & Bed Covers</a>
                <a href="#">Blankets, Quilts & Dohars</a>
                <a href="#">Pillows & Pillow Covers</a>
                <a href="#">Cushions & Cushion Covers</a>
                <a href="#">Curtains</a>
                <a href="#">Mats & Dhurries</a>
                <a href="#">Carpets</a>
            </div>
            <div class="coln">
                <h5>Bath & Bed Linen</h5>
                <a href="#">Towels & Towel Sets</a>
                <a href="#">Bath Robes</a>
                <a href="#">Bathroom Accessories</a>
                <a href="#">Shower Curtains</a>
                <a href="#">Bath Rugs</a>
                </div>
                <div class="coln">
                    <h5>Home Décor</h5>
                    <a href="#">Plants & Planters</a>
                    <a href="#">Aromas, Candles & Candle Holders</a>
                    <a href="#">Clocks</a>
                    <a href="#">Mirrors</a>
                    <a href="#">Wall Décor</a>
                    <a href="#">Wall Shelves</a>
                    <a href="#">Fountains</a>
                    <a href="#">Showpieces & Vases</a>
                </div>
                <div class="coln">
                    <h5>Lamps & Lighting</h5>
                    <a href="#">Floor & Wall Lamps</a>
                    <a href="#">Table Lamps</a>
                  
                </div>
                <div class="coln">
                    <h5>Kitchen & Table</h5>
                    <a href="#">Tableware & Serveware</a>
                    <a href="#">Bar & Drinkware</a>
                    <a href="#">Cookware & Kitchen Tools</a>
                    <a href="#">Kitchen Storage</a>
                    <a href="#">Table Covers & Furnishings</a>
                   
                </div>
                <div class="coln">
                    <h5>Storage & Organisers</h5>
                    <a href="#">Organisers</a>
                    <a href="#">Hooks & Holders</a>
                    
                   
                </div>
        </div>
    </div>
<div class="delta">
    <p>nice to see you, come on in!</p>
</div>

<div class="darling">
    <img class="card-image " src="https://assets.myntassets.com/w_350,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/2/11517563660020-bed.jpg" srcset="">
    <img class="card-image " src="https://assets.myntassets.com/w_350,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/2/11517563782565-furnishings.jpg" srcset="">
</div>

<div class="darling">
    <img class="card-image " src="https://assets.myntassets.com/w_350,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/2/11517563810789-art-n-decor.jpg" srcset="">
    <img class="card-image " src="https://assets.myntassets.com/w_350,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/2/11517563866590-lamps.jpg" srcset="">
</div>

<div class="darling">
    <img class="card-image " src="https://assets.myntassets.com/w_350,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/2/11517563925069-kitchen.jpg" srcset="">
    <img class="card-image " src="https://assets.myntassets.com/w_350,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/2/11517563958962-bath.jpg" srcset="">
</div>

</div>



