
<div class="oin">
    <div class="uio">
    <img class="referrals-banner-bannerImg" src="https://constant.myntassets.com/pwa/assets/img/rupee_illustration.png">
    </div>
    <div class="referrals">Invite friends to EORS &amp; get up to ₹150 MynCash for every person who visits</div>
    <div class="bo">
        <button class="btn">Invite Now <i class="fa fa-chevron-right"></i> </button>
    </div>
</div>

<div class="bill">
    <img class="image-image undefined " src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/9/18/76b2760c-e6b6-46b9-8156-0b3f1660a6f11600435378009-FS-DK.jpg" srcset="">
    
</div>

<carousel>
  <slide>
      <img class="image-image  image-hand" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/7/8/8e4588c1-6f55-4b46-bfcb-1f7b104cc0d71625755520545-Weekend-sale_DK-2.jpg" srcset="">
  </slide>
  <slide>
      <img class="image-image  image-hand" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/10/27/cdabd3fb-0df3-49ed-b092-e011722b3bab1603822195432-Watches_Desktop.jpg" srcset="">
  </slide>
  <slide>
      <img class="image-image  image-hand" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/10/27/98f1e2ab-41a5-4156-ae43-60aa524b8d351603822195467-Shirt_Desk.jpg" srcset="">
  </slide>
  <slide>
      <img class="image-image  image-hand" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/10/26/b76176b6-0485-4078-b20c-eefc00833fd71603731402047-cat-fest-dk-men-winter.jpg" srcset="">
    </slide>
    <slide>
      <img class="image-image  image-hand" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/10/27/de11e966-d587-4ff3-9e3c-a632c6bc29ed1603822195354-Being_Human_Desktop_Banner.jpg" srcset="">
    </slide>
</carousel>