
<div class="derto">
    <img src="//assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/2021/7/14/1db28809-f3db-48b1-b303-d937716565661626257521634-Banner_Hamburger--2---1-.jpg" class="img-responsive preLoad loaded" alt="" title="">
</div>


<div class="krto">
    <p><b>Login</b> or <b>Signup</b></p>
<div class="liu">
  <h6> +91 | </h6>
    <input type="text" name="" placeholder="Mobile Number">

  
</div>
<div class="sent">
    By continuing, I agree to the 
    <a href="#">Terms of Use</a> 
    &
    <a href="#">Privacy Policy</a>
   
</div>
<div class="treb">
    <button class="bn">Continue</button>
</div>
<div class="yuo">
    Have trouble logging in?   <a href="#">Get help</a>
</div>
</div>
