// .navbar{
//     //  width: 100%;
  
// //    padding: 10px 0;
//    box-sizing: border-box;
//    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

// }
.contai{
  color: black;
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 5;
  // -webkit-box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  background-color: #fff;
} 
.navbar ul{
  width: 780px;
 
 height: 30px;
 list-style: none;
 text-transform: uppercase;
 font-weight: bold;
 
 position: relative;
 
 display: flex;
 }
 .navbar ul li{
     padding: 20px ;
      width: 100%;
     float: right;
     transition: all 0.4s ease;
     cursor: pointer;
     margin-right: 1px;
     transition: all 0.4s ease;
 }
 
 .navbar ul li:last-child{
   margin-right: 0;
 }
 
 
 .mega{
     position: absolute;
      top: 55px;
     left: 0;
      width: 138%;
    box-sizing: border-box;
   display: none;
  opacity: 4;
   padding: 30px;
     transition: all 0.4s ease;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     margin-left: 54px;
     background-color: white;
//      background: -moz-linear-gradient(top, #0272a7, #013953);
// background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));


 }
 
 .menu{
     
     float: left;
     margin-right: 1%;
   
 }
 
 .menu:last-child{
     margin-right: 0%;
 }
 
 
 .menu p{
     padding-top: 2px;
 
 }
 
 
 
 .menu a {
     font-size: 13px;
     // float: none;
     // color: rgb(105, 101, 101);
     color: gray;
      padding: 2px 16px;
      text-decoration: none;
     display: flex;
      // text-align: left; 
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     transition: all 0.5s ease;
    
   }
 
    .menu h3{
     color: rgb(122, 178, 185);
  
       font-size: 14px;
        cursor: pointer;
        padding-top: 10px;
    }
 
    .menu h4{
     font-size: 14px;
     color: palevioletred;
     cursor: pointer;
     padding-top: 10px;
      margin: 0px 6px;
  }
 
  .menu h5{
     font-size: 14px;
  color: rgb(136, 32, 136);
  cursor: pointer;
  padding-top: 10px;
  margin: 0px 8px;
  }
  .menu h6{
 
     font-size: 14px;
    color: greenyellow;
    cursor: pointer;
    padding-top: 10px;
    margin: 0px 3px;
    text-align: left;
   
    }
    .menu h1{
     font-size: 14px;
    color: orangered;
    cursor: pointer;
    padding-top: 10px;
    margin: 0px 12px;
    }
    .menu a:hover {
     color: black;
    }
 
 .navbar ul li:hover .mega{
     //  visibility: hidden;
    opacity: 4;
  display: block;
 
 }
 .op{
     padding: 0px 12px;
     margin-top: 9px;
     cursor: pointer;
 }
 .op img{
     height: 46px;
     width: 42px;
 }
 
 .navbar li:hover{
     border-bottom: 4px solid rgb(122, 178, 185);
     height: 53px;
    }
 
    .navbar li.jui:hover{
     border-bottom: 4px solid palevioletred;
     height: 53px;
    }
 
    .navbar li.jio:hover{
     border-bottom: 4px solid rgb(136, 32, 136);
     height: 53px;
    }
 
    .navbar li.pop:hover{
     border-bottom: 4px solid greenyellow;
     height: 53px;
    }
 
    .navbar li.slop:hover{
     border-bottom: 4px solid orangered;
     height: 53px;
    }
 
    a{
        color: black;
    }
 
   .doi{
      
   margin-left: 75px;
     background-color: honeydew;
     display: flex;
     padding-top: 24px;
    height: 42px;
       
   }
   .doi input{
       border: none;
       outline: none;
       flex: 1;
       width: 330px;
   
 
 
   }
   .doi i{
       padding: 0px 6px;
       color: gray;
   }
 
   
 
   .btn{
     border: 1px solid whitesmoke;
     padding: 3px 9px;
     font-size: 15px;
     color: #ff3f6c;
    }
   
    .btn:hover{
     border: 1px solid red;
    }
 
    .desktop-infoSection {
     margin: 0;
      cursor: pointer;
     padding: 10px  11px;
     }
     .desktop-superscriptTag {
      width: 33px;
     height: 25px;
      padding: 5px 0 0 5px;
      background: #ff3f6c!important;
      border: 1px solid #ff3f6c!important;
      color: #fff;
      font-weight: 900;
      margin: -6px 0 -10px 10px;
      font-size: 10px;
      -webkit-transform: skewX(
     -10deg
    );
      transform: skewX(
     -10deg
     );
      display: inline-block;
      border-radius: 2px;
    }
 
   .opoo .mega{
     position: absolute;
      top: 55px;
  width: 42%;
 right: 122px;
    box-sizing: border-box;
   display: none;
  opacity: 4;
   padding: 30px;
     transition: all 0.4s ease;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-left: 875px; 
     background-color: white;
 }
 
 .opoo{
     padding-top: 6px;
 }
 
 .mnu p{
     font-size: 13px;
     padding: 3px;
 }
 
 .mnu{
     
     float: right;
     margin-right: 1%;
   
 }
 
 // .mnu:last-child{
 //     margin-right: 0%;
 // }
    .mnu h5{
     font-size: 14px;
  color: rgb(136, 32, 136);
  cursor: pointer;
  padding-top: 10px;
  margin: 0px 8px;
  }
   
  .mnu a:hover {
     color: black;
    }
 
    .mnu a {
     font-size: 13px;
     // float: none;
     // color: rgb(105, 101, 101);
     color: gray;
      padding: 4px 14px;
      text-decoration: none;
     display: flex;
      // text-align: left; 
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     transition: all 0.5s ease;
    
   }
 
   .sil{
     padding-top: 6px;
      margin-left: 15px;
     }
     .oo{
      font-size: 13px;
     }
    .sil i{
      margin-left: 12px;
      cursor: pointer;
     }
    
     .il{
      padding-top: 6px;
      margin: 0px 21px;
    }
     .ooo{
      margin: 0px 8px;
       font-size: 13px;
       font-family: 'Times New Roman', Times, serif;
     }
     .il i{
       margin-left: 12px;
       cursor: pointer;
       color: grey;
     }

     .opoo:hover{
      border-bottom: 4px solid  #ff3f6c;
      height: 53px;
     }
