<div class="yonk">
    <img class="images undefined image-hand" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/7/8/857ceecb-3bb7-43a7-ac98-8b04d0d7c5301625759804570-Desktop-version.jpg" srcset="">
</div>


<carousel>
    <slide>
        <img class="image-image  image-hand" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/7/8/8e4588c1-6f55-4b46-bfcb-1f7b104cc0d71625755520545-Weekend-sale_DK-2.jpg" srcset="">
    </slide>
    <slide>
        <img class="image-image  image-hand" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/10/27/4fea2af8-e795-4988-8eb7-3a41ad00faac1603822195010-Anouk_Desktop.jpg" srcset="">
    </slide>
    <slide>
        <img class="image-image  image-hand" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/10/27/1688fc59-4436-47b1-b053-8885d5bbec8c1603822195127-womenfootwear_Desktop_Banner.jpg" srcset="">
    </slide>
    <slide>
        <img class="image-image  image-hand" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/10/27/fa458154-1904-421b-9799-3ccaa079bd251603822195281-Watches_Desktop--1-.jpg" srcset="">  
      </slide>
      <slide>
        <img class="image-image  image-hand" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/10/27/f9679252-abe1-442c-94ef-00f765efb1cc1603822195201-Sarees.jpg" srcset="">
      </slide>
  </carousel>

  