
<div class="shelt">

    <div class="belt">

        <div class="darling">
            <div class="image-grid-image" style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/8063367/2018/12/26/db444c48-c8aa-4fc3-92b4-02b66f4643dd1545820130218-Armani-Exchange-Men-Black-Analogue-Watch-6211545820128996-1.jpg&quot;);"></div>
            <div class="image-grid-image" style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/8063367/2018/12/26/4a0584bb-0212-4d1c-ae2f-6d4e545ca7dd1545820130204-Armani-Exchange-Men-Black-Analogue-Watch-6211545820128996-2.jpg&quot;);"></div>
        </div>

        <div class="darling">
            <div class="image-grid-image" style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/8063367/2018/12/26/ee78dd94-b9e8-4bd1-afa3-5e627d4e38ca1545820130188-Armani-Exchange-Men-Black-Analogue-Watch-6211545820128996-3.jpg&quot;);"></div>
            <div class="image-grid-image" style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/8063367/2018/12/26/45b4e1c3-25a9-4126-8026-276b03a17dda1545820130174-Armani-Exchange-Men-Black-Analogue-Watch-6211545820128996-4.jpg&quot;);"></div>
        </div> 

        <div class="darling">
            <div class="image-grid-image" style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/8063367/2018/12/26/26020782-23a6-498f-95cd-17ef4f389f431545820130157-Armani-Exchange-Men-Black-Analogue-Watch-6211545820128996-5.jpg&quot;);"></div>
            <div class="image-grid-image" style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/8063367/2018/12/26/4ddd118d-4c76-4e63-b5f8-3cafa9e6ad111545820130137-Armani-Exchange-Men-Black-Analogue-Watch-6211545820128996-6.jpg&quot;);"></div>
        </div>

      
    </div>
    <div class="Qwer">
        <div class="huts">
            Armani Exchange
        </div>
        <div class="loi">Men Black Analogue Watch</div>
        <div class="der">

            <div class="ber">
                4.5 <span class="fa fa-star checked"></span>
            </div>
            <div class="kal">
                <span>|</span>
            </div>
            <div class="koi">
                523 Ratings
            </div>

        </div>
        <hr>
        <div class="kul">
            <div class="bell">Rs.4999</div>
            <div class="tyu"> <del>Rs. 8995</del></div>
            <div class="de"> (Rs. 3996 OFF) </div>
        </div>

        <div class="hit">inclusive of all taxes</div>
        <div class="shirt">
            <div class="bet">Select size </div>
           <div class="done">Onesise</div> 
        </div>

       

        <div class="gtru">
           <a routerLink="/card4"> <button class="bn">
                <span class="myntraweb"><i class="fa fa-shopping-bag"></i></span>
                ADD TO BAG
           </button></a>

            <button class="bk">
              <span class="myntaweb"><i class="fa fa-heart-o"></i></span>
              WISHLIST
            </button>
        </div>

        <div class="ser">
            <h4> <span class="tre"><i class="fa fa-truck"></i></span> Delivery Options </h4>
        </div>

        <div class="sey">
            <input type="text" placeholder="Enter a Pin code">
            <button class="btns">CHECK</button>
        </div>

        <div class="but">
            Please enter PIN code to check delivery time & Pay on Delivery Availability
        </div>

        <div class="hy">
            <div class="ishq">100% Original Products</div>
            <div class="ishq">Pay on delivery might be available</div>
            <div class="ishq">Easy 30 days returns and exchanges</div>
            <div class="ishq">Try & Buy might be available</div>
        </div>

        <div class="gr">
            <div class="swer">
                BEST OFFERS 
            </div>
          
            <div class="il">
           
                <li class="hill">Applicable on: Orders above Rs. 2499 (only on first purchase)
                </li>
  
                    <li class="hill">Coupon code: <b>MYNTRA400</b>
                </li>
             
                   <li class="hill">Coupon Discount: Rs. 400 off (check cart for final savings)
               </li>
                   <p class="lo">View Eligible Products</p>
            </div>
            <div class="serts">
                <div class="gutd">
                    EMI option available
                </div>
                <div class="i">
                    <li class="hill">EMI starting from Rs.130/month</li>

                    <p class="lo">View Plan</p>
                </div>
            </div>
        </div>
<hr>
        <div class="shall">
            <div class="ball">
                PRODUCT DETAILS 
                <li class="sl">Display: Analogue</li>
                <li class="sl">Movement: Quartz</li>
                <li class="sl">Power source: Battery</li>
                <li class="sl">Dial style: Solid round stainless steel dial</li>
                <li class="sl">Features: Reset Time, Date Aperture, Chronograph</li>
                <li class="sl">Strap style: Black regular, rubber strap with a tang closure</li>
                <li class="sl">Water resistance: 30 m</li>
                <li class="sl">Warranty: 2 years</li>
                <li class="sl">Warranty provided by brand/manufacturer</li>
            </div>
         
     

            <div class="hul">
                <div class="juu"><b>SIZE & FIT</b></div>
                <li class="bu">Dial width: 40 mm</li>
                <li class="bu">Strap Width: 21 mm</li>
            </div>
        </div>
        <div class="han">Specification</div>
        <div class="oi">
           
            <div class="qr">
                <div class="bri">Display</div>
                <p class="u">Analogue</p>

                <div class="bri">Movement</div>
                <p class="u">Quarts</p>

                <div class="bri">Type</div>
                <p class="u">Regular</p>

                <div class="bri">Make</div>
                <p class="u">Non-Swiss Made</p>
            </div>
            <div class="vr">
                <div class="bri">Features</div>
                <p class="u">Rest Time</p>
                
                <div class="bri">Power Supply </div>
                <p class="u">Battery</p>

                <div class="bri">Dial Shape</div>
                <p class="u">Round</p>

                <div class="bri">Dial Pattern</div>
                <p class="u">Solid</p>
            </div>
           
        </div>
        <div class="y">See More</div>
        <hr>

           <div class="swet">
               <div class="iu">
                   RATINGS <span class="my"><i class="fa fa-star-o"></i></span>
               </div>
               <div class="chal">
                   <div class="bake">
                       4.5 <span class="fa fa-star"></span>
                       <p class="point">523 Verified Buyers</p>
                   </div>
                   <div class="dal">
                       <div class="pl">
                    <div class="sy">5 <i class="fa fa-star-o"></i></div>
                    <div class="bal-1"></div>
                    <div class="huo right">1030</div>
</div>
<div class="pl">
    <div class="sy">4 <i class="fa fa-star-o"></i></div>
    <div class="bal-2"></div>
    <div class="huo right">384</div>
</div>

<div class="pl">
    <div class="sy">3 <i class="fa fa-star-o"></i></div>
    <div class="bal-3"></div>
    <div class="huo right">95</div>
</div>

<div class="pl">
    <div class="sy">2 <i class="fa fa-star-o"></i></div>
    <div class="bal-4"></div>
    <div class="huo right">39</div>
</div>

<div class="pl">
    <div class="sy">1 <i class="fa fa-star-o"></i></div>
    <div class="bal-5"></div>
    <div class="huo right">87</div>
</div>
                   </div>
               </div>
           </div>
           <hr>

    
             <div class="bool">Customer Photos (19)</div>  
          
             <div class="kool">
                 <div class="book">
                    <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/9/5/a7bfb00d-cc8a-4b51-9321-1cc44969d9971599322910664-Snapchat-2108400419.jpg">
                 </div>

                 <div class="book">
                    <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/6/15/7f6ba841-bb63-4f26-bfdb-447aacd56a4e1592207500536-IMG-20191027-WA0024.jpg">
                 </div>

                 <div class="book">
                    <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/10/27/c225bdfa-2e0f-4edc-a39c-63ddd0cbff0b1603737409885-IMG_20201027_000507.jpg">     
                 </div>

                 <div class="book">
                    <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/10/31/165c9638-afaa-498c-9672-a62dda22b8801604166882975-IMG_20201031_232354.jpg">
                    <span class="image-thumb-wrapper-imageCount"><!-- react-text: 915 -->+<!-- /react-text --><!-- react-text: 916 -->16<!-- /react-text --></span>
                 </div>
 </div>
                 
               <div class="sre">
                   <div class="uio">Customer Reviews (44)</div>
                   <div class="kl">
                       <span class="sj">5 <i class="fa fa-star-o"></i> </span> 
                   <div class="yi">Its amazing and really good looking</div>
                   </div>
                   <div class="kool">
                    <div class="book">
                        <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/10/31/165c9638-afaa-498c-9672-a62dda22b8801604166882975-IMG_20201031_232354.jpg">   
                    </div>
   
                    <div class="book">
                        <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/10/31/4d8f5c4b-dc80-4b92-becf-db12040e3a741604166882863-IMG_20201031_232350.jpg">   
                    </div>
   
                    <div class="book">
                        <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/10/31/fa34eb8e-c71b-409a-aabd-c0f71adeb2ab1604166884050-IMG_20201031_232404.jpg">    
                    </div>
   
                  

                  
    </div>
                   <div class="bll">
                       <div class="hll">Mohammed <span class="t">|</span> 31 OCT 2021</div>
                       <div class="tool">
                        <span class="dwe"><i class="fa fa-thumbs-o-up"></i> </span>13 
                        <span class="dwe"><i class="fa fa-thumbs-o-down"></i> </span>1
                       </div>
                   </div>
               </div>


               <div class="sre">
              
                <div class="kl">
                  
                <div class="ri">Product is Good and Genuine. I have already Checked with fossils as Armani Exchange is a Fossils Product. U can Register your product for 2 years warranty from fossil care. </div>
                </div>
     
                <div class="bll">
                    <div class="hll">Param <span class="t">|</span>  Borker19 Oct 2020</div>
                    <div class="tool">
                     <span class="dwe"><i class="fa fa-thumbs-o-up"></i> </span>2
                     <span class="dwe"><i class="fa fa-thumbs-o-down"></i> </span>6
                    </div>
                </div>
            </div>

           <div class="bui">
            <div class="up">
                <span class="fert">4 <span class="uk"><i class="fa fa-star-o"></i></span></span>
                <div class="dwc">Watch is tooo good. Color is awsum. My guy liked it alot..</div>
                </div>
                <div class="kool">
                    <div class="book">
                        <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/9/24/5ae70b57-83f5-4f7d-a529-bfdcacc644641600954223989-IMG-20200924-WA0000.jpg"> 
                    </div>
   
                    <div class="book">
                        <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/9/24/bc3987f1-abd7-41b3-9e88-4a5a01a6e5a81600954224054-CYMERA_20200924_131803.jpg">  
                    </div>
   
 
    
    </div>
    <div class="bll">
        <div class="hll">Esha Gupta <span class="t">|</span> 24 Sept 2020</div>
        <div class="tool">
         <span class="dwe"><i class="fa fa-thumbs-o-up"></i> </span>6
         <span class="dwe"><i class="fa fa-thumbs-o-down"></i> </span>2
        </div>
    </div>
 </div>

 <div class="qs">
     <div class="dwx">View all 44 reviews</div>
     <div class="box">Product Code: <b>8063367</b></div>
     <div class="bo">Seller: <span class="supplier-productSellerName">Truenet Commerce</span></div>
     <span class="dol">View Supplier Information</span>
 </div>
    </div>

</div>
