
<carousel>
    <slide>
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/5/11/0b63b12d-1407-459b-821c-135e68ed1f7c1589191328933-dk-kids.jpg" srcset="">
    </slide>
    <slide>
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/3/10/f66accad-df35-46a8-984c-4eabf1d7a3a61615355502789-SS21-DesktopMainLaunch-KidsPageBanner.jpg" srcset="">
    </slide>
    <slide>
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/5/11/8a7e8a08-3a86-4dd7-827f-824168cc13771589191328983-dk-kids-masks.jpg" srcset=""> 
    </slide>
   
  </carousel>