<div class="foot">
    <div class="rows">
        <div class="couln">
            <h5>Online Shopping</h5>
            <a href="#">Men</a>
            <a href="#">Women</a>
            <a href="#">Kids</a>
            <a href="#">Home & Living</a>
            <a href="#">Beauty</a>
            <a href="#">Gift Cards</a>
            <a href="#">Myantra Insider<span class="desktop" data-reactid="32"> New </span></a>
        </div>

        <div class="couln">
            <h5>USEFUL LINKS</h5>
            <a href="#">Contact Us</a>
            <a href="#">FAQ</a>
            <a href="#">T&C</a>
            <a href="#">Terms Of Use</a>
            <a href="#">Track Orders</a>
            <a href="#">Shipping</a>
            <a href="#">Cancellation</a>
            <a href="#">Returns</a>
            <a href="#">Blog</a>
            <a href="#">Careers</a>
            <a href="#">Privacy policy</a>
            <a href="#">Site Map</a>
        </div>

        <div class="couln">
            <h5>EXPERIENCE MYNTRA APP ON MOBILE</h5>
            <span><img class="desktop-androidDownLink"
                    src="https://constant.myntassets.com/web/assets/img/80cc455a-92d2-4b5c-a038-7da0d92af33f1539674178924-google_play.png"></span>
            <span><img class="desktop-iOSDownLink"
                    src="https://constant.myntassets.com/web/assets/img/bc5e11ad-0250-420a-ac71-115a57ca35d51539674178941-apple_store.png"></span>

            <p>KEEP IN TOUCH</p>

            <i class="fa fa-facebook-official"></i>
            <i class="fa fa-youtube-play"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
        </div>

        <div class="couln">
            <div class="dol">
                <img src="https://constant.myntassets.com/web/assets/img/6c3306ca-1efa-4a27-8769-3b69d16948741574602902452-original.png"
                    style="width: 48px; height: 40px;">
                <span><b>100% ORIGINAL</b> guarantee for all products at myntra.com</span>
            </div>

            <div class="dol">
                <img src="https://constant.myntassets.com/web/assets/img/ef05d6ec-950a-4d01-bbfa-e8e5af80ffe31574602902427-30days.png"
                    style="width: 48px; height: 49px;">
                <span> <b>Return within 30days</b> of receiving your order</span>
            </div>
        </div>
    </div>
</div>



<div class="biom">POPOULAR SEARCH</div>
<div class="khanif">
    <a href="#">Makeup</a>
    <a href="#">Dresses For Girls </a>
    <a href="#">T-Shirts </a>
    <a href="#">Sandals </a>
    <a href="#">Headphones </a>
    <a href="#">Babydolls </a>
    <a href="#"> Blazers For Men </a>
    <a href="#">Handbags </a>
    <a href="#">Ladies Watches </a>
    <a href="#"> Bags </a>
    <a href="#">Sport Shoes </a>
    <a href="#">Reebok Shoes</a>
    <a href="#">Puma Shoes</a>
    <a href="#">Boxers </a>
    <a href="#">Wallets </a>
    <a href="#">Tops </a>
    <a href="#">Earrings </a>
    <a href="#">Fastrack Watches </a>
    <a href="#"> Kurtis </a>
    <a href="#">Nike </a>
    <a href="#">Smart Watches </a>
    <a href="#">Titan Watches </a>
    <a href="#">Designer Blouse </a>
    <a href="#">Gowns </a>
    <a href="#">Rings </a>
    <a href="#"> Cricket Shoes </a>
    <a href="#">Forever 21.</a>
    <a href="#">Eye Makeup </a>
    <a href="#">Photo Frames </a>
    <a href="#">Punjabi Suits </a>
    <a href="#"> Bikini </a>
    <a href="#"> Myntra Fashion Show </a>
    <a href="#">Lipstick </a>
    <a href="#">Saree </a>
    <a href="#"> Watches </a>
    <a href="#"> Lehenga </a>
    <a href="#">Designers Sarees</a>
    <a href="#">Dresses For Girls </a>
    <a href="#">T-Shirts </a>
    <a href="#">Sandals </a>
    <a href="#">Headphones </a>
    <a href="#">Babydolls </a>
    <a href="#"> Blazers For Men </a>
</div>

<div class="bill">
    <div class="tall">In case of any concern,<a href=""> Contact Us</a></div>

    <div class="shall">© 2021 www.myntra.com. All rights reserved.</div>
</div>


<div class="shieldd">
    <h5>MYNTRA FOR KIDS: IRRESISTIBLY COOL AND COMFORTABLE</h5>
    <p>It is all fun and frolic when it comes to online shopping for kids at Myntra. We bring you an exhaustive lineup of children’s dresses, accessories and footwear for all occasions. We understand the amount of care which goes into raising a child. Therefore at Myntra, we have taken all efforts to bring you top-notch local and international kids’ brands. You don’t have to step into a kids’ store anymore, or browse through several kids’ online shopping sites. You will find the best price kids’ products of the highest quality right here. You can do all your online shopping for kids at Myntra without any worries.</p>

   <h5>MYNTRA: THE ONE-STOP KIDS’ SHOP</h5>
   <p>Myntra brings you a wide range of the latest kids’ dress collection as well as accessories, footwear and more. Browse through our exhaustive collection to learn why we are a single-destination kids’ shop, where you can find everything you need for your precious one.</p>

   <div class="kiopu">
       <ul>
        <li>1. Children’s clothing – We bring you the finest collection of children’s clothing online for all occasions. Dress your children in smart printed T-shirts and tops, paired with jeans and trousers. Our trendy, summery collections include shorts and skirts of all varieties. Opt for cute children’s dresses from our kids’ store. You will find many party options from our kids’ dress collection including sequined, shimmery and other embellished versions. Keep your babies warm and comfortable in rompers and sleep wear. Your kids’ shopping should include some ethnic wear for festivals. Choose from a fine range of lehenga-cholis, kurta-pyjamas, sherwanis and more. Stock up on sweaters, jackets and sweatshirts for the winters. Track pants and tracksuits work well for training and sports.</li>
       <li>2. Children’s footwear – Your kids’ online shopping is not complete without footwear. Check out sneakers and sports shoes at Myntra for boys and girls which feature comfortable fits to keep them active through the day. Your daughters can keep their feet comfortable in beautifully crafted footwear such as Mary Janes, heels, wedges, ballerinas and woven flats. We also feature very functional footwear for boys in our kids’ shopping range such as sandals, clogs, slip-on shoes and tennis shoes. Buy colourful boots for rainy days and flip-flops for the next trip to the beach.</li>
       <li>3. Children’s accessories – Your kid’s outfit is not complete without the addition of smart accessories from our kids’ online store. School-going children would love our cool versions of school bags and backpacks. Our colourful printed sunglasses and dial watches add to their cuteness factor. Your little girls are surely going to love our collection of fancy hairbands and hair clips.</li>
    </ul>
   </div>

   <p>Make sure you bring home fun, printed merchandise featuring your child’s favourite characters from DC Comics and Marvel studios. They can now glide along with Spiderman, and pack a punch with Thor or the <strong>Incredible</strong> Hulk. They can battle the dark forces with the Justice League, flying high with Superman, geared up with Batman, and jumping around with Flash or Wonder Woman. You can check out a variety of cool kids’ T-shirts jackets, joggers, footwear, bath towels, socks, action figures and play sets in this category.</p>

   <h5>THE MOST CONVENIENT KID’S ONLINE STORE</h5>
<p>Compared with other kids’ online shopping sites, Myntra is one of the most convenient places for purchasing everything that a kid needs. With simplified browsing, selection and payment procedures, you are bound to enjoy your kids’ online shopping experience. And we are not just a kids’ store. You can buy great quality merchandise for men and women as well from the comfort of your home.</p>
</div>