<div class="search-box">
    
    <input class="search-txt" type="text" name="" placeholder="CATEGORIES">
    <a class="search-btn" href="#">
        <i class="fa fa-search"></i>
    </a>
</div>

<div class="koi">
 <div class="doi">
       
       <li>
           <input type="checkbox">
           <label class="cse">PerFume and Body Mist <span class="ko">(2973)</span></label>
       </li>

       <li>
        <input type="checkbox">
        <label class="cse">Lipstick <span class="ko">(2371)</span></label> 
       </li>

       <li>
        <input type="checkbox">
        <label class="cse">Face Wash and Cleanser <span class="ko">(1115)</span></label> 
       </li>

       <li>
        <input type="checkbox">
        <label class="cse">Body Wash and Scrub <span class="ko">(964)</span></label> 
       </li>

       <li>
        <input type="checkbox">
        <label class="cse">Shampoo and Conditioner <span class="ko">(950)</span></label> 
       </li>

       <li>
        <input type="checkbox">
        <label class="cse">Face Moisturisers <span class="ko">(865)</span></label> 
       </li>

       <li>
        <input type="checkbox">
        <label class="cse">Foundation and Primer<span class="ko">(856)</span></label> 
       </li>

       <li>
        <input type="checkbox">
        <label class="cse">Nail Polish <span class="ko">(847)</span></label> 
       </li>

       <div class="serr">
           + 62 more
       </div>
    
         <div class="hilter">
         <p>Brands</p>

         <li>
            <input type="checkbox">
            <label class="cse">Ajmal <span class="ko">(803)</span></label>
        </li>
 
        <li>
         <input type="checkbox">
         <label class="cse">Lakme <span class="ko">(616)</span></label> 
        </li>
 
        <li>
         <input type="checkbox">
         <label class="cse">Menjewell <span class="ko">(611)</span></label> 
        </li>
 
        <li>
         <input type="checkbox">
         <label class="cse">Good Vibes <span class="ko">(517)</span></label> 
        </li>
 
        <li>
         <input type="checkbox">
         <label class="cse">GEMBLUE BioCare <span class="ko">(494)</span></label> 
        </li>
 
        <li>
         <input type="checkbox">
         <label class="cse">Biotique <span class="ko">(408)</span></label> 
        </li>
 
        <li>
         <input type="checkbox">
         <label class="cse">FACES CANADA<span class="ko">(380)</span></label> 
        </li>
 
        <li>
         <input type="checkbox">
         <label class="cse">Note <span class="ko">(341)</span></label> 
        </li>
 
        <div class="serr">
            + 550 more
        </div>
         </div> 
         
         <div class="hilter">
             <p>PRICE</p>

             <li>
                <input type="checkbox">
                <label class="cse">Rs. 45 to Rs. 10759 <span class="ko">(23256)</span></label> 
               </li>
        
               <li>
                <input type="checkbox">
                <label class="cse">Rs. 10759 to Rs. 21473 <span class="ko">(18)</span></label> 
               </li>
        
               <li>
                <input type="checkbox">
                <label class="cse">Rs. 21473 to Rs. 32187<span class="ko">(2)</span></label> 
               </li>
        
               <li>
                <input type="checkbox">
                <label class="cse">Rs. 32187 to Rs. 42901 <span class="ko">(1)</span></label> 
               </li>
         </div>

         <div class="hilter">
             <p>COLOR</p>

             
         <li>
            <input type="checkbox">
            <span data-colorhex="white" class="colour-label colour-colorDisplay" style="background-color: rgb(228, 222, 222);"></span>
            <label class="cse">White <span class="ko">(2992)</span></label>
        </li>
 
        <li>
         <input type="checkbox">
         <span data-colorhex="black" class="colour-label colour-colorDisplay" style="background-color: rgb(54, 69, 79);"></span>
         <label class="cse">Black <span class="ko">(2241)</span></label> 
        </li>
 
        <li>
         <input type="checkbox">
         <span data-colorhex="pink" class="colour-label colour-colorDisplay" style="background-color: rgb(241, 169, 196);"></span>
         <label class="cse">Pink<span class="ko">(2049)</span></label> 
        </li>
 
        <li>
         <input type="checkbox">
         <span data-colorhex="brown" class="colour-label colour-colorDisplay" style="background-color: rgb(145, 80, 57);"></span>
         <label class="cse">Brown <span class="ko">(1827)</span></label> 
        </li>
 
        <li>
         <input type="checkbox">
         <span data-colorhex="green" class="colour-label colour-colorDisplay" style="background-color: rgb(94, 177, 96);"></span>
         <label class="cse">Green <span class="ko">(1465)</span></label> 
        </li>
 
        <li>
         <input type="checkbox">
         <span data-colorhex="multi" class="colour-label myntraweb-sprite colour-multiColorLabel sprites-multiColour colour-colorDisplay" style="background-color: purple"></span>
         <label class="cse">Purple <span class="ko">(1345)</span></label> 
        </li>
 
        <li>
         <input type="checkbox">
         <span data-colorhex="beige" class="colour-label colour-colorDisplay" style="background-color: rgb(232, 230, 207);"></span>
         <label class="cse">Beige<span class="ko">(1276)</span></label> 
        </li>
 
      <div class="serr">
            + 39 more
        </div>
         </div>

         <div class="hilter">
             <p>DISCOUNT RANGE</p>

             <li>
                <input type="checkbox">
                <label class="cse">10% and above</label> 
               </li>
        
               <li>
                <input type="checkbox">
                <label class="cse">20% and above</label> 
               </li>
        
               <li>
                <input type="checkbox">
                <label class="cse">30% and above</label> 
               </li>
        
               <li>
                <input type="checkbox">
                <label class="cse">40% and above</label> 
               </li>
        
               <li>
                <input type="checkbox">
                <label class="cse">50% and above</label> 
               </li>
        
               <li>
                <input type="checkbox">
                <label class="cse">60% and above</label> 
               </li>
        
               <li>
                <input type="checkbox">
                <label class="cse">70% and above</label> 
               </li>
         </div>
    </div>

    <!-- <div class="xcelerator-plpXceleratorImageTag">TRENDING</div> -->
   
  
<div class="juim">
    <div class="lae">
        <carousel>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/11629094/2020/7/9/d9cc4f27-9deb-46ca-821e-a37410cbcbd51594288324999LakmeSetof2EyeconicKajal-DeepBlack070g1.jpg" class="img-responsive" alt="Set of 2 Eyeconic Kajal" title="Set of 2 Eyeconic Kajal">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/11629082/2020/4/17/09540356-4d63-4c69-9767-e140bf455a951587127536678-Lakme-Insta-Liner---Black-9ml-1911587127536433-1.jpg" class="img-responsive" alt="Insta-Liner - Black 9ml" title="Insta-Liner - Black 9ml"> 
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/1963241/2020/10/19/c4d70c48-e86a-41b3-b17a-48a41d9591581603102560769-Maybelline-New-York-Colossal-Kajal---Black-035g-885160310255-1.jpg" class="img-responsive" alt="Colossal Kajal - Black" title="Colossal Kajal - Black">   
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/1142801/2016/12/15/11481798919930-Lakme-Women-Kajal-4971481798919875-1.jpg" class="img-responsive" alt="Eyeconic Kajal - Turquoise" title="Eyeconic Kajal - Turquoise">  
              </slide>
            
          </carousel>
           <div class="frog">
            <p>4.6<span class="fa fa-star checked"></span> | 2.7k</p></div>
            <div class="del">Lakme
             <h6>Eyeconic kajal-Deep Black</h6>
            </div>
      <div class="huj">
          Rs.148 <del>Rs.185</del> <a href="#">(20% OFF)</a>
      </div>
    
    </div>

    <div class="lae">
        <carousel>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/135698/2020/10/19/6c39d0b4-eb58-44e8-8c16-cc849508cb901603102459049-LOreal-Paris-Excellence-Creme-Hair-Colour---Natural-Brown-04-1.jpg" class="img-responsive" alt="Hair Colour - Natural Brown 04" title="Hair Colour - Natural Brown 04">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/11986210/2020/10/19/43bc6cee-774a-4c7e-99cc-ea31052f2ddc1603103679151-LOreal-Paris-No-Ammonia-Excellence-Creme-Hair-Colour--Aishwa-1.jpg" class="img-responsive" alt="Hair Colour- Aishwarya's Brown" title="Hair Colour- Aishwarya's Brown">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/1967198/2020/10/19/8fb9145e-8f1b-4598-84c2-089088aae2721603091045839-LOreal-Paris-Women-Casting-Creme-Gloss-Hair-Color---Darkest--1.jpg" class="img-responsive" alt="Hair Color - Darkest Brown 300" title="Hair Color - Darkest Brown 300">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/10930954/2019/12/23/6e6e57ed-0a5b-43a2-86c8-f91c5b528eb71577085012452-LOreal-Women-Hair-Colour-7891577085011454-1.jpg" class="img-responsive" alt="Hair Colour &amp; Shampoo" title="Hair Colour &amp; Shampoo">
              </slide>
            
          </carousel>
           <div class="frog">
            <p>4.4<span class="fa fa-star checked"></span> | 712</p></div>
            <div class="del">LOreal
             <h6>Hair Color-Dark Brown 03</h6>
            </div>
      <div class="huj">
          Rs.498 <del>Rs.620</del> <a href="#">(20% OFF)</a>
      </div>
    
    </div>

    <div class="lae">
        <carousel>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/12445350/2020/11/23/b538625c-34f4-4ece-92a7-64212506733f1606148686922-Philips-Women-Hair-Appliance-1361606148686636-1.jpg" class="img-responsive" alt="Ionic Styling Brush HP4722/20" title="Ionic Styling Brush HP4722/20">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2019/3/5/c2c398c3-7408-4851-9445-590e7194b7761551731803306-1.jpg" class="img-responsive" alt="Hair Straightener HR767" title="Hair Straightener HR767">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/11900022/2020/10/6/7ec6f6e3-49b1-4e96-a5d3-07d354559b571601980674975-dyson-Airwrap-Styler-Complete-7181601980673014-1.jpg" class="img-responsive" alt="Airwrap Hair Styler Complete" title="Airwrap Hair Styler Complete">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/9374997/2020/4/30/16dce1d7-5f71-4be0-a748-91aa1ecad21f1588240927580PhilipsWomenSalonDry1000WThermoProtectCompactHairDryerHP81001.jpg" class="img-responsive" alt="HP8100/46 SalonDry Hair Dryer" title="HP8100/46 SalonDry Hair Dryer">
              </slide>
            
          </carousel>
           <div class="frog">
            <p>4.4<span class="fa fa-star checked"></span> | 2.8k</p></div>
            <div class="del">Philips
             <h6>BHH880/10 Straightening Brush</h6>
            </div>
      <div class="huj">
          Rs.3140 <del>Rs.3695</del> <a href="#">(15% OFF)</a>
      </div>
    
    </div>

    <div class="lae">
        <carousel>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/8119773/2019/5/24/5c3319ca-baae-49e8-842c-6ded267d5a681558674152451-Maybelline-New-York-Fit-Me-MattePoreless-Liquid-Foundation-T-1.jpg" class="img-responsive" alt="Matte Liquid Foundation Tube" title="Matte Liquid Foundation Tube">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/10792540/2021/3/24/a8bf7c72-e417-4e4d-a439-601c8e91cb2d1616573938189-Lakme-9To5-Primer-And-Matte-Perfect-Cover-Foundation---Cool--1.jpg" class="img-responsive" alt="Foundation- Cool Cinnamon C300" title="Foundation- Cool Cinnamon C300">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/55240/2018/5/3/11525323521302-Lakme-Perfecting-Natural-Coral-Liquid-Foundation-7671525323521262-1.jpg" class="img-responsive" alt="Coral Liquid Foundation" title="Coral Liquid Foundation">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/images/style/properties/Lakme-Invisible-Foundation-01-Foundation_6a594506ec4350d89d806a3d45cccc9a_images.jpg" class="img-responsive" alt="Invisible Finish Foundation 01" title="Invisible Finish Foundation 01">
              </slide>
            
          </carousel>
           <div class="frog">
            <p>4.2<span class="fa fa-star checked"></span> | 1.3k</p></div>
            <div class="del">Lakme
             <h6>Perfecting liquid foundation</h6>
            </div>
      <div class="huj">
          Rs.124 <del>Rs.155</del> <a href="#">(20% OFF)</a>
      </div>
    
    </div>
 
    <div class="lae">
        <carousel>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/6518755/2021/2/10/7249229f-5eb1-43dd-9c31-547d43f799c41612945435520-Philips-Men-Corded--Cordless-Rechargeable-Beard-Trimmer-BT32-1.jpg" class="img-responsive" alt="Men BT3211/15 Beard Trimmer" title="Men BT3211/15 Beard Trimmer" >
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/9351095/2020/9/17/6bb53c31-d847-4ac5-b990-0c2f36cbd9311600345995233-WAHL-Men-Home-Corded-Hair-Cut-Clipper-09243-4724-Black-99616-1.jpg" class="img-responsive" alt="Men 09243-4724 Clipper" title="Men 09243-4724 Clipper" >
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2020/12/8/100d529e-ac73-4c37-8a19-147be331b2cf1607433201596-1.jpg" class="img-responsive" alt="Men Trimmer Kit" title="Men Trimmer Kit">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/9351101/2019/5/7/cac77940-b4a8-4210-aea9-61f2261e976a1557230856975-WAHL-Quick-Style-Lithium-Cordless-Trimmer-for-Men-5871557230-1.jpg" class="img-responsive" alt="Wahl 05604-024 Trimmer" title="Wahl 05604-024 Trimmer">
              </slide>
            
          </carousel>
           <div class="frog">
            <p>4.3<span class="fa fa-star checked"></span> | 3.5k</p></div>
            <div class="del">Philips
             <h6>BT3101/15 Beard Trimmer</h6>
            </div>
      <div class="huj">
          Rs.1300 <del>Rs.1495</del> <a href="#">(13% OFF)</a>
      </div>
    
    </div>

    
    <div class="lae">
        <carousel>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/8789051/2019/5/2/7c352f22-a98c-42b1-a89f-8b38bc9059561556796805100--Mercedes-Benz-Men-Miniature-Gift-Set-4801556796804456-1.jpg" class="img-responsive" alt="Men Miniature EDP Gift Set" title="Men Miniature EDP Gift Set">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/4/14/0bb163ce-714a-4f97-9975-a9a86792dd1f1618419813475-1.jpg" class="img-responsive" alt="Men Perfume" title="Men Perfume">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/10973108/2019/12/4/fdcffc5c-09ad-4640-afaa-5e5f438e95121575436283219-JAGUAR-Classic-Gift-Set-3011575436282892-1.jpg" class="img-responsive" alt="Men Classic Gift Set" title="Men Classic Gift Set">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/7628768/2019/1/23/7da5f4a2-f1d0-443d-b099-d4f28bae41971548225042137-UNITED-COLORS-OF-BENETTON-Colors-Man-Blue-Eau-de-Toilette-10-1.jpg" class="img-responsive" alt="Men Blue Fragrance Gift Set" title="Men Blue Fragrance Gift Set">
              </slide>
            
          </carousel>
           <div class="frog">
            <p>4.5<span class="fa fa-star checked"></span> | 3.7k</p></div>
            <div class="del">Denver
             <h6>Men Set of Imperial EDP & Deo</h6>
            </div>
      <div class="huj">
          Rs.315 <del>Rs.525</del> <a href="#">(40% OFF)</a>
      </div>
    
    </div>

    
    <div class="lae">
        <carousel>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/10423440/2021/7/20/8757a87f-1088-4892-b536-080aba70ffd71626786600601-Livon-Shake--Spray-Hair-Serum-with-Vitamin-B-100-ml-24816267-1.jpg" class="img-responsive" alt="Shake &amp; Spray Hair Serum 100ml" title="Shake &amp; Spray Hair Serum 100ml">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/2/11/e2ad314a-e169-44ba-b3f2-887880697dc01613029082491-1.jpg" class="img-responsive" alt="Hair Serum" title="Hair Serum"> 
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/9925151/2020/6/10/16675251-3f41-4e5b-bfbb-6ccd2cb5a8ef1591773721936-LOreal-Professionnel-Women-Absolut-Repair-Lipidium-Hair-Seru-1.jpg" class="img-responsive" alt="Women Absolut Repair Serum" title="Women Absolut Repair Serum">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/12371164/2020/9/10/5fbd1a95-ab2e-4699-af1f-14d6b56732291599740376808-LOreal-Women-Hair-Serum-7791599740376357-1.jpg" class="img-responsive" alt="Extraordinary Oil Serum 100 ml" title="Extraordinary Oil Serum 100 ml">
              </slide>
            
          </carousel>
           <div class="frog">
            <p>4.3<span class="fa fa-star checked"></span> | 2.7k</p></div>
            <div class="del">Livon
             <h6>Shake & Spray Hair Serum 50ml </h6>
            </div>
      <div class="huj">
          Rs.112 <del>Rs.150</del> <a href="#">(25% OFF)</a>
      </div>
    
    </div>

    
    <div class="lae">
        <carousel>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/7029282/2019/2/27/f2f3a69f-95ca-4850-b212-42fb95bc745d1551258863287-FACES-CANADA-Women-Nail-Essentials-3061551258862967-1.jpg" class="img-responsive" alt="Women Nail Enamel Remover" title="Women Nail Enamel Remover">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/11497466/2020/8/11/6ce28da1-eebe-4ba2-9e74-6ceefe94beca1597152642446-Rozia-Set-of-24-Artificial-Nails-With-Glue-Long-Tips-1351597-1.jpg" class="img-responsive" alt="Set of 24 Artificial Nails" title="Set of 24 Artificial Nails">  
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/1/6/448913e5-aede-491b-8514-1b7dbc67c0751609922290190-1.jpg" class="img-responsive" alt="Set Of 28 Nail Tips" title="Set Of 28 Nail Tips"> 
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/11461394/2020/8/11/b5fcdd32-d09b-4259-93c0-29970cb4dbb81597152340506-Rozia-24-Piece-Artificial-Nail-Art-Kit-with-Glue-74815971523-1.jpg" class="img-responsive" alt="Artificial Nail Art Kit" title="Artificial Nail Art Kit">  
              </slide>
            
          </carousel>
           <div class="frog">
            <p>4.6<span class="fa fa-star checked"></span> | 7.4k</p></div>
            <div class="del">Lakme
             <h6>Nail Colour Remover 27ml</h6>
            </div>
      <div class="huj">
          Rs.95
      </div>
    
    </div>

    
    <div class="lae">
        <carousel>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/1/9/b0841404-fbd0-41bc-afcd-56eeacdec8e01610179137422-1.jpg" class="img-responsive" alt="Ayurvedic Lipstick Trial Kit" title="Ayurvedic Lipstick Trial Kit">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/2122693/2018/5/5/11525504768374-Maybelline-Color-Show-Intense-Crayon-Passionate-Plum-Lipstick-M-404-8531525504768297-1.jpg" class="img-responsive" alt="Color Show Intense - Passionate Plum" title="Color Show Intense - Passionate Plum">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2019/12/20/a3c0eb04-9747-4641-8eef-7300b594fb771576826561501-2.jpg" class="img-responsive" alt="Matte Transferproof Lipstick" title="Matte Transferproof Lipstick">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/2184912/2021/2/2/1e99c139-8674-4410-b5e9-311c17f385cb1612286970451SUGARSmudgeMeNotLiquidLipstick-08WineAndShineSangria1.jpg" class="img-responsive" alt="Wine N Shine Liquid Lipstick" title="Wine N Shine Liquid Lipstick">
              </slide>
            
          </carousel>
           <div class="frog">
            <p>4.3<span class="fa fa-star checked"></span> | 1.8k</p></div>
            <div class="del">SUGAR
             <h6>Set of 4 Mini Bold Lipstick</h6>
            </div>
      <div class="huj">
          Rs.799 
      </div>
    
    </div>

    
    <div class="lae">
        <carousel>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/10848954/2020/2/13/f8d9e803-3ff5-409e-ab01-b7c9872a82e41581579753055LOrealParisTotalRepair5HairConditioner1.jpg" class="img-responsive" alt="Unisex Hair Conditioner 175 ml" title="Unisex Hair Conditioner 175 ml" >
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/1967047/2019/11/7/d02bfa27-409e-4068-9315-8b15962bd5101573114078953-LOreal-Paris-6-Oil-Nourish-Shampoo-640-ml-9051573114078771-1.jpg" class="img-responsive" alt="6 Oil Nourish Shampoo 640 ml" title="6 Oil Nourish Shampoo 640 ml">  
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/12442330/2020/10/1/ce26a161-b216-439f-97af-6703fcf2b04e1601537277317-LOreal-Paris-Extraordinary-Clay-Purifying--Hydrating-Conditi-1.jpg" class="img-responsive" alt="Hydrating Conditioner 175 ml" title="Hydrating Conditioner 175 ml">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/135692/2020/6/6/0c8a7cfc-de8e-49df-a068-44af147b577d1591434195516LOrealParisFallRepair3XAnti-HairFallConditioner175ml1.jpg" class="img-responsive" alt="Fall Repair 3X Conditioner" title="Fall Repair 3X Conditioner"> 
              </slide>
            
          </carousel>
           <div class="frog">
            <p>4.4<span class="fa fa-star checked"></span> | 1.7k</p></div>
            <div class="del">LOreal
             <h6>Total Repair 5 Shampoo 640ml</h6>
            </div>
      <div class="huj">
          Rs.405 <del>Rs.540</del> <a href="#">(25% OFF)</a>
      </div>
    
    </div>

    
    <div class="lae">
        <carousel>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/10343775/2019/7/30/8ed1a193-89c5-40de-ab00-b07442889e2f1564479014961-Maryaj-Women-Cosmo-Girl-Eau-De-Parfum-100ml-8361564479014199-1.jpg" class="img-responsive" alt="Women Cosmo Girl Eau De Parfum" title="Women Cosmo Girl Eau De Parfum" >
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2019/11/14/07a7ca12-d85b-4fc4-acea-31fb0ecda16f1573671519746-1.jpg" class="img-responsive" alt="Ramona For Her EDP 100ml" title="Ramona For Her EDP 100ml">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2019/11/14/57a900d3-184b-4c22-b1b4-8d8df4c43e261573673882200-1.jpg" class="img-responsive" alt="M White For Her EDP 90 ml" title="M White For Her EDP 90 ml">  
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/10343789/2019/7/30/a126cb2f-7212-4fb2-956a-356c63df512e1564484005379-Maryaj-Women-Lilas-Eau-De-Parfum-100ml-1931564484004013-1.jpg" class="img-responsive" alt="Women Eau De Parfum" title="Women Eau De Parfum"> 
              </slide>
            
          </carousel>
           <div class="frog">
            <p>4.3<span class="fa fa-star checked"></span> | 33</p></div>
            <div class="del">Maryaj
             <h6>Deuce Femme EDP 100ml</h6>
            </div>
      <div class="huj">
          Rs.479 <del>Rs.1599</del> <a href="#">(70% OFF)</a>
      </div>
    
    </div>

    
    <div class="lae">
        <carousel>
            <slide>
            <a routerLink="/take"><img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13609220/2021/6/24/6c9632a4-480d-494f-a785-30cc9ba4473e1624521352498-Maybelline-New-York-Fit-Me-12Hr-Oil-Control-Compact---220-Na-11.jpg" class="img-responsive" alt="Compact - 220 Natural Beige" title="Compact - 220 Natural Beige"></a>
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/55112/2020/7/24/32c12dc5-9342-4aa6-8ba8-865c0f1395481595568852147LakmePerfectRadianceIntenseWhitening01Compact1.jpg" class="img-responsive" alt="Perfect Radiance Compact 01" title="Perfect Radiance Compact 01"> 
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/11629078/2021/3/24/a6507938-a4e6-46c5-a908-ed80154a14661616574219694-Lakme-Sun-Expert-Ultra-Matte-PA-Compact-with-SPF-40-7g-13216-1.jpg" class="img-responsive" alt="Sun Expert Ultra Matte Compact" title="Sun Expert Ultra Matte Compact">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/7047506/2018/11/23/bcc9d2ef-9e72-43d8-b321-94a5153292701542956798028-Maybelline-Women-Compact-6171542956797699-1.jpg" class="img-responsive" alt="Fit Me Loose Finishing Powder" title="Fit Me Loose Finishing Powder">
              </slide>
            
          </carousel>
           <div class="frog">
            <p>4.5<span class="fa fa-star checked"></span> | 468</p></div>
            <div class="del">Maybelline
             <h6>Compact-128 Warm Nude</h6>
            </div>
      <div class="huj">
          Rs.159 <del>Rs.199</del> <a href="#">(20% OFF)</a>
      </div>
    </div>

      <div class="lae">
        <carousel>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/11362944/2020/12/10/58cc1992-a564-4914-bf82-fbd8502415a91607572857889-MCaffeine-Body-Toning--Polishing-Kit-Set-of-3-67716075728556-1.jpg" class="img-responsive" alt="Body Toning &amp; Polishing Kit" title="Body Toning &amp; Polishing Kit">
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/11363010/2020/12/10/dee58f1a-55d4-4a77-982f-53c55fdc7b311607572669742-MCaffeine-Cellulite--Stretch-Mark-Reduction-Duo-Set-of-2-994-1.jpg" class="img-responsive" alt="Cellulite Reduction Duo" title="Cellulite Reduction Duo"> 
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/11069928/2020/12/10/f2dda028-1b23-4985-906c-245d282b39dd1607572565936-MCaffeine-Exfoliation--Tan-Removal-Combo-Set-of-2-7231607572-1.jpg" class="img-responsive" alt="Exfoliation &amp; Tan Removal Kit" title="Exfoliation &amp; Tan Removal Kit">  
            </slide>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13374990/2021/2/11/4d20c758-5b25-4cca-b62b-4aa7eb2239601613051585711-MCaffeine-Naked--Raw-Espresso-Coffee-Bathing-Bar-Soap-for-De-2.jpg" class="img-responsive" alt="Espresso Coffee Bathing Bar" title="Espresso Coffee Bathing Bar"> 
              </slide>
            
          </carousel>
           <div class="frog">
            <p>4.6<span class="fa fa-star checked"></span> | 10.8k</p></div>
            <div class="del">MCaffeine
             <h6>Naked & Raw Coffee Body Scrub</h6>
            </div>
      <div class="huj">
          Rs.426 <del>Rs.449</del> <a href="#">(5% OFF)</a>
      
    </div>
</div>
<div class="lae">
    <carousel>
        <slide>
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/625428/2017/6/21/11498046791117-LOreal-Skin-Perfect-Anti-Aging-Plus-Whitening-Cream-8671498046791070-1.jpg" class="img-responsive" alt="Skin Perfect Whitening Sustainable Cream" title="Skin Perfect Whitening Sustainable Cream">
        </slide>
        <slide>
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/625426/2017/6/21/11498046782240-LOreal-Skin-Perfect-Anti-Fine-Lines-Plus-Whitening-Cream-1121498046782177-1.jpg" class="img-responsive" alt="Skin Perfect  Whitening Cream" title="Skin Perfect  Whitening Cream"> 
        </slide>
        <slide>
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/1661415/2021/2/10/6d0026b5-59d9-488b-859a-a80c009b4c381612953618725BiotiqueBioCoconutWhiteningBrighteningSustainableCream50g1.jpg" class="img-responsive" alt="Bio Coconut Whitening Sustainable Cream" title="Bio Coconut Whitening Sustainable Cream">
        </slide>
        <slide>
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/1661469/2021/4/14/430ca1e7-d54a-4ba5-99bd-c764da4a85831618385652796-Biotique-Bio-Wheat-Germ-Youthful-Nourishing-Night-Sustainabl-1.jpg" class="img-responsive" alt="Bio Wheat Germ Night Sustainable Cream" title="Bio Wheat Germ Night Sustainable Cream"> 
          </slide>
        
      </carousel>
       <div class="frog">
        <p>4.5<span class="fa fa-star checked"></span> | 1.4k</p></div>
        <div class="del">Nivea
         <h6>Soft Cream Moisturisers 200ml</h6>
        </div>
  <div class="huj">
      Rs.232 <del>Rs.310</del> <a href="#">(25% OFF)</a>
      
  </div>
  </div>
 
   
</div>


 </div>




     
     