<div class="foot">
    <div class="rows">
        <div class="couln">
            <h5>Online Shopping</h5>
            <a href="#">Men</a>
            <a href="#">Women</a>
            <a href="#">Kids</a>
            <a href="#">Home & Living</a>
            <a href="#">Beauty</a>
            <a href="#">Gift Cards</a>
            <a href="#">Myantra Insider<span class="desktop" data-reactid="32"> New </span></a>
        </div>
 
        <div class="couln">
            <h5>USEFUL LINKS</h5>
            <a href="#">Contact Us</a>
            <a href="#">FAQ</a>
            <a href="#">T&C</a>
            <a href="#">Terms Of Use</a>
            <a href="#">Track Orders</a>
            <a href="#">Shipping</a>
            <a href="#">Cancellation</a>
            <a href="#">Returns</a>
            <a href="#">Blog</a>
            <a href="#">Careers</a>
            <a href="#">Privacy policy</a>
            <a href="#">Site Map</a>
        </div>

        <div class="couln">
            <h5>EXPERIENCE MYNTRA APP ON MOBILE</h5>
            <span><img class="desktop-androidDownLink"
                    src="https://constant.myntassets.com/web/assets/img/80cc455a-92d2-4b5c-a038-7da0d92af33f1539674178924-google_play.png"></span>
            <span><img class="desktop-iOSDownLink"
                    src="https://constant.myntassets.com/web/assets/img/bc5e11ad-0250-420a-ac71-115a57ca35d51539674178941-apple_store.png"></span>

            <p>KEEP IN TOUCH</p>

            <i class="fa fa-facebook-official"></i>
            <i class="fa fa-youtube-play"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
        </div>

        <div class="couln">
            <div class="dol">
                <img src="https://constant.myntassets.com/web/assets/img/6c3306ca-1efa-4a27-8769-3b69d16948741574602902452-original.png"
                    style="width: 48px; height: 40px;">
                <span><b>100% ORIGINAL</b> guarantee for all products at myntra.com</span>
            </div>

            <div class="dol">
                <img src="https://constant.myntassets.com/web/assets/img/ef05d6ec-950a-4d01-bbfa-e8e5af80ffe31574602902427-30days.png"
                    style="width: 48px; height: 49px;">
                <span> <b>Return within 30days</b> of receiving your order</span>
            </div>
        </div>
    </div>
</div>
 


<div class="biom">POPOULAR SEARCH</div>
<div class="khanif">
    <a href="#">Makeup</a>
    <a href="#">Dresses For Girls </a>
    <a href="#">T-Shirts </a>
    <a href="#">Sandals </a>
    <a href="#">Headphones </a>
    <a href="#">Babydolls </a>
    <a href="#"> Blazers For Men </a>
    <a href="#">Handbags </a>
    <a href="#">Ladies Watches </a>
    <a href="#"> Bags </a>
    <a href="#">Sport Shoes </a>
    <a href="#">Reebok Shoes</a>
    <a href="#">Puma Shoes</a>
    <a href="#">Boxers </a>
    <a href="#">Wallets </a>
    <a href="#">Tops </a>
    <a href="#">Earrings </a>
    <a href="#">Fastrack Watches </a>
    <a href="#"> Kurtis </a>
    <a href="#">Nike </a>
    <a href="#">Smart Watches </a>
    <a href="#">Titan Watches </a>
    <a href="#">Designer Blouse </a>
    <a href="#">Gowns </a>
    <a href="#">Rings </a>
    <a href="#"> Cricket Shoes </a>
    <a href="#">Forever 21.</a>
    <a href="#">Eye Makeup </a>
    <a href="#">Photo Frames </a>
    <a href="#">Punjabi Suits </a>
    <a href="#"> Bikini </a>
    <a href="#"> Myntra Fashion Show </a>
    <a href="#">Lipstick </a>
    <a href="#">Saree </a>
    <a href="#"> Watches </a>
    <a href="#"> Lehenga </a>
    <a href="#">Designers Sarees</a>
    <a href="#">Dresses For Girls </a>
    <a href="#">T-Shirts </a>
    <a href="#">Sandals </a>
    <a href="#">Headphones </a>
    <a href="#">Babydolls </a>
    <a href="#"> Blazers For Men </a>
</div>


<div class="bil">
    <div class="cal">In case of any concern, <a href="#">Contact Us</a></div>

    <div class="iop">© 2021 www.myntra.com. All rights reserved.</div>
</div>



<div class="dertr">
    <h5>ONLINE SHOPPING FOR WOMEN: MYNTRA ALL THE WAY</h5>
    <p>When it comes to women, shopping is more than just a therapy. We believe that it is a joyous activity where you
        get to choose a whole new lifestyle. If you would like access to a wide variety of products for women online
        shopping is the way to go. And of all the online shopping sites for women, Myntra is the place to find the
        finest brands of women’s fashion and lifestyle products. The women’s shopping range at Myntra includes the best
        price merchandise of top-notch quality.</p>

    <h5>WOMEN’S ONLINE SHOPPING: CLOTHES, ACCESSORIES, FOOTWEAR, AND MORE</h5>
    <p>While a few online shopping sites for women might focus on apparel, others on ethnic wear, and yet others on home
        décor, Myntra brings you everything under one roof. Here is a list of must-haves from the wide variety of
        awesome products at Myntra:</p>

    <div class="door">
        <ul>
            <li>1. Your online shopping clothes’ list should include a healthy mix of apparel suitable for casual,
                formal and festive occasions. Look cool in T-shirts, tops and jeans. Ooze maximum oomph with our
                top-of-the-range dresses. Climb up the corporate ladder with chic formal wear. Try the ethnic touch with
                our pretty printed-kurtas, Patiala salwars and dhotis. Stride into a wedding with confidence in a
                lehenga choli or an elegant saree.</li>
            <li>2. If you are generally reluctant to step out to purchase innerwear for women online shopping provides a
                comfortable, private setting where you can shop in peace. Right from basic bras and briefs, to shape
                wear and swimwear, we have an option for each of your needs. You can include in your online clothes’
                shopping list cosy winter wear and sporty sweatshirts and tracksuits as well.</li>
            <li>3. Once you are done with your online clothes’ shopping, it is time to buy smart jewellery. Our range of
                pretty rings, necklaces, bracelets and more have been crafted to highlight your natural beauty. You can
                find smart accessories here as well such as handbags, purses, sunglasses and beautiful analogue and
                digital watches for any occasion.</li>
            <li>4. Your online women’s shopping adventure should include a trip to our footwear section. Feel fabulous
                in fine footwear from the best brands crafted to perfection. Be it handcrafted mojaris and juttis or
                single-toe flats from our ethnic section, or pumps and peep-toe shoes from our western section, you are
                sure to be dressed to impress.</li>
        </ul>
    </div>
    <p>And there are more fabulous products such as sportswear, blazers, gowns, dress material, bath accessories, kajal
        and makeup for women online. The women’s online shopping experience at Myntra is filled with unlimited choices!
    </p>

    <h5>ONLINE SHOPPING FOR WOMEN MADE EASY</h5>
    <p>The women’s shopping experience at a physical store is fraught with problems. Long payment queues, crowded shops
        and struggles for parking spaces are not enjoyable. At Myntra you can complete your shopping and make your
        payment in a jiffy. Just a few clicks, or a few taps on your smartphone, and you are done! Enjoy your online
        women’s shopping journey at Myntra and get set to redefine your lifestyle.</p>
</div>


<div class=" FreeShippingBanner-sidebar FreeShippingBanner-sidebar-collapsed"><div class=" FreeShippingBanner-arrow FreeShippingBanner-arrow-collapsed"></div><p class="FreeShippingBanner-sidebar-content">FLAT ₹400 OFF</p></div>