.koun{
    display: flex;
    padding-top: 122px;
    cursor: pointer;
}

.hio img{
  height: 295px;
  width: 206;
  padding: 4px 22px;
}

.kon{
    display: flex;
    padding-top: 22px;
    cursor: pointer;
}

.image-image{
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
   
}

.hio{
    padding-top: 134px;
}

.him img{
    height: 295px;
    padding: 4px 22px;
}