<div class="shelt">

    <div class="belt">

        <div class="darling">
            <div class="image-grid-image" style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/productimage/2021/6/9/d2bb16f3-4d69-4009-895a-8502c69df8e81623242818236-1.jpg&quot;);"></div>
            <div class="image-grid-image" style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/productimage/2021/6/9/20990e72-c73b-4962-8e96-d8b7b30ffc031623242818247-2.jpg&quot;);"></div>
        </div>

        <div class="darling">
            <div class="image-grid-image" style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/productimage/2021/6/9/97752938-e81d-4f20-a5a1-a724f84c25af1623242818266-3.jpg&quot;);"></div>
            <div class="image-grid-image" style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/productimage/2021/6/9/8ffd9302-b530-4f7d-8871-3adf81095d071623242818277-4.jpg&quot;);"></div>
        </div> 

        <div class="darling">
            <div class="image-grid-image" style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/productimage/2021/6/9/a652d28e-de8c-4eee-89fc-57b5e437397e1623242818286-5.jpg&quot;);"></div>
            <div class="image-grid-image" style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/productimage/2021/6/9/464b39ab-eed0-4273-9fef-be0fa9b2acaf1623242818294-6.jpg&quot;);"></div>
        </div>

    
    </div>
    <div class="Qwer">
        <div class="huts">
            Cortina
        </div>
        <div class="loi">Orange & White Printed 3-Seater Super-Stretchable Non-Slip Sofa Slipcovers</div>
   
        <div class="kul">
            <div class="bell">Rs.1649</div>
            <div class="tyu"> <del>Rs. 4998</del></div>
            <div class="de"> (67% OFF) </div>
        </div>

        <div class="hit">inclusive of all taxes</div>
        <div class="shirt">
            <div class="bet">Select size </div>
             
           
        </div>

        <div class="verr">
            <span class="ert">Onesize</span>
        </div>

  

        <div class="gtru">
           <a routerLink="/card2"> <button class="bn">
                <span class="myntraweb"><i class="fa fa-shopping-bag"></i></span>
                ADD TO BAG
           </button></a>

            <button class="bk">
              <span class="myntaweb"><i class="fa fa-heart-o"></i></span>
              WISHLIST
            </button>
        </div>

        <div class="kul">
            <div class="bell">Rs.1649</div>
            <div class="tyu"> <del>Rs. 4998</del></div>
            <div class="de"> (67% OFF) </div>
        </div>
        <div class="bo">Seller: <span class="supplier-productSellerName">Bhairavanth Impex (M Direct)</span></div>

        <div class="ser">
            <h4> <span class="tre"><i class="fa fa-truck"></i></span> Delivery Options </h4>
        </div>

        <div class="sey">
            <input type="text" placeholder="Enter a Pin code">
            <button class="btns">CHECK</button>
        </div>

        <div class="but">
            Please enter PIN code to check delivery time & Pay on Delivery Availability
        </div>

        <div class="hy">
            <div class="ishq">100% Original Products</div>
            <div class="ishq">Pay on delivery might be available</div>
            <div class="ishq">Easy 30 days returns and exchanges</div>
          
        </div>

        <div class="gr">
            <div class="swer">
                BEST OFFERS 

            </div>
    <div class="ishq">This product is already at its best price</div>
        </div>
<hr>
        <div class="shall">
            <div class="ball">
                PRODUCT DETAILS 
              
            </div>
          
            <div class="uy">
          

                <li class="sl">Set content: 1 Sofa cover</li>
                <li class="sl">Colour: Orange, white and black</li>
                <li class="sl">Pattern:Printed</li>
                <li class="sl">Material: Polyester</li>
                <li class="sl">Suitable for: Three seater</li>
             
            </div>

            <div class="hul">
                <div class="juu">SIZE & FIT</div>
            
                <li class="bu">Dimension: 1.85 m x 2.30 m(Length x Width)</li>
            </div>

            <div class="hul">
                <div class="juu">Material & Care</div>
                <li class="bu">Material: Polyester</li>
                <li class="bu">Care Description: Machine Wash</li>
            </div>
        </div>
        <div class="han">Specification</div>
        <div class="oi">
           
            <div class="qr">
                <div class="bri">Sport</div>
                <p class="u">Running</p>

                <div class="bri">Fastening</div>
                <p class="u">Lace-Ups</p>

               
            </div>
            <div class="vr">
                <div class="bri">Material</div>
                <p class="u">Textile</p>
                
               
            </div>
           
        </div>

        <div class="hul">
            <div class="juu">Complete The Look</div>
        
            <h3 class="buun">Cortina sofa covers with different exquisite designs and color instantly freshens up your home decor, transforming your old furniture into new.</h3>
        </div>
        <hr>

         

 <div class="qs">
     
     <div class="box">Product Code: <b>14500020</b></div>
     <div class="bo">Seller: <span class="supplier-productSellerName">Bhairavanth Impex (M Direct)</span></div>
     <span class="dol">View Supplier Information</span>
 
    </div>


