<div class="darrt">
    <div class="kim">
      <div class="dt">FILTERS</div>
  
      <div class="free">
     
  
        <li>
          <label class="hun">
            <mat-radio-button value="1" checked mdbInput>Women</mat-radio-button>
          </label>
        </li>
  
      
  
        <li>
          <label class="hun">
            <mat-radio-button value="1">Girls</mat-radio-button>
          </label>
        </li>
      </div>
  
  
      <div class="yui">
        <p class="pin">Categories</p>
        <li>
          <label class="check">
            <mat-checkbox>Earings</mat-checkbox>
            <span class="run">(394)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Jewellery Set</mat-checkbox>
            <span class="run">(80)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Ring</mat-checkbox>
            <span class="run">(54)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Bangle</mat-checkbox>
            <span class="run">(37)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Bracelet</mat-checkbox>
            <span class="run">(26)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Head Jewellery</mat-checkbox>
            <span class="run">(22)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Necklace and Chains</mat-checkbox>
            <span class="run">(17)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Anklet</mat-checkbox>
            <span class="run">(5)</span>
          </label>
        </li>
        <div class="bj">+5 more</div>
      </div>
  
  
      <div class="yui">
        <p class="pin">brands</p>
        <li>
          <label class="check">
            <mat-checkbox>Studio Voylla</mat-checkbox>
            <span class="run">(290)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Priyyasi</mat-checkbox>
            <span class="run">(217)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Voylla</mat-checkbox>
            <span class="run">(62)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>ROSARA HOME</mat-checkbox>
            <span class="run">(831)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>THE ABB STUDIO</mat-checkbox>
            <span class="run">(52)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Rubans</mat-checkbox>
            <span class="run">(8)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Krafted with Happiness</mat-checkbox>
            <span class="run">(5)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Shoshaa</mat-checkbox>
            <span class="run">(2)</span>
          </label>
        </li>
  
        <div class="bj">+4 more</div>
      
      </div>
      
      <div class="ui">
      <div class="yui">
        <p class="pin">Price</p>
        <li>
          <label class="check">
            <mat-checkbox>Rs. 149 to Rs. 3012</mat-checkbox>
            <span class="run">(602)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Rs. 3012 to Rs. 5875</mat-checkbox>
            <span class="run">(29)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Rs. 5875 to Rs. 8738</mat-checkbox>
            <span class="run">(8)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Rs. 8738 to Rs. 11601</mat-checkbox>
            <span class="run">(3)</span>
          </label>
        </li>
  
    </div>
   
    <div class="yui">
      <p class="pin">COLOR</p>
      <li>
        <label class="check">
          <mat-checkbox>
            <span data-colorhex="blue" class="colour-label colour-colorDisplay" style="background-color: gold;"></span>
            Gold
          </mat-checkbox>
          <span class="run">(306)</span>
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>
            <span data-colorhex="white" class="colour-label colour-colorDisplay" style="background-color: silver;"></span>
            Silver
          </mat-checkbox>
          <span class="run">(203)</span>
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>
            <span data-colorhex="brown" class="colour-label colour-colorDisplay" style="background-color: green;"></span>
            Green
          </mat-checkbox>
          <span class="run">(15)</span>
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>
            <span data-colorhex="beige" class="colour-label colour-colorDisplay" style="background-color: pink;"></span>
            Pink
          </mat-checkbox>
          <span class="run">(14)</span>
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>
            <span data-colorhex="grey" class="colour-label colour-colorDisplay" style="background-color: orangered;"></span>
            Oranged
          </mat-checkbox>
          <span class="run">(13)</span>
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>
            <span data-colorhex="green" class="colour-label colour-colorDisplay" style="background-color: white;"></span>
            White
          </mat-checkbox>
          <span class="run">(12)</span>
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>
            <span data-colorhex="black" class="colour-label colour-colorDisplay" style="background-color: red;"></span>
            Red
          </mat-checkbox>
          <span class="run">(10)</span>
        </label>
      </li>
  
   
  
    
    </div>
  
    <div class="yui">
      <p class="pin">discount range</p>
      <li>
        <label class="check">
          <mat-checkbox>10% and above</mat-checkbox>
         
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>20% and above</mat-checkbox>
        
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>30% and above</mat-checkbox>
        
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>40% and above</mat-checkbox>
        
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>50% and above</mat-checkbox>
         
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>60% and above</mat-checkbox>
    
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>70% and above</mat-checkbox>
       
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>80% and above</mat-checkbox>
       
        </label>
      </li>
  
    
    </div>
  </div>
  
    </div>
  
    <div class="sim">
  
      <div class="kun">
        <div class="din">
          <div class="ver" id="f1" (click)="on('f1')">Bundles<span class="pull-right  down-icon" [class.icon]="id==='f1'"><div class="fa fa-chevron-down"></div></span></div>
          <div class="hit" *ngIf="id==='f1'">
            <li>
                <label class="check">
                    <mat-checkbox>Single Styles</mat-checkbox>

                </label>
            </li>
          </div>
          </div>
        
              <div class="din">
          <div class="ver" id="f2" (click)="on('f2')">Country of Origin<span class="pull-right  down-icon" [class.icon]="id==='f2'"><div class="fa fa-chevron-down"></div></span></div>
          <div class="hit" *ngIf="id==='f2'">
            <li>
                <label class="check">
                    <mat-checkbox>All Countries</mat-checkbox>

                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>India</mat-checkbox>

                </label>
            </li>
          </div>
        </div>

        <div class="din">
            <div class="ver" id="f3" (click)="on('f3')">Size<span class="pull-right  down-icon" [class.icon]="id==='f3'"><div class="fa fa-chevron-down"></div></span></div>
            <div class="hit" *ngIf="id==='f3'">
              <li>
                  <label class="check">
                      <mat-checkbox>26 Mm</mat-checkbox>
  
                  </label>
              </li>
  
              <li>
                  <label class="check">
                      <mat-checkbox>29 Mm</mat-checkbox>
  
                  </label>
              </li>

              <li>
                <label class="check">
                    <mat-checkbox>32 Mm</mat-checkbox>

                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>37 Mm</mat-checkbox>

                </label>
            </li>
            <li>
                <label class="check">
                    <mat-checkbox>39 Mm</mat-checkbox>

                </label>
            </li>
            <li>
                <label class="check">
                    <mat-checkbox>18 Mm</mat-checkbox>

                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>11 Mm</mat-checkbox>

                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>44 Mm</mat-checkbox>

                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>12 Mm</mat-checkbox>

                </label>
            </li>
            <li>
                <label class="check">
                    <mat-checkbox>Onesize</mat-checkbox>

                </label>
            </li>
            <li>
                <label class="check">
                    <mat-checkbox>Pack</mat-checkbox>

                </label>
            </li>
            </div>
          </div>


          <div class="fre">
            <select id="cars" name="cars">
               <option value="volvo">Sort by : <b>Recommended</b> </option>
               <option value="">What's new</option>
               <option value="">Popularity</option>
               <option value="">Better Discount</option>
               <option value="">Price High to Low</option>
               <option value="">Price Low to High</option>
               <option value="">Customer Rating</option>
            </select>
         </div>
</div>
       
      <div class="hitler">
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/2/9/95e5bc82-0125-408f-b439-93f71629dc081612855866010-1.jpg" class="img-responsive" alt="Silver-Plated Beaded Ghungroo Traditional Handcrafted Anklet" title="Silver-Plated Beaded Ghungroo Traditional Handcrafted Anklet"> 
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
          Priyaasi</div>
          <div class="col">
      Set of 2 Silver-Plated Beaded
          </div>
          <div class="nit">
            <div class="br">Rs. 399</div>
            <div class="hil"><del>Rs. 1999</del></div>
            <div class="set">(80% OFF)</div>
          </div>
        </div>
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/10943526/2019/12/31/071bd553-c7ff-4651-bad4-d4a40ceaa46d1577782003860-Priyaasi-Set-of-2-Gold-Plated-American-Diamond-Studded-Handc-1.jpg" class="img-responsive" alt="Set of 2 Gold-Plated Bangles" title="Set of 2 Gold-Plated Bangles">
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
            Priyaasi</div>
            <div class="col">
              Set of 2 Silver-Plated Bangles
            </div>
            <div class="nit">
              <div class="br">Rs. 1153</div>
              <div class="hil"><del>Rs. 3297</del></div>
              <div class="set">(65% OFF)</div>
            </div>
        </div>
  
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/7686718/2019/5/18/59c957fd-dc50-4858-8f81-44b076d6e0831558176275154-Rubans-Gold-Plated--Pink-Metal-Antique-Jewellery-Set-2451558-1.jpg" class="img-responsive" alt="Gold-Plated Jewellery Set" title="Gold-Plated Jewellery Set">
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
            Rubans</div>
            <div class="col">
            Gold-Toned Stone-Studded
            </div>
            <div class="nit">
              <div class="br">Rs. 3125</div>
              <div class="hil"><del>Rs. 12500</del></div>
              <div class="set">(75% OFF)</div>
            </div>
        </div>
  
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/9296415/2019/6/20/f0c71163-e8bc-41ac-a619-21c7f7cb3b251561029717402-Priyaasi-Rose-Gold-Plated-American-Diamond-Studded-Jewellery-1.jpg" class="img-responsive" alt="Rose Gold-Plated Jewellery Set" title="Rose Gold-Plated Jewellery Set">
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
            Priyaasi</div>
            <div class="col">
              Rose-Gold-Plated Jewellery Set
            </div>
            <div class="nit">
              <div class="br">Rs. 2829</div>
              <div class="hil"><del>Rs. 4930</del></div>
              <div class="set">(70% OFF)</div>
            </div>
        </div>
  
  
  
      </div>
  
      <div class="hitler">
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/9296217/2019/6/12/18329f47-3575-43b4-83d4-4dc455b197411560335453066-Priyaasi-Rose-Gold-Plated-Handcrafted-Bangle-Style-Bracelet--1.jpg" class="img-responsive" alt="Brass Rose Gold-Plated Handcrafted Bangle-Style Bracelet" title="Brass Rose Gold-Plated Handcrafted Bangle-Style Bracelet">
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
          Priyaasi</div>
          <div class="col">
       Bangle-Style Bracellet
          </div>
          <div class="nit">
            <div class="br">Rs. 764</div>
            <div class="hil"><del>Rs. 1864</del></div>
            <div class="set">(59% OFF)</div>
          </div>
        </div>
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2019/3/6/742a7099-4c0b-497a-9c77-142010cde1e51551894062467-1.jpg" class="img-responsive" alt="Crescent Shaped Drop Earrings" title="Crescent Shaped Drop Earrings">
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
            Studio Voylla</div>
            <div class="col">
        Contemporary Drop Earrings
            </div>
            <div class="nit">
              <div class="br">Rs. 374</div>
              <div class="hil"><del>Rs. 479</del></div>
              <div class="set">(50% OFF)</div>
            </div>
        </div>
  
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/10607178/2019/12/11/4cb7e828-0d49-40f6-b385-6e24c07c6cf91576072355602-Priyaasi-Grey-Gold-Plated-Handcrafted-Kundan-Studded-Floral--1.jpg" class="img-responsive" alt="Floral Drop Earrings" title="Floral Drop Earrings">
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
            Priyaasi</div>
            <div class="col">
              Gold Plated Kundan Studded
            </div>
            <div class="nit">
              <div class="br">Rs. 2057</div>
              <div class="hil"><del>Rs. 9799</del></div>
              <div class="set">(79% OFF)</div>
            </div>
        </div>
  
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/2/9/3d5c5f31-2ad2-43d0-84c0-79ea5200fbdc1612855837305-1.jpg" class="img-responsive" alt="Gold-Plated Pearls &amp; Kundan Stone Studded Traditional Maang Tika Jewellery Set" title="Gold-Plated Pearls &amp; Kundan Stone Studded Traditional Maang Tika Jewellery Set">
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
          Priyaasi</div>
            <div class="col">
            Gold-Plated Drop Earrings
            </div>
            <div class="nit">
              <div class="br">Rs. 694</div>
              <div class="hil"><del>Rs. 1930</del></div>
              <div class="set">(64% OFF)</div>
            </div>
        </div>
  
  
  
      </div>
  
  
      <div class="hitler">
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/10590674/2019/10/14/bf6a2e3b-f119-4ab6-9f7e-a599bc7549691571051683316-Priyaasi-Set-of-2-Silver-Toned-Gold-Plated-AD-Studded-Handcr-1.jpg" class="img-responsive" alt="Set of 2 Gold-Plated Bangles" title="Set of 2 Gold-Plated Bangles">
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
          Priyaasi</div>
          <div class="col">
            Set of 2 Handcrafted Bangles
          </div>
          <div class="nit">
            <div class="br">Rs. 1162</div>
            <div class="hil"><del>Rs. 3230</del></div>
            <div class="set">(64% OFF)</div>
          </div>
        </div>
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2018/11/2/7617b6fb-0a14-4dbe-838c-254534530f211541161815771-1.jpg" class="img-responsive" alt="Kundan Maang Tika" title="Kundan Maang Tika">
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
          Priyaasi</div>
            <div class="col">
             Stone-Studded Hair Burn Pin
            </div>
            <div class="nit">
              <div class="br">Rs. 860</div>
              <div class="hil"><del>Rs. 2664</del></div>
              <div class="set">(62% OFF)</div>
            </div>
        </div>
  
        <div class="base">
          <a routerLink="/start"> <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/10393783/2019/8/22/bf7d62be-358a-417c-947b-982136fff5711566477751876-Priyaasi-Set-Of-2-Gold-Plated-Off-White-Beaded-Handcrafted-B-1.jpg" class="img-responsive" alt="Set Of 2 Gold Plated Bangles" title="Set Of 2 Gold Plated Bangles"></a>
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
            Priyaasi</div>
            <div class="col">
              Set of 2 Handcrafted Bangles
            </div>
            <div class="nit">
              <div class="br">Rs. 551</div>
              <div class="hil"><del>Rs. 1345</del></div>
              <div class="set">(59% OFF)</div>
            </div>
        </div>
  
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/9296039/2019/6/12/4b82a028-dae7-43a2-8bf6-61da0183e66a1560342069794-Priyaasi-Gunmetal-Toned-Magenta-Gold-Plated-Circular-Studs-3-1.jpg" class="img-responsive" alt="Circular Studs" title="Circular Studs">
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
            Priyaasi</div>
            <div class="col">
          America Diamond-Studded
            </div>
            <div class="nit">
              <div class="br">Rs. 495</div>
              <div class="hil"><del>Rs. 1500</del></div>
              <div class="set">(65% OFF)</div>
            </div>
        </div>
  
  
  
      </div>
  
      <div class="hitler">
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/6/16/108c75a7-0031-4359-900d-ad3226f1ab591623844666526-2.jpg" class="img-responsive" alt="Gold-Plated Kundan-Studded &amp; Pearl-Beaded Tripal-Stranded Handcrafted Jewellery Set" title="Gold-Plated Kundan-Studded &amp; Pearl-Beaded Tripal-Stranded Handcrafted Jewellery Set">
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
         Priyaasi</div>
          <div class="col">
        Gold-Plated Kundan & Pearl
          </div>
          <div class="nit">
            <div class="br">Rs. 6358</div>
            <div class="hil"><del>Rs. 14130</del></div>
            <div class="set">(55% OFF)</div>
          </div>
        </div>
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2019/3/6/c48b3126-239a-4f95-8ed3-6653e31aa75a1551895385693-1.jpg" class="img-responsive" alt="Classic Jhumkas" title="Classic Jhumkas">
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
            Studio Voylla</div>
            <div class="col">
        Leaf Shape Droping Earrings
            </div>
            <div class="nit">
              <div class="br">Rs. 479</div>
              <div class="hil"><del>Rs. 1199</del></div>
              <div class="set">(60% OFF)</div>
            </div>
        </div>
  
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/12498122/2020/11/11/2a156b8b-a0f1-43c8-96a5-716882f096451605077570578CarltonLondonSetof2Silver-TonedBlackRhodium-PlatedBeadedHand1.jpg" class="img-responsive" alt="Set of 2 Handcrafted Anklets" title="Set of 2 Handcrafted Anklets">
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
         Carition London</div>
            <div class="col">
            Set of 2 Handcrafted Anklets
            </div>
            <div class="nit">
              <div class="br">Rs. 354</div>
              <div class="hil"><del>Rs. 545</del></div>
              <div class="set">(35% OFF)</div>
            </div>
        </div>
  
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/10393711/2019/9/13/5b38cc23-5243-4ed4-88e4-bbdc86f1d04a1568378024380-Priyaasi-Gold-Plated-Stone-Studded-Beaded-Handcrafted-Jewell-1.jpg" class="img-responsive" alt="Gold-Plated Jewellery Set" title="Gold-Plated Jewellery Set">
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
            Priyaasi</div>
            <div class="col">
            Handcrafted Jewellery Set
            </div>
            <div class="nit">
              <div class="br">Rs. 700</div>
              <div class="hil"><del>Rs. 2500</del></div>
              <div class="set">(72% OFF)</div>
            </div>
        </div>
  
  
  
      </div>
  
      <div class="hitler">
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/6/22/5fb1b555-e96e-4bab-9ef5-42c7f9a4f2f01624359284824-1.jpg" class="img-responsive" alt="Handcrafted Jewellery Set" title="Handcrafted Jewellery Set">
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
          Shoshaa</div>
          <div class="col">
         Gold-Plated Stone-Studded
          </div>
          <div class="nit">
            <div class="br">Rs. 1452</div>
            <div class="hil"><del>Rs. 4149</del></div>
            <div class="set">(65% OFF)</div>
          </div>
        </div>
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/2342191/2018/4/19/11524133038660-Priyaasi-Turquoise-Blue-Gold-Plated-Handcrafted-Leaf-Shaped-Stone-Studded-Drop-Earrings-2701524133038441-1.jpg" class="img-responsive" alt="Gold-Plated Jhumka Earrings" title="Gold-Plated Jhumka Earrings">
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
            Priyaasi</div>
            <div class="col">
              Gold Plated Jhumkas
            </div>
            <div class="nit">
              <div class="br">Rs. 396</div>
              <div class="hil"><del>Rs. 1100</del></div>
              <div class="set">(64% OFF)</div>
            </div>
        </div>
  
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/12493348/2020/11/3/539ebb7e-5c0a-49c1-abbd-4046555971e11604388079625PriyaasiRoseGold-PlatedAD-StuddedHandcraftedOvalHoopEarrings1.jpg" class="img-responsive" alt="Rose Gold-Plated AD Hoops" title="Rose Gold-Plated AD Hoops">
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
          Priyaasi</div>
            <div class="col">
            Contemporary Hoop Earrings
            </div>
            <div class="nit">
              <div class="br">Rs. 1270</div>
              <div class="hil"><del>Rs. 3530</del></div>
              <div class="set">(64% OFF)</div>
            </div>
        </div>
  
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/7629317/2018/10/25/58ae441a-42f4-4e61-9d9a-a8478b1120951540458733371-Studio-Voylla-Multicoloured-Contemporary-Drop-Earrings-6781540458733167-1.jpg" class="img-responsive" alt="Contemporary Drop Earrings" title="Contemporary Drop Earrings">
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
            Voylla</div>
            <div class="col">
            Floral Drop Earings
            </div>
            <div class="nit">
              <div class="br">Rs. 339</div>
              <div class="hil"><del>Rs. 399</del></div>
              <div class="set">(18% OFF)</div>
            </div>
        </div>
  
  
  
      </div>
  
      
      <div class="hitler">
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/10393681/2019/9/13/919d78d9-b589-40a8-9ebf-ba9a35e5c5cc1568375112849-Priyaasi-Gold-Plated-Stone-Studded-Beaded-Handcrafted-Jewell-1.jpg" class="img-responsive" alt="Gold-Plated Jewellery Set" title="Gold-Plated Jewellery Set">
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
          Priyaasi</div>
          <div class="col">
           Gold-Plated Jewellery Set
          </div>
          <div class="nit">
            <div class="br">Rs. 1197</div>
            <div class="hil"><del>Rs. 3630</del></div>
            <div class="set">(67% OFF)</div>
          </div>
        </div>
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/9379347/2020/7/31/ab045a53-b8b9-4f5d-a34a-ea0b62f60f211596189116152FabstreetSilver-PlatedCircularStuds1.jpg" class="img-responsive" alt="Circular Studs" title="Circular Studs" >
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
           Priyaasi</div>
            <div class="col">
           Silver-Plated Oversixed Studs
            </div>
            <div class="nit">
              <div class="br">Rs. 541</div>
              <div class="hil"><del>Rs. 1320</del></div>
              <div class="set">(59% OFF)</div>
            </div>
        </div>
  
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/9296095/2019/7/8/a7606c0c-5903-4f4d-80a4-23c64d9d4aa51562582668136-Priyaasi-Silver-Plated-Handcrafted-CZ-Studded-Link-Bracelet--1.jpg" class="img-responsive" alt="Brass Silver-Plated Handcrafted Link Bracelet" title="Brass Silver-Plated Handcrafted Link Bracelet"> 
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
          Priyaasi</div>
            <div class="col">
             Brass Silver-Plated Handcrafted
            </div>
            <div class="nit">
              <div class="br">Rs. 1080</div>
              <div class="hil"><del>Rs. 3600</del></div>
              <div class="set">(70% OFF)</div>
            </div>
        </div>
  
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/9296135/2019/6/12/ad2063f9-dedd-4eee-8139-2c03a18c04891560335413474-Priyaasi-Rose-Gold-Plated-Handcrafted-Link-Bracelet-89115603-1.jpg" class="img-responsive" alt="Brass Rose Gold-Plated Handcrafted Link Bracelet" title="Brass Rose Gold-Plated Handcrafted Link Bracelet">
            <div class="product-item-ratingsContainer"><span>4.3</span><span class="myntraweb"><i class="fa fa-star checked"></i></span></div>
            <div class="vat">
           Priyaasi</div>
            <div class="col">
          Brase Rose Gold-Plated Handcrafted
            </div>
            <div class="nit">
              <div class="br">Rs. 990</div>
              <div class="hil"><del>Rs. 3330</del></div>
              <div class="set">(70% OFF)</div>
            </div>
        </div>
  
  
  
      </div>  
  
    </div>
  </div>
