.fuio .image-image {
    position: absolute;

    left: 0;
    right: 0;
 height: auto;
    width: 100%;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.yuii{
    display: flex;

}
.biki img{
margin-top: 43%;
    left: 0;
    right: 0;
 height: auto;
    width: 83%;

  
}

.biki{
    cursor: pointer;
    margin-left: 22px;
}

.bik img{

      left: 0;
      right: 0;
   height: auto;
      width: 83%;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
  
    
  }

  .bik{
    margin-left: 22px;
  }

  .iop .image-image {
    position: absolute;

    left: 0;
    right: 0;
 height: auto;
    width: 100%;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.kop{
   
    display: flex;
    cursor: pointer;
}

.kop img{
    width: 266px;
}

.sty{
    padding-top: 7%;

}