<div class="ret">
    <div class="det">
      <h5>  Price </h5>
        
        <li>
            <mat-checkbox> &nbsp; Rs. 1499 to Rs. 2048 <span>(1)</span></mat-checkbox>
        </li>
        <li>
            <mat-checkbox> &nbsp;  Rs. 2048 to Rs. 2597 <span>(1)</span></mat-checkbox>
        </li>
        <li>
            <mat-checkbox>&nbsp; Rs. 2597 to Rs. 3146  <span>(1)</span></mat-checkbox>
        </li>

        <div class="kourt">
         <h5>  Color </h5>
            <li>
                <mat-checkbox> <span data-colorhex="navy blue" class="colour-label colour-colorDisplay" style="background-color: rgb(60, 68, 119);"></span> &nbsp; Navy <span>(1)</span></mat-checkbox>
            </li>
            <li>
                <mat-checkbox> <span data-colorhex="grey" class="colour-label colour-colorDisplay" style="background-color: rgb(159, 168, 171);"></span> &nbsp; Grey <span>(1)</span></mat-checkbox>
            </li>
            <li>
                <mat-checkbox><span data-colorhex="blue" class="colour-label colour-colorDisplay" style="background-color: rgb(0, 116, 217);"></span>&nbsp; Blue  <span>(1)</span></mat-checkbox>
            </li>  
            
            <li>
                <mat-checkbox><span data-colorhex="black" class="colour-label colour-colorDisplay" style="background-color: rgb(54, 69, 79);"></span>&nbsp; Black  <span>(1)</span></mat-checkbox>
            </li>  
        </div>

        <div class="kourt">
            <h5>  Discount Range </h5> 
            <li>
                <mat-radio-button value="20">20% and above</mat-radio-button>
            </li>
            <li>
                <mat-radio-button value="30">30% and above</mat-radio-button>
            </li>
            <li>
                <mat-radio-button value="50" >50% and above</mat-radio-button>
            </li>
        </div>
    </div>
   
     <div class="cerf">
        <carousel>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13762710/2021/4/26/5f9d772c-bd44-40d6-acad-7967dc53d83c1619438013052-Nike-Downshifter-10-Mens-Running-Shoe-7541619438012560-1.jpg" class="img-responsive" alt="Men DOWNSHIFTER 10 Running" title="Men DOWNSHIFTER 10 Running">
            </slide>
           
          </carousel>

          <div class="hyu">
              4.3 <span class="fa fa-star"></span> | 139
          </div>
          <div class="total">
              Nike 
          </div>
          <div class="sew">Men Revolution 4 Running Sho...</div>
          <div class="dhol">Rs. 1499 <del>RS. 3695</del> <span>(35% OFF)</span></div>
     </div>

     <div class="cerf">
        <carousel>
            <slide>
           <a routerLink="/buy"> <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/4698763/2018/5/5/11525496223459-Mens-Nike-Revolution-4-Running-Shoe-3781525496223319-1.jpg" class="img-responsive" alt="Men REVOLUTION 4 Running" title="Men REVOLUTION 4 Running"></a>
            </slide>
           
          </carousel>

          <div class="hyu">
              4.4 <span class="fa fa-star"></span> | 16k
          </div>
          <div class="total">
              Nike 
          </div>
          <div class="sew">Men Revolution 4 Running..</div>
          <div class="dhol">Rs. 2586 <del>RS. 3695</del> <span>(30% OFF)</span></div>
     </div>

     <div class="cerf">
        <carousel>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/6676897/2018/6/18/3fe9c6ff-afcd-42f9-b366-543a954d8eb21529299416292-Nike-Varsity-Compete-Trainer-5451529299416049-1.jpg" class="img-responsive" alt="Men Varsity Complete Training" title="Men Varsity Complete Training">
            </slide>
           
          </carousel>

          <div class="hyu">
              4.3 <span class="fa fa-star"></span> | 3.7k
          </div>
          <div class="total">
              Nike 
          </div>
          <div class="sew">Men Revolution 4 Running </div>
          <div class="dhol">Rs. 1662 <del>RS. 3695</del> <span>(55% OFF)</span></div>
     </div>

     <div class="cerf">
        <carousel>
            <slide>
                <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13762668/2021/4/19/32001f2a-cb64-4b1d-94e6-52a23a3c8c811618814313758-Nike-Varsity-Compete-TR-3-Mens-Training-Shoe-537161881431333-1.jpg" class="img-responsive" alt="Men VARSITY TR 3Training Shoes" title="Men VARSITY TR 3Training Shoes">
            </slide>
           
          </carousel>

          <div class="hyu">
              4.2 <span class="fa fa-star"></span> | 440
          </div>
          <div class="total">
              Nike 
          </div>
          <div class="sew">Men Running Shoes</div>
          <div class="dhol">Rs. 2771 <del>RS. 3695</del> <span>(25% OFF)</span>
            <p>Only Few Left!</p>
        </div>
     </div>
</div>


