
.koloi{
    padding-top: 30px;
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    color: #444141;
    margin: 0px 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.shelve{
    display: flex;
    margin-left: 40px;
    overflow: hidden;
}

.image-image {
    position: relative;
   cursor: pointer;
    left: 0;
    right: 0;
    height: auto;
    width: 90%;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    outline: none;
}


.delo{
    padding-top: 15px;
}




