<div class="darrt">
    <div class="kim">
      <div class="dt">FILTERS</div>
  
      <div class="free">
        <li>
          <label class="hun">
            <mat-radio-button value="1" >Boys</mat-radio-button>
          </label>
        </li>
  
        <li>
          <label class="hun">
            <mat-radio-button value="1">Girls</mat-radio-button>
          </label>
        </li>
  
  
      </div>
  
  
      <div class="yui">
        <p class="pin">Categories</p>
        <li>
          <label class="check">
            <mat-checkbox>Tshirts</mat-checkbox>
            <span class="run">(242)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Track Pants</mat-checkbox>
            <span class="run">(117)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Shorts</mat-checkbox>
            <span class="run">(110)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Tights</mat-checkbox>
            <span class="run">(72)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Jacket</mat-checkbox>
            <span class="run">(42)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Bra</mat-checkbox>
            <span class="run">(39)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Sweatshirts</mat-checkbox>
            <span class="run">(35)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Tops</mat-checkbox>
            <span class="run">(7)</span>
          </label>
        </li>
      </div>
  
  
      <div class="yui">
        <p class="pin">brands</p>
        <li>
          <label class="check">
            <mat-checkbox>max</mat-checkbox>
            <span class="run">(4013)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Gini and Jony</mat-checkbox>
            <span class="run">(3316)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Cherokee</mat-checkbox>
            <span class="run">(2609)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>GAP</mat-checkbox>
            <span class="run">(2435)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>CUTECUMBER</mat-checkbox>
            <span class="run">(2286)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Cherry Crumble</mat-checkbox>
            <span class="run">(2272)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>MINI KLUB</mat-checkbox>
            <span class="run">(1956)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Allen Solly Junior</mat-checkbox>
            <span class="run">(738)</span>
          </label>
        </li>
  
      
      </div>
      
      <div class="ui">
      <div class="yui">
        <p class="pin">Price</p>
        <li>
          <label class="check">
            <mat-checkbox>Rs. 239 to Rs. 674</mat-checkbox>
            <span class="run">(16225)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Rs. 674 to Rs. 1109</mat-checkbox>
            <span class="run">(791)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Rs. 1109 to Rs. 1544</mat-checkbox>
            <span class="run">(101)</span>
          </label>
        </li>
  
        <li>
          <label class="check">
            <mat-checkbox>Rs. 1544 to Rs. 1979</mat-checkbox>
            <span class="run">(2)</span>
          </label>
        </li>
  
    </div>
   
    <div class="yui">
      <p class="pin">COLOR</p>
      <li>
        <label class="check">
          <mat-checkbox>
            <span data-colorhex="blue" class="colour-label colour-colorDisplay" style="background-color: rgb(0, 116, 217);"></span>
            Blue
          </mat-checkbox>
          <span class="run">(1861)</span>
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>
            <span data-colorhex="red" class="colour-label colour-colorDisplay" style="background-color: rgb(211, 75, 86);"></span>
            red
          </mat-checkbox>
          <span class="run">(1727)</span>
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>
            <span data-colorhex="brown" class="colour-label colour-colorDisplay" style="background-color: rgb(145, 80, 57);"></span>
            Brown
          </mat-checkbox>
          <span class="run">(1275)</span>
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>
            <span data-colorhex="beige" class="colour-label colour-colorDisplay" style="background-color: rgb(232, 230, 207);"></span>
            Beige
          </mat-checkbox>
          <span class="run">(1154)</span>
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>
            <span data-colorhex="grey" class="colour-label colour-colorDisplay" style="background-color: rgb(159, 168, 171);"></span>
            Grey
          </mat-checkbox>
          <span class="run">(1044)</span>
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>
            <span data-colorhex="green" class="colour-label colour-colorDisplay" style="background-color: rgb(94, 177, 96);"></span>
            Green
          </mat-checkbox>
          <span class="run">(978)</span>
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>
            <span data-colorhex="black" class="colour-label colour-colorDisplay" style="background-color: rgb(54, 69, 79);"></span>
            Black
          </mat-checkbox>
          <span class="run">(960)</span>
        </label>
      </li>
  
   
  
    
    </div>
  
    <div class="yui">
      <p class="pin">discount range</p>
      <li>
        <label class="check">
          <mat-checkbox>10% and above</mat-checkbox>
         
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>20% and above</mat-checkbox>
        
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>30% and above</mat-checkbox>
        
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>40% and above</mat-checkbox>
        
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>50% and above</mat-checkbox>
         
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>60% and above</mat-checkbox>
    
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>70% and above</mat-checkbox>
       
        </label>
      </li>
  
      <li>
        <label class="check">
          <mat-checkbox>80% and above</mat-checkbox>
       
        </label>
      </li>
  
    
    </div>
  </div>
  
    </div>
  
    <div class="sim">
  
      <div class="kun">
        <div class="din">
          <div class="ver" id="f1" (click)="on('f1')">Bundles<span class="pull-right  down-icon" [class.icon]="id==='f1'"><div class="fa fa-chevron-down"></div></span></div>
          <div class="hit" *ngIf="id==='f1'">
            <li>
                <label class="check">
                    <mat-checkbox>Single Styles</mat-checkbox>

                </label>
            </li>
          </div>
          </div>
        
              <div class="din">
          <div class="ver" id="f2" (click)="on('f2')">Country of Origin<span class="pull-right  down-icon" [class.icon]="id==='f2'"><div class="fa fa-chevron-down"></div></span></div>
          <div class="hit" *ngIf="id==='f2'">
            <li>
                <label class="check">
                    <mat-checkbox>All Countries</mat-checkbox>

                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>India</mat-checkbox>

                </label>
            </li>
          </div>
        </div>

        <div class="din">
            <div class="ver" id="f3" (click)="on('f3')">Size<span class="pull-right  down-icon" [class.icon]="id==='f3'"><div class="fa fa-chevron-down"></div></span></div>
            <div class="hit" *ngIf="id==='f3'">
              <li>
                  <label class="check">
                      <mat-checkbox>26 Mm</mat-checkbox>
  
                  </label>
              </li>
  
              <li>
                  <label class="check">
                      <mat-checkbox>29 Mm</mat-checkbox>
  
                  </label>
              </li>

              <li>
                <label class="check">
                    <mat-checkbox>32 Mm</mat-checkbox>

                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>37 Mm</mat-checkbox>

                </label>
            </li>
            <li>
                <label class="check">
                    <mat-checkbox>39 Mm</mat-checkbox>

                </label>
            </li>
            <li>
                <label class="check">
                    <mat-checkbox>18 Mm</mat-checkbox>

                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>11 Mm</mat-checkbox>

                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>44 Mm</mat-checkbox>

                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>12 Mm</mat-checkbox>

                </label>
            </li>
            <li>
                <label class="check">
                    <mat-checkbox>Onesize</mat-checkbox>

                </label>
            </li>
            <li>
                <label class="check">
                    <mat-checkbox>Pack</mat-checkbox>

                </label>
            </li>
            </div>
          </div>


          <div class="fre">
            <select id="cars" name="cars">
               <option value="volvo">Sort by : <b>Recommended</b> </option>
               <option value="">What's new</option>
               <option value="">Popularity</option>
               <option value="">Better Discount</option>
               <option value="">Price High to Low</option>
               <option value="">Price Low to High</option>
               <option value="">Customer Rating</option>
            </select>
         </div>
</div>
       
      <div class="hitler">
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/12102970/2020/12/7/98551b2f-bcad-4b1a-8445-4f386651d1d31607315973349TopsMarksSpencerGirlsSweatshirtsHRXbyHrithikRoshanGirls1.jpg" class="img-responsive" alt="U-17 Lifestyle Sweatshirt" title="U-17 Lifestyle Sweatshirt">  
        <div class="vat">
          HRX by Hrithik Roshon</div>
          <div class="col">
            U-17 Girls Lifestyle
          </div>
          <div class="nit">
            <div class="br">Rs. 1019</div>
            <div class="hil"><del>Rs. 1999</del></div>
            <div class="set">(60% OFF)</div>
          </div>
        </div>
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2020/9/20/a1a0ef3e-9533-47e0-b6a7-090b686230781600552100901-1.jpg" class="img-responsive" alt="Boys Colourblocked Round Neck T-shirt" title="Boys Colourblocked Round Neck T-shirt"> 
          <div class="vat">
            HRX by Hrithik Roshan</div>
            <div class="col">
             U-17 Boys Lifestyle T-shirt
            </div>
            <div class="nit">
              <div class="br">Rs. 599</div>
              <div class="hil"><del>Rs. 3799</del></div>
              <div class="set">(80% OFF)</div>
            </div>
        </div>
  
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/11982224/2020/11/28/b14c3e64-0d2f-4ce7-b7a0-628614767d421606539085515-YK-Boys-Sweatshirts-3221606539084845-1.jpg" class="img-responsive" alt="Boys Graphic Sweatshirt" title="Boys Graphic Sweatshirt"> 
          <div class="vat">
         HRX by Hrithik Roshan</div>
            <div class="col">
                U-17 Boys Lifestyle Sweatshirt
            </div>
            <div class="nit">
              <div class="br">Rs. 959</div>
              <div class="hil"><del>Rs. 1599</del></div>
              <div class="set">(40% OFF)</div>
            </div>
        </div>
  
        <div class="base">
          <a routerLink="/kopl">  <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13330070/2021/6/18/e569638a-f0bd-4145-966c-40f78e223e7e1624006666103-HRX-By-Hrithik-Roshan-U-17-Girls-Turquoise-Colourblock-Bio-W-1.jpg" class="img-responsive" alt="U-17 Girls Lifestyle Tshirt" title="U-17 Girls Lifestyle Tshirt"> </a>
          <div class="vat">
            HRX by Hrithik Roshan
          </div>
            <div class="col">
                U-17 Girls Lifestyle T-shirt
            </div>
            <div class="nit">
              <div class="br">Rs. 1485</div>
              <div class="hil"><del>Rs. 3300</del></div>
              <div class="set">(55% OFF)</div>
            </div>
        </div>
  
  
  
      </div>
  
      <div class="hitler">
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13430748/2021/6/3/6b64a888-05c7-4642-996a-75d7008a7bb21622694718839-HRX-by-Hrithik-Roshan-Boys-Track-Pants-9751622694718673-1.jpg" class="img-responsive" alt="U-17 Boys Active Joggers" title="U-17 Boys Active Joggers"> 
        <div class="vat">
        HRX by Hrithik Roshan</div>
          <div class="col">
            U-17 Boys Active Track Pants
          </div>
          <div class="nit">
            <div class="br">Rs. 4500</div>
            <div class="hil"><del>Rs. 10000</del></div>
            <div class="set">(55% OFF)</div>
          </div>
        </div>
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13688530/2021/6/2/1688498e-378c-4f5b-9a49-3f4582fb237b1622608259675-HRX-by-Hrithik-Roshan-Girls-Shorts-1611622608258943-1.jpg" class="img-responsive" alt="U-17 Girls Rapid-Dry Shorts" title="U-17 Girls Rapid-Dry Shorts">
          <div class="vat">
            HRX by Hrithik Roshan
         </div>
            <div class="col">
           U-17 Girls Active Shorts
            </div>
            <div class="nit">
              <div class="br">Rs. 4500</div>
              <div class="hil"><del>Rs. 10000</del></div>
              <div class="set">(55% OFF)</div>
            </div>
        </div>
  
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13701648/2021/6/23/f97381fc-447d-40ca-add7-d4d03e2d1b251624430946002-HRX-by-Hrithik-Roshan-Boys-Track-Pants-4801624430945589-1.jpg" class="img-responsive" alt="U-17 Boys Active Joggers" title="U-17 Boys Active Joggers">
          <div class="vat">
            HRX by Hrithik Roshan</div>
            <div class="col">
            U-17 Boys Track Pants
            </div>
            <div class="nit">
              <div class="br">Rs. 4275</div>
              <div class="hil"><del>Rs. 9500</del></div>
              <div class="set">(55% OFF)</div>
            </div>
        </div>
  
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13688562/2021/6/18/2fc5bd70-fa7b-4d2f-953a-653a55f328241623993230578-HRX-by-Hrithik-Roshan-Girls-Bra-8411623993230210-1.jpg" class="img-responsive" alt="U-17 Girls Active Sports Bra" title="U-17 Girls Active Sports Bra">
          <div class="vat">
            HRX by Hrithik Roshan</div>
            <div class="col">
            U-17 Girls Active Sports Bra
            </div>
            <div class="nit">
              <div class="br">Rs. 999</div>
              <div class="hil"><del>Rs. 2999</del></div>
              <div class="set">(Rs. 2000 OFF)</div>
            </div>
        </div>
  
  
  
      </div>
  
  
      <div class="hitler">
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13701698/2021/4/12/e442035f-1b3e-4b07-92ce-89d2619c5d2d1618211928967-HRX-by-Hrithik-Roshan-Boys-Tshirts-8321618211928590-1.jpg" class="img-responsive" alt="U-17 Boys Active Tshirt" title="U-17 Boys Active Tshirt"> 
        <div class="vat">
            HRX by Hrithik Roshan</div>
          <div class="col">
         U-17 Boys Lifestyle T-shirts
          </div>
          <div class="nit">
            <div class="br">Rs. 1869</div>
            <div class="hil"><del>Rs. 3399</del></div>
            <div class="set">(45% OFF)</div>
          </div>
        </div>
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/14191940/2021/4/26/b3e4c93d-6975-4b4f-b47e-f1010f24548c1619436930003HELLCATBoysMulticolouredPrintedRoundNeckT-shirt1.jpg" class="img-responsive" alt="Boys Pack of 2 T-shirts" title="Boys Pack of 2 T-shirts"> 
          <div class="vat">
            HRX by Hrithik Roshan</div>
            <div class="col">
        U-17 Boys Lifestyle T-shirt
            </div>
            <div class="nit">
              <div class="br">Rs. 2925</div>
              <div class="hil"><del>Rs. 6500</del></div>
              <div class="set">(55% OFF)</div>
            </div>
        </div>
  
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13694998/2021/6/2/5a33d16a-bede-4c6f-8239-fac33a593c521622608360266-HRX-by-Hrithik-Roshan-Girls-Track-Pants-5021622608359882-1.jpg" class="img-responsive" alt="U-17 Girls Slim Fit Joggers" title="U-17 Girls Slim Fit Joggers">
          <div class="vat">
            HRX by Hrithik Roshan</div>
            <div class="col">
            U-17 Girls Slim Fit Joggers
            </div>
            <div class="nit">
              <div class="br">Rs. 1869</div>
              <div class="hil"><del>Rs. 3399</del></div>
              <div class="set">(45% OFF)</div>
            </div>
        </div>
  
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13688798/2021/6/2/09eb09a0-820c-4c39-a592-9b78f2181f131622608300387-HRX-by-Hrithik-Roshan-Girls-Shorts-3541622608300101-1.jpg" class="img-responsive" alt="U-17 Girls Active Shorts" title="U-17 Girls Active Shorts">
          <div class="vat">
            HRX by Hrithik Roshan</div>
            <div class="col">
          U-17 Girls Active Shorts
            </div>
            <div class="nit">
              <div class="br">Rs. 1079</div>
              <div class="hil"><del>Rs. 1799</del></div>
              <div class="set">(40% OFF)</div>
            </div>
        </div>
  
  
  
      </div>
  
      <div class="hitler">
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13637768/2021/6/2/d2675585-b5f2-4425-8cca-6074336a049a1622608147393-HRX-by-Hrithik-Roshan-Girls-Tshirts-3711622608146989-1.jpg" class="img-responsive" alt="U-17 Girls Lifestyle Tshirt" title="U-17 Girls Lifestyle Tshirt">  
        <div class="vat">
            HRX by Hrithik Roshan</div>
          <div class="col">
        U-17 Girls Lifestyle Tshirt
          </div>
          <div class="nit">
            <div class="br">Rs. 1530</div>
            <div class="hil"><del>Rs. 3400</del></div>
            <div class="set">(55% OFF)</div>
          </div>
        </div>
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13688802/2021/5/28/d69e76d3-061f-48c2-84b2-d70fb0df7f041622172216261GiniandJonyBoysOliveGreenSolidJoggersTshirtsHRXbyHrithikRosh1.jpg" class="img-responsive" alt="U-17 Girls Active Shorts" title="U-17 Girls Active Shorts"> 
          <div class="vat">
            HRX by Hrithik Roshan</div>
            <div class="col">
         U-17 Girls Active Shorts
            </div>
            <div class="nit">
              <div class="br">Rs. 1530</div>
              <div class="hil"><del>Rs. 3400</del></div>
              <div class="set">(55% OFF)</div>
            </div>
        </div>
  
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13349448/2021/6/18/1d6ce02f-25a7-48a1-a832-a63251c2f4901623999386027-HRX-by-Hrithik-Roshan-Girls-Tshirts-9831623999385849-1.jpg" class="img-responsive" alt="U-17 Girls Lifestyle Tshirt" title="U-17 Girls Lifestyle Tshirt">
          <div class="vat">
            HRX by Hrithik Roshan</div>
            <div class="col">
             U-17 Girls Lifestyle Tshirts
            </div>
            <div class="nit">
              <div class="br">Rs. 1079</div>
              <div class="hil"><del>Rs. 1799</del></div>
              <div class="set">(40% OFF)</div>
            </div>
        </div>
  
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13701698/2021/4/12/e442035f-1b3e-4b07-92ce-89d2619c5d2d1618211928967-HRX-by-Hrithik-Roshan-Boys-Tshirts-8321618211928590-1.jpg" class="img-responsive" alt="U-17 Boys Active Tshirt" title="U-17 Boys Active Tshirt">
          <div class="vat">
            HRX by Hrithik Roshan</div>
            <div class="col">
           U-17 Boys Bio-Wash Tshirt
            </div>
            <div class="nit">
              <div class="br">Rs. 4049</div>
              <div class="hil"><del>Rs. 4499</del></div>
              <div class="set">(10% OFF)</div>
            </div>
        </div>
  
  
  
      </div>
  
      <div class="hitler">
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/12315424/2020/12/19/b0f7836f-86ed-4769-8734-653e28267c581608378979707-HRX-by-Hrithik-Roshan-Boys-Design-To-Comment-AOP-Antimicrobi-1.jpg" class="img-responsive" alt="U-17 Boys Active T-shirt" title="U-17 Boys Active T-shirt"> 
        <div class="vat">
            HRX by Hrithik Roshan</div>
          <div class="col">
            Boys Rapid-Dry Football Tshirt
          </div>
          <div class="nit">
            <div class="br">Rs. 1199</div>
            <div class="hil"><del>Rs. 1999</del></div>
            <div class="set">(40% OFF)</div>
          </div>
        </div>

        <div class="base">
         <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13688390/2021/6/11/9c9da71a-c89e-4d8b-9d89-9e71352ded5e1623415921567-HRX-by-Hrithik-Roshan-Girls-Bra-9331623415921133-1.jpg" class="img-responsive" alt="U-17 Girls Active Sports Bra" title="U-17 Girls Active Sports Bra">
          <div class="vat">
            HRX by Hrithik Roshan</div>
            <div class="col">
          Girls Non-Padded Workout Bra
            </div>
            <div class="nit">
              <div class="br">Rs. 1800</div>
              <div class="hil"><del>Rs. 4500</del></div>
              <div class="set">(55% OFF)</div>
            </div>
        </div>
  
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13688524/2021/6/8/158eff05-591b-4d4d-ad3a-2a3fdc7eee581623127184669GiniandJonyGirlsNavyBlueSolidPureCottonKnittedFleeceLinedJog1.jpg" class="img-responsive" alt="U-17 Boys Active Joggers" title="U-17 Boys Active Joggers">
          <div class="vat">
            HRX by Hrithik Roshan</div>
            <div class="col">
         U-17 Boys Active Joggers
            </div>
            <div class="nit">
              <div class="br">Rs. 4365</div>
              <div class="hil"><del>Rs. 9700</del></div>
              <div class="set">(55% OFF)</div>
            </div>
        </div>
  
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/3/18/fa8899e7-7339-47da-b7a6-037759f329e21616048327765-1.jpg" class="img-responsive" alt="Boys Printed Round Neck T-shirt" title="Boys Printed Round Neck T-shirt">
          <div class="vat">
            HRX by Hrithik Roshan</div>
            <div class="col">
            U-17 Boys Lifestyle Tshirt
            </div>
            <div class="nit">
              <div class="br">Rs. 3015</div>
              <div class="hil"><del>Rs. 6700</del></div>
              <div class="set">(55% OFF)</div>
            </div>
        </div>
  
  
  
      </div>
  
      
      <div class="hitler">
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13349458/2021/6/23/e6446ecb-fe9c-45c1-be8c-e894db0c34621624427040010-HRX-by-Hrithik-Roshan-Girls-Tshirts-8341624427039764-1.jpg" class="img-responsive" alt="U-17 Girls Lifestyle T-shirt" title="U-17 Girls Lifestyle T-shirt">  
        <div class="vat">
            HRX by Hrithik Roshan</div>
          <div class="col">
         U-17 Girls Lifestyle T-shirt
          </div>
          <div class="nit">
            <div class="br">Rs. 4365</div>
            <div class="hil"><del>Rs. 9700</del></div>
            <div class="set">(55% OFF)</div>
          </div>
        </div>
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/11245588/2020/8/7/dcfd6544-5ce7-4300-8187-31560cce6c721596780727874-HRX-by-Hrithik-Roshan-Boys-Grey--Black-Printed-V-Neck-Rapid--1.jpg" class="img-responsive" alt="U-17 Boys Active Lycra Tshirts" title="U-17 Boys Active Lycra Tshirts"> 
          <div class="vat">
            HRX by Hrithik Roshan</div>
            <div class="col">
              U-17 Boys Active T-shirt
            </div>
            <div class="nit">
              <div class="br">Rs. 1530</div>
              <div class="hil"><del>Rs. 3400</del></div>
              <div class="set">(55% OFF)</div>
            </div>
        </div>
  
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/12103008/2020/12/16/39143a18-639d-4762-a55b-2e6f31bd5d241608114572200-HRX-by-Hrithik-Roshan-Boys-Sweatshirts-9491608114570985-1.jpg" class="img-responsive" alt="U-17 Boys Lifestyle Sweatshirt" title="U-17 Boys Lifestyle Sweatshirt"> 
          <div class="vat">
            HRX by Hrithik Roshan</div>
            <div class="col">
          U-17 Boys Lifestyle Sweatshirts
            </div>
            <div class="nit">
              <div class="br">Rs. 1530</div>
              <div class="hil"><del>Rs. 3400</del></div>
              <div class="set">(55% OFF)</div>
            </div>
        </div>
  
        <div class="base">
            <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13430796/2021/3/18/ac0afa76-2eaa-4fda-a362-02b8c89415e21616047602400-HRX-by-Hrithik-Roshan-Boys-Tshirts-1331616047602091-1.jpg" class="img-responsive" alt="Boys Brand Logo Sports T-shirt" title="Boys Brand Logo Sports T-shirt">
          <div class="vat">
            HRX by Hrithik Roshan</div>
            <div class="col">
         U-17 Boys Active T-shirt
            </div>
            <div class="nit">
              <div class="br">Rs. 1259</div>
              <div class="hil"><del>Rs. 2999</del></div>
              <div class="set">(58% OFF)</div>
            </div>
        </div>
  
  
  
      </div>  
  
    </div>
  </div>
