<marquee><div class="ni">Biggest Brands On Sale</div></marquee> 
<div class="lop"> 
    <div class="dok">
        <img class="image-image" src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/ddcf3aa6-03b8-4cd7-a9a6-e00e784ac24f1624982345667-Nike.jpg" srcset="">
    </div>

    <div class="dok">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/ce08579d-0808-4981-bea1-dd6d0b32e27b1624982345699-Puma.jpg" srcset="">
    </div>

    <div class="dok">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/71cb1891-3592-49cc-8a47-3137b63e6c6e1624982345724-U.S.-Polo-Assn..jpg" srcset="">
    </div>
    <div class="dok">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/63a9a6eb-e964-496b-a0ec-579f10938f8e1624982345732-UCB.jpg" srcset="">
    </div>
</div>

<div class="lop">
    <div class="dok">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/f1e21c44-501d-481e-a111-3025164b331f1624982524300-W.jpg" srcset="">
    </div>

    <div class="dok">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/910dc2e2-8d6f-454b-891c-e2b51b595e631624981504154-Jack-_-Jones.jpg" srcset="">
    </div>

    <div class="dok">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/9b4b0806-439a-4281-8647-eb7bfc6e195a1624982345638-Louis-Philippe.jpg" srcset="">
    </div>
    <div class="dok">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/eb77ba66-8a68-48b1-8d28-a63c9ff24b2e1624982345716-Tommy-Hilfiger.jpg" srcset="">
    </div>
</div>

<div class="lop">
    <div class="dok">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/c3375181-ef34-4496-ad87-ef73c60009441624981504063-Allen-Solly.jpg" srcset="">
    </div>

    <div class="dok">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/b2284365-8bdc-48ad-8567-17ac4fdb6ebd1624982345630-Levis.jpg" srcset="">
    </div>

    <div class="dok">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/a0297ff4-a216-4a3a-8873-7ccae5caf25e1624982345649-Marks-_-Spencer.jpg" srcset="">
    </div>
    <div class="dok">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/6ec9999c-af32-4dd5-85d8-3f2da930cd6e1624981504093-Biba.jpg" srcset="">
    </div>
</div>


 <div class="niom"><img class="image undefined " src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/34a816e3-7dda-4617-a974-878f771b4b0c1625063581880-Apparel.jpg" srcset=""></div>
<div class="lokp">
    <div class="dokp">
        <img class="image undefined image" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/f27ee139-4060-466f-b534-35faff198c4d1624987802723-Arrow.jpg" srcset="">  
    </div>

    <div class="dokp">
        <img class="image undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/7c03ef1d-de81-474a-a3ed-316396893ecf1624987802795-Peter_England.jpg" srcset=""> 
    </div>

    <div class="dokp">
        <img class="image undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/82c26958-253d-42ab-b91e-90c376feba901624987802746-Higlander-_Wrogn.jpg" srcset="">  
    </div>
    <div class="dokp">
        <img class="image undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/5a399b5f-f5c1-4b66-a6a9-32730a8e67631624988136274-VH-_Allen_Solly.jpg" srcset="">
    </div>

    <div class="dokp">
        <img class="image undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/dc572897-eb26-427d-8b6e-c1256a31ff201624987802767-LP.jpg" srcset="">
    </div>

    <div class="dokp">
        <img class="image undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/7114cacb-7ebd-49b5-92dd-561f0f86ae1a1624987802804-Puma_x_One8.jpg" srcset="">
    </div>
</div>


<div class="niom"><img class="image-image undefined " src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/0c03a539-c97f-441b-8c41-b615a6e2930e1625063581867-Footwear--1-.jpg" srcset=""></div>
<div class="lokp">
    <div class="dokp">
        <img class="image- undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/49c09ffb-8e55-4278-9e5f-3b8585db55081624989811787-HRX.jpg" srcset="">
    </div>

    <div class="dokp">
        <img class="image undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/f552061b-025c-45f1-82a3-91121970d6d11624989811766-Bata-_USPA_and_more.jpg" srcset="">
    </div>

    <div class="dokp">
        <img class="image undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/5ef58f21-288a-455b-94ea-bdeff31dda481624989811815-Onitsuka_Tiger.jpg" srcset=""> 
    </div>
    <div class="dokp">
        <img class="image undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/f036c388-b9ad-4973-b915-806e94533d0e1624989811727-Adidas-_Reebok.jpg" srcset="">  
    </div>

    <div class="dokp">
        <img class="image undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/03005e15-777f-4c9a-8424-f12766c56cb61624989811758-Bata-_Hush_Puppies.jpg" srcset="">  
    </div>

    <div class="dokp">
        <img class="image undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/3932939e-84e5-47a1-ad12-2a4c1deb13741624989811776-Catwalk-_Carlton_London.jpg" srcset="">
    </div>
</div>

<div class="niom"><img class="image-image undefined " src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/7577d219-2429-4cc0-aae6-df64901b5d941625063581848-Kids-Wear.jpg" srcset=""></div>
<div class="lokp">
    <div class="dokp">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/66b9ddb6-4127-476d-a5a0-565d6f9c678e1624989377897-Max-_Cherokee.jpg" srcset=""> 
    </div>

    <div class="dokp">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/1238b38d-de92-4e21-8d93-3613fc5ba5891624989377932-UCB-_GAP.jpg" srcset=""> 
    </div>

    <div class="dokp">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/ed0c2a9e-d738-4eb9-9787-3fc1bb9216ee1624989377938-USPA-_GJ.jpg" srcset="">
    </div>
    <div class="dokp">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/60e24136-a983-4bf6-8273-38b3fe3b211e1624989377869-Bitiya_by_bhama-_JBN_creations.jpg" srcset=""> 
    </div>

    <div class="dokp">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/e4240390-c555-4f49-8b58-e105591f8e241624989377943-YK.jpg" srcset=""> 
    </div>

    <div class="dokp">
        
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/49ca1d03-c4f3-4819-99db-0fb98fc97d7f1624989377911-Pantaloons-_H-M.jpg" srcset=""> 
    </div>
</div>

<div class="niom">
    
    <img class="image-image undefined " src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/30/472f1559-f1e3-48b9-b814-e99c2f3dbfeb1625063581861-Home-Furnishing--Accessories---More.jpg" srcset="">

</div>
<div class="lokp">
    <div class="dokp">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/ca5ae9c6-3907-470f-befb-772d7f85b9ac1624990708897-Spaces_-_Romee_-_Story_-_Cortina.jpg" srcset=""> 
    </div>

    <div class="dokp">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/cd4e9a1a-91c0-4b3e-86f7-ca1f3373fa5f1624990708889-Portico-_Raymond_Home-_Trident.jpg" srcset="">  
    </div>

    <div class="dokp">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/54c64a53-1434-4b44-8991-148202d9fd3e1624990363391-Bedding.jpg" srcset="">  
    </div>
    <div class="dokp">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/90cbc047-3d6d-4aee-961c-66817d804a2a1624990363446-Furnishings.jpg" srcset="">  
    </div>

    <div class="dokp">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/066ec310-a5ee-46a6-8e84-85b5a93cb3fa1624990363383-Bath_Essentials.jpg" srcset="">  
    </div>

    <div class="dokp">
        <img class="image-image undefined image-hand" src="https://assets.myntassets.com/w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2021/6/29/c8f09a41-f374-49df-a8e9-ff7df16a52321624990363453-Furnishings_-_Organisers.jpg" srcset="">   
    </div>
</div>

