

.sang{
    transform: translate(-55%, -55%);
    position: absolute;
        left: 55%;
         top: 55%; 

}

.hu{
    font-size: 15px;
    margin-left: 83px;
}
.krn span{
    color: rgb(28, 88, 255);
    font-weight: bolder;
}

.index{
    padding-top: 60px;
    margin-left: 85px;
}

.indigos{
 font-size: 30px;
 padding-top: 45px;
 letter-spacing: 2px;
 font-style: italic;
 margin-left: 20px;
}

.sw{
    color: grey;
    margin-left: 58px;
}

.delta{
    padding-top: 20px;
    display: flex;
    margin-left: 20px;
    
}

.delta input{
    width: 450px;
    padding: 0px 4px;
    height: 40px;
    border: 1px solid #ccc;
}

.btn{
    border: 1px solid #ccc;
    padding: 0px 23px;
    text-transform: uppercase;
    color: blue;

}

.bell a{
    text-decoration: none;
    color: rgb(192, 181, 181);
   font-size: 13px;
    padding: 2px;
}

.bell{
    padding-top: 20px;
    color: rgb(105, 102, 102);
    width: 120%;
}



