  

  <div class="sang">
      <div class="krn">
      <p class="hu">  You searched for <span>nike-revolution</span></p>
        <img class="index" src="https://constant.myntassets.com/web/assets/img/11488523304066-search404.png">
      <p class="indigos">We couldn't find any matches!</p>
      <p class="sw">Please check the spelling or try searching something else</p>
    </div>
    <div class="delta">
      <input type="text" name="" placeholder="Shoes, T-shirts, Tops etc">
      <button class="btn">Search</button>
    </div>
    <div class="bell">
      <span>Popular searches:</span>
      <a href="#">Nike Shoes,</a>
      <a href="#">Woodland Shoes,</a>
      <a href="#">Adidas Shoes,</a>
      <a href="#">Titan Watches,</a>
      <a href="#">Fila Shoes,</a>
      <a href="#">Puma Shoes,</a>
      <a href="#">Fastrack Watches</a>
    </div>
  </div>




  
