

.byu{
    display: flex;
    padding-top: 25px;
    margin-left: 33px;
}

.shy img{
    height: 55px;
    width: 50px;
    cursor: pointer;
}


.darr{
  display: flex;
 margin-left: 300px;
 padding-top: 8px;
  
}

.darr li{
    list-style: none;
    padding: 3px 13px;

}

.text{
    color: #20BD99;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #20BD99;
 
}

.divider{
    border-top: 1px dashed #696B79;
    height: 2px;
    width: 100px;
  margin-top: 10px;

}

.text2{
    color: #696B79;
    font-size: 16px;
    font-weight: 500;
}

.text3{
    color: #696B79;
    font-size: 16px;
    font-weight: 500;
}


.khan{
    margin: auto;
   padding-top: 5px;
  transform: translate(-40%,-40%);
  
}

.ret{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 0px 4px;
    letter-spacing: 1px;
}


.nav{
    display: flex;
}

.der{
   width: 50%;
    margin-left: 152px;
   padding-top: 20px;
}

.t{
    display: flex;
}
.br{
    margin-left: 34px;
    padding-top: 5px;
    font-weight: bold;
    cursor: pointer;
}

.qa{
   margin-left: 75px;

}

.btn{
    height: 34px;
    text-align: center;
    border: 1px solid rgb(255, 34, 137);
    color: rgb(255, 34, 137);
    outline: none;
    border-radius: 5px;
}

.col{
    padding-top: 55px;
    margin-left: 27px;
  
  
}

.sw{
    font-weight: 700;
    padding: 5px 9px;

}
.kja{
    width: 20%;
    text-align: right;
   
}

.don{
    padding-top: 30px;
}

.pelt{
    margin-left: 25px;
    letter-spacing: 1px;
}

.limit {
    height: 2px;
    overflow: hidden;
   
    
}

.button{
    color: rgb(255, 34, 137);
    cursor: pointer;
    padding-top: 7px;
    margin-left: 23px;
}

.don2{
    padding-top: 5px;
}

.pelt{
 
    padding: 2px;
}

.pelt span{
    font-size: 13px;
}


.dew{
    fill: #ff3f6c;
    background: #fff;
    border-radius: 2px;
    margin-left: 23px;
    // padding-top: 10px;
}

.don3{
   display: flex;
   padding-top: 15px;
}


.bag{
    padding: 0px 12px;
    font-weight: 600;
    font-size: 16px;
}

.wq{
    padding-left: 154px;
    font-size: 15px;
}

.h{
    border-right: 2px solid #a0a2af;
    margin-left: 10px;
}

.ree{
    margin-left: 12px;
    font-size: 15px;
}


.sit img{

margin-left: 10px;
}

.hit{
    display: flex;
    padding-top: 25px;
}

.w{
    margin-left: 12px;
}

.ui{
    font-weight: bold;
    font-size: 15px;
}

.y{
    font-size: 16px;
padding-top: 2px;
}

.bt{
    color: gray;
    padding-top: 2px;
}

.tr{
    margin: 1px 4px;

   
}

.sub{
    padding-top: 5px;
}

#cars{
    border: none;
    outline: none;
}

.tr select{
    font-weight: bolder;
    border: none;
    outline: none;
    cursor: pointer;
}

.by{
  margin-left: 5px;
  padding-top: 5px;
  font-weight: 500;
}

.en{
    display: flex;
}

.sir{
    display: flex;
    margin-left: 8px;
    padding-top: 5px;
color: gray;
font-size: 13px;
}

.mar{
    color: #f16565;
    margin-left: 8px;
    padding-top: 5px;
}

.go{
    margin-left: 66px;
    cursor: pointer;
}

.bill{
    display: flex;
}

.tw{
    cursor: pointer;
}

.ver{
    margin-left: 4px;
    font-weight: 500;
    padding-top: 2px;
    font-size: 16px;
    cursor: pointer;
}

.ver:hover{
    text-decoration: underline;
}

.addToWishlist-base-wishlistChevron {
    float: right;
    font-size: 20px;
    color: #282c3f;
     margin-left: 290px;
    width: 2%;
}

.kjasn{
width: 20%;
  margin-left: 68px;
    padding-top: 25px;
   
}

.hja{
    text-transform: uppercase;
    color: #535766;
    font-weight: 500;
}

.donationStrip-base-watermelon {
    fill: #ff3f6c;
}

.siunn{
    font-weight: bold;
    padding: 9px 10px;
   
    
}

.cx{
    display: flex;
    padding-top: 10px;
   
    cursor: pointer;
}

.saxe{
    font-size: 14px;
    font-weight: bold; 
    border: 1px solid #ff3f6c;
    border-radius: 24px;
    padding: 12px;
    color: #ff3f6c;
}

.sax{
     margin: 0px 6px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 24px;
    padding: 12px;
    border: 1px solid #d4d5d9;
}

.gfd{
    color: #ff3f6c;
    padding-top: 15px;
    font-weight: 600; 
    cursor: pointer;
}


.wes{
    padding-top: 40px;
}

.sweon{
    padding-top: 14px;
  display: flex;
}



.pows{
    margin: 0px 13px;
    font-weight: 678;
}


.btns{
    margin-left: 70px;
    border: 1px solid #ff3f6c;
    color: #ff3f6c;
    padding: 3px 8px;
}


.uy{

    padding-top: 13px; 
    font-size:14px ; 
}

.uy a{
    color: #ff3f6c;
    text-decoration: none;  
}

.scw{
    padding-top: 35px;
}


.yuio{
    display: flex;
    padding-top: 10px;
}

.rb{
    font-weight: bold;
}

.kit{
    font-size: 12px;
}

.dit{
    color: #ff3f6c;
    text-transform: uppercase;
    padding-top: 11px;
}

.car{
    padding-top: 10px;
}

.opo{
    display: flex;

}

.vipro{
  padding: 10px;
  width: 50%;
}

.ges{
    font-size: 12px;
}

.ges a{
    color: #ff3f6c;
    text-decoration: none;  
}

.srf{
    width: 50%;
}

.bit{
    padding-top: 3px;
    margin-left: 22px;
}

.bits{
    padding-top: 3px;
    margin-left: 22px;
    color: #03a685;
}

.bi{
    padding-top: 3px;
    color: #ff3f6c;
     
    margin-left: 22px; 
}

.bitn{
    padding-top: 3px;
    margin-left: 22px;
}

.bity{
    color: #03a685;
    padding-top: 7px;
    margin-left: 22px;
}

.nit{
    padding-top: 12px;
    margin-left: 22px;
    font-weight: 600;
}

.btf{
    width: 300px;
    text-align: center;
    justify-content: center;
    background-color: #ff3f6c;
    color: white;
    cursor: pointer;
   border: 1px solid #ff3f6c;
   height: 35px;
   text-transform: uppercase;
   font-weight: 600;
   border-radius: 2px;
}


.sun{
    text-align: center;
    padding-top: 13px;
}

.bar{
    font-weight: 600;
    padding-top: 3px;
}

.eid{
    color: gray;
    font-size: 11px;
}

.content{
    padding-top: 20px;
    margin-left: 70px;
    display: flex;
}

.images{
 
    margin: 1px 33px;
}

.nert{
    padding-top: 6px;
    margin-left: 194px;
    font-weight: 500;
}