<div class="darrt">
  <div class="kim">
    <div class="dt">FILTERS</div>

    <div class="free">
      <li>
        <label class="hun">
          <mat-radio-button value="1" >Men</mat-radio-button>
        </label>
      </li>

      <li>
        <label class="hun">
          <mat-radio-button value="1">Women</mat-radio-button>
        </label>
      </li>

      <li>
        <label class="hun">
          <mat-radio-button value="1">Boys</mat-radio-button>
        </label>
      </li>

      <li>
        <label class="hun">
          <mat-radio-button value="1">Girls</mat-radio-button>
        </label>
      </li>
    </div>


    <div class="yui">
      <p class="pin">Categories</p>
      <li>
        <label class="check">
          <mat-checkbox>Curtains and Sheers</mat-checkbox>
          <span class="run">(6716)</span>
        </label>
      </li>

      <li>
        <label class="check">
          <mat-checkbox>Cushion Covers</mat-checkbox>
          <span class="run">(6130)</span>
        </label>
      </li>

      <li>
        <label class="check">
          <mat-checkbox>Runners</mat-checkbox>
          <span class="run">(1220)</span>
        </label>
      </li>

      <li>
        <label class="check">
          <mat-checkbox>Cushions</mat-checkbox>
          <span class="run">(838)</span>
        </label>
      </li>

      <li>
        <label class="check">
          <mat-checkbox>Chair Covers</mat-checkbox>
          <span class="run">(816)</span>
        </label>
      </li>

      <li>
        <label class="check">
          <mat-checkbox>Diwan Set</mat-checkbox>
          <span class="run">(407)</span>
        </label>
      </li>

      <li>
        <label class="check">
          <mat-checkbox>Yoga Mats</mat-checkbox>
          <span class="run">(176)</span>
        </label>
      </li>

      <li>
        <label class="check">
          <mat-checkbox>Sofa Covrs</mat-checkbox>
          <span class="run">(173)</span>
        </label>
      </li>
    </div>


    <div class="yui">
      <p class="pin">brands</p>
      <li>
        <label class="check">
          <mat-checkbox>Cortina</mat-checkbox>
          <span class="run">(2162)</span>
        </label>
      </li>

      <li>
        <label class="check">
          <mat-checkbox>HOUZZCODE</mat-checkbox>
          <span class="run">(1075)</span>
        </label>
      </li>

      <li>
        <label class="check">
          <mat-checkbox>Story@home</mat-checkbox>
          <span class="run">(831)</span>
        </label>
      </li>

      <li>
        <label class="check">
          <mat-checkbox>ROSARA HOME</mat-checkbox>
          <span class="run">(831)</span>
        </label>
      </li>

      <li>
        <label class="check">
          <mat-checkbox>Chair Covers</mat-checkbox>
          <span class="run">(816)</span>
        </label>
      </li>

      <li>
        <label class="check">
          <mat-checkbox>ROMEE</mat-checkbox>
          <span class="run">(407)</span>
        </label>
      </li>

      <li>
        <label class="check">
          <mat-checkbox>KLOTTHE</mat-checkbox>
          <span class="run">(773)</span>
        </label>
      </li>

      <li>
        <label class="check">
          <mat-checkbox>HOSTA HOMES</mat-checkbox>
          <span class="run">(738)</span>
        </label>
      </li>

    
    </div>
    
    <div class="ui">
    <div class="yui">
      <p class="pin">Price</p>
      <li>
        <label class="check">
          <mat-checkbox>Rs. 195 to Rs. 2945</mat-checkbox>
          <span class="run">(16225)</span>
        </label>
      </li>

      <li>
        <label class="check">
          <mat-checkbox>Rs. 2945 to Rs. 5695</mat-checkbox>
          <span class="run">(791)</span>
        </label>
      </li>

      <li>
        <label class="check">
          <mat-checkbox>Rs. 5695 to Rs. 8445</mat-checkbox>
          <span class="run">(101)</span>
        </label>
      </li>

      <li>
        <label class="check">
          <mat-checkbox>Rs. 8445 to Rs. 11195</mat-checkbox>
          <span class="run">(2)</span>
        </label>
      </li>

  </div>
 
  <div class="yui">
    <p class="pin">COLOR</p>
    <li>
      <label class="check">
        <mat-checkbox>
          <span data-colorhex="blue" class="colour-label colour-colorDisplay" style="background-color: rgb(0, 116, 217);"></span>
          Blue
        </mat-checkbox>
        <span class="run">(1861)</span>
      </label>
    </li>

    <li>
      <label class="check">
        <mat-checkbox>
          <span data-colorhex="white" class="colour-label colour-colorDisplay" style="background-color: rgb(255, 255, 255);"></span>
          White
        </mat-checkbox>
        <span class="run">(1727)</span>
      </label>
    </li>

    <li>
      <label class="check">
        <mat-checkbox>
          <span data-colorhex="brown" class="colour-label colour-colorDisplay" style="background-color: rgb(145, 80, 57);"></span>
          Brown
        </mat-checkbox>
        <span class="run">(1275)</span>
      </label>
    </li>

    <li>
      <label class="check">
        <mat-checkbox>
          <span data-colorhex="beige" class="colour-label colour-colorDisplay" style="background-color: rgb(232, 230, 207);"></span>
          Beige
        </mat-checkbox>
        <span class="run">(1154)</span>
      </label>
    </li>

    <li>
      <label class="check">
        <mat-checkbox>
          <span data-colorhex="grey" class="colour-label colour-colorDisplay" style="background-color: rgb(159, 168, 171);"></span>
          Grey
        </mat-checkbox>
        <span class="run">(1044)</span>
      </label>
    </li>

    <li>
      <label class="check">
        <mat-checkbox>
          <span data-colorhex="green" class="colour-label colour-colorDisplay" style="background-color: rgb(94, 177, 96);"></span>
          Green
        </mat-checkbox>
        <span class="run">(978)</span>
      </label>
    </li>

    <li>
      <label class="check">
        <mat-checkbox>
          <span data-colorhex="black" class="colour-label colour-colorDisplay" style="background-color: rgb(54, 69, 79);"></span>
          Black
        </mat-checkbox>
        <span class="run">(960)</span>
      </label>
    </li>

 

  
  </div>

  <div class="yui">
    <p class="pin">discount range</p>
    <li>
      <label class="check">
        <mat-checkbox>10% and above</mat-checkbox>
       
      </label>
    </li>

    <li>
      <label class="check">
        <mat-checkbox>20% and above</mat-checkbox>
      
      </label>
    </li>

    <li>
      <label class="check">
        <mat-checkbox>30% and above</mat-checkbox>
      
      </label>
    </li>

    <li>
      <label class="check">
        <mat-checkbox>40% and above</mat-checkbox>
      
      </label>
    </li>

    <li>
      <label class="check">
        <mat-checkbox>50% and above</mat-checkbox>
       
      </label>
    </li>

    <li>
      <label class="check">
        <mat-checkbox>60% and above</mat-checkbox>
  
      </label>
    </li>

    <li>
      <label class="check">
        <mat-checkbox>70% and above</mat-checkbox>
     
      </label>
    </li>

    <li>
      <label class="check">
        <mat-checkbox>80% and above</mat-checkbox>
     
      </label>
    </li>

  
  </div>
</div>

  </div>

  <div class="sim">

    <div class="kun">
      <div class="din">
        <div class="ver" id="f1" (click)="on('f1')">Bundles<span class="pull-right  down-icon" [class.icon]="id==='f1'"><div class="fa fa-chevron-down"></div></span></div>
        <div class="hit" *ngIf="id==='f1'">
          <li>
              <label class="check">
                  <mat-checkbox>Single Styles</mat-checkbox>

              </label>
          </li>
        </div>
        </div>
      
            <div class="din">
        <div class="ver" id="f2" (click)="on('f2')">Country of Origin<span class="pull-right  down-icon" [class.icon]="id==='f2'"><div class="fa fa-chevron-down"></div></span></div>
        <div class="hit" *ngIf="id==='f2'">
          <li>
              <label class="check">
                  <mat-checkbox>All Countries</mat-checkbox>

              </label>
          </li>

          <li>
              <label class="check">
                  <mat-checkbox>India</mat-checkbox>

              </label>
          </li>
        </div>
      </div>

      <div class="din">
          <div class="ver" id="f3" (click)="on('f3')">Size<span class="pull-right  down-icon" [class.icon]="id==='f3'"><div class="fa fa-chevron-down"></div></span></div>
          <div class="hit" *ngIf="id==='f3'">
            <li>
                <label class="check">
                    <mat-checkbox>12"X16"</mat-checkbox>

                </label>
            </li>

            <li>
                <label class="check">
                    <mat-checkbox>12"X12"</mat-checkbox>

                </label>
            </li>

            <li>
              <label class="check">
                  <mat-checkbox>12"X18"</mat-checkbox>

              </label>
          </li>

          <li>
              <label class="check">
                  <mat-checkbox>12"X20"</mat-checkbox>

              </label>
          </li>
          <li>
              <label class="check">
                  <mat-checkbox>12"X24"</mat-checkbox>

              </label>
          </li>
          <li>
              <label class="check">
                  <mat-checkbox>14"X20"</mat-checkbox>

              </label>
          </li>

          <li>
              <label class="check">
                  <mat-checkbox>14"X24"</mat-checkbox>

              </label>
          </li>

          <li>
              <label class="check">
                  <mat-checkbox>14"X14"</mat-checkbox>

              </label>
          </li>

          <li>
              <label class="check">
                  <mat-checkbox>16"X16"</mat-checkbox>

              </label>
          </li>
          <li>
              <label class="check">
                  <mat-checkbox>16"X24"</mat-checkbox>

              </label>
          </li>
          <li>
              <label class="check">
                  <mat-checkbox>18"X12"</mat-checkbox>

              </label>
          </li>
          <li>
            <label class="check">
                <mat-checkbox>18"X12"</mat-checkbox>

            </label>
        </li>
        <li>
          <label class="check">
              <mat-checkbox>18"X18"</mat-checkbox>

          </label>
      </li>

      <li>
        <label class="check">
            <mat-checkbox>19"X19"</mat-checkbox>

        </label>
    </li>
    <li>
      <label class="check">
          <mat-checkbox>20"X20"</mat-checkbox>

      </label>
  </li>
  <li>
    <label class="check">
        <mat-checkbox>20"X22"</mat-checkbox>

    </label>
</li>
<li>
  <label class="check">
      <mat-checkbox>26"X26"</mat-checkbox>

  </label>
</li>
<li>
  <label class="check">
      <mat-checkbox>7"X14"</mat-checkbox>

  </label>
</li>
          </div>
        </div>
        <div class="fre">
          <select id="cars" name="cars">
             <option value="volvo">Sort by : <b>Recommended</b> </option>
             <option value="">What's new</option>
             <option value="">Popularity</option>
             <option value="">Better Discount</option>
             <option value="">Price High to Low</option>
             <option value="">Price Low to High</option>
             <option value="">Customer Rating</option>
          </select>
       </div>
        </div>

    <div class="hitler">
      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/4/5/16c83423-ef3c-436b-aa50-6aeb0a13d8d11617615567274-1.jpg" class="img-responsive" alt="SetOf4BlackOutLongDoorCurtains" title="SetOf4BlackOutLongDoorCurtains">   
      <div class="vat">
        MFD HOME FURNISHING</div>
        <div class="col">
          Colourblocked Window Curtain
        </div>
        <div class="nit">
          <div class="br">Rs. 1199</div>
          <div class="hil"><del>Rs. 1999</del></div>
          <div class="set">(40% OFF)</div>
        </div>
      </div>
      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/14117084/2021/4/16/22e6466c-30c1-4e1c-be1d-ebfc5bd4beb81618581678500BIANCAUnisexCoffeeBrownAbstract1.jpg" class="img-responsive" alt="Set of 2 Black Out Curtains" title="Set of 2 Black Out Curtains">
        <div class="vat">
          MFD HOME FURNISHING</div>
          <div class="col">
            Set of 2 Door Curtain
          </div>
          <div class="nit">
            <div class="br">Rs. 2729</div>
            <div class="hil"><del>Rs. 3799</del></div>
            <div class="set">(40% OFF)</div>
          </div>
      </div>

      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/14819374/2021/7/14/d1f6b47c-a3f2-4767-b92e-283b36dcf8451626245892738POLYESTERNETZIGZAGDESIGNDOORCURTAINPACKOF1BYHOSTAHOMES1.jpg" class="img-responsive" alt="Striped Door Curtain" title="Striped Door Curtain">
        <div class="vat">
          MFD HOME FURNISHING</div>
          <div class="col">
            Door Curtain
          </div>
          <div class="nit">
            <div class="br">Rs. 1079</div>
            <div class="hil"><del>Rs. 1799</del></div>
            <div class="set">(40% OFF)</div>
          </div>
      </div>

      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/6/12/30999af0-57e8-4e26-917a-9fc7c2e160431623501362025-1.jpg" class="img-responsive" alt="Set of 2 Door Curtain" title="Set of 2 Door Curtain">
        <div class="vat">
          MFD HOME FURNISHING</div>
          <div class="col">
            Gemotric Door Curtain
          </div>
          <div class="nit">
            <div class="br">Rs. 1485</div>
            <div class="hil"><del>Rs. 3300</del></div>
            <div class="set">(55% OFF)</div>
          </div>
      </div>



    </div>

    <div class="hitler">
      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/4/5/0adb5699-9127-4c6e-8e11-0e62143f1e8b1617607770696-1.jpg" class="img-responsive" alt="Set of 4 Long Door Curtains" title="Set of 4 Long Door Curtains">
      <div class="vat">
        MFD HOME FURNISHING</div>
        <div class="col">
          Set of 2 Door Curtain
        </div>
        <div class="nit">
          <div class="br">Rs. 4500</div>
          <div class="hil"><del>Rs. 10000</del></div>
          <div class="set">(55% OFF)</div>
        </div>
      </div>
      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/1/27/5e782fbb-fa3d-4e9a-b881-3f8bfcb4f2ef1611750341643-1.jpg" class="img-responsive" alt="Set of 2 Black Out Curtain Curtains" title="Set of 2 Black Out Curtain Curtains">
        <div class="vat">
          MFD HOME FURNISHING</div>
          <div class="col">
            Set of 2 Floral Door Curtain
          </div>
          <div class="nit">
            <div class="br">Rs. 4500</div>
            <div class="hil"><del>Rs. 10000</del></div>
            <div class="set">(55% OFF)</div>
          </div>
      </div>

      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2019/5/31/0c8ae68b-bec7-40fd-a525-0eefc68a2c6f1559304458188-1.jpg" class="img-responsive" alt="Set of 5 Cushion Covers" title="Set of 5 Cushion Covers">
        <div class="vat">
          MFD HOME FURNISHING</div>
          <div class="col">
            Set of 5 Square Cushion Covers
          </div>
          <div class="nit">
            <div class="br">Rs. 4275</div>
            <div class="hil"><del>Rs. 9500</del></div>
            <div class="set">(55% OFF)</div>
          </div>
      </div>

      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/11811014/2020/4/27/65f8854c-2df5-485b-ba91-e5f3dd5f2b381587965256955DREAMWEAVERZ1.jpg" class="img-responsive" alt="Set of 5 Square Cushion Covers" title="Set of 5 Square Cushion Covers">
        <div class="vat">
          DREAM WEAVERZ</div>
          <div class="col">
            Set of 5 Square Cushion Covers
          </div>
          <div class="nit">
            <div class="br">Rs. 999</div>
            <div class="hil"><del>Rs. 2999</del></div>
            <div class="set">(Rs. 2000 OFF)</div>
          </div>
      </div>



    </div>


    <div class="hitler">
      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/14220154/2021/4/30/4e1fb7b1-c0c4-40db-85b4-e81d9f8c42371619760050304MFDHOMEFURNISHINGUnisexBrownAbstract1.jpg" class="img-responsive" alt="Set of 2 Black Out Curtains" title="Set of 2 Black Out Curtains">
      <div class="vat">
        MFD HOME FURNISHING</div>
        <div class="col">
          Set of 2 black Out Curtain
        </div>
        <div class="nit">
          <div class="br">Rs. 1869</div>
          <div class="hil"><del>Rs. 3399</del></div>
          <div class="set">(45% OFF)</div>
        </div>
      </div>
      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/14844200/2021/7/15/ec0dd5fb-bbd9-4906-850c-e62f7fbe029d1626373381030CushionCovers1.jpg" class="img-responsive" alt="Set of 5 Square Cushion Covers" title="Set of 5 Square Cushion Covers">
        <div class="vat">
          MFD HOME FURNISHING</div>
          <div class="col">
            Set of 2 Gemotric Door Curtain
          </div>
          <div class="nit">
            <div class="br">Rs. 2925</div>
            <div class="hil"><del>Rs. 6500</del></div>
            <div class="set">(55% OFF)</div>
          </div>
      </div>

      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/14114312/2021/4/16/2e380662-33e3-4aae-bfe7-a584bddc46a51618581862399ROMEEUnisexTurquoiseBlueFloral1.jpg" class="img-responsive" alt="Set of 2 Room Darkening Curtains" title="Set of 2 Room Darkening Curtains">
        <div class="vat">
          MFD HOME FURNISHING</div>
          <div class="col">
            Set of 2 black Out Curtain
          </div>
          <div class="nit">
            <div class="br">Rs. 1869</div>
            <div class="hil"><del>Rs. 3399</del></div>
            <div class="set">(45% OFF)</div>
          </div>
      </div>

      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/6/1/a4cc2674-988d-4ace-84d6-895f71a081cd1622537879252-1.jpg" class="img-responsive" alt="Set of 3 Black Out Curtains" title="Set of 3 Black Out Curtains">
        <div class="vat">
          MFD HOME FURNISHING</div>
          <div class="col">
          Square Cushion Covers
          </div>
          <div class="nit">
            <div class="br">Rs. 1079</div>
            <div class="hil"><del>Rs. 1799</del></div>
            <div class="set">(40% OFF)</div>
          </div>
      </div>



    </div>

    <div class="hitler">
      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/14865300/2021/7/19/65765ce9-17e5-4656-8226-90fe62323ff51626688442946CushionCovers1.jpg" class="img-responsive" alt="Set of 2 Rectangle Cushion Covers" title="Set of 2 Rectangle Cushion Covers">
      <div class="vat">
        MFD HOME FURNISHING</div>
        <div class="col">
       Square Cushion Covers
        </div>
        <div class="nit">
          <div class="br">Rs. 1530</div>
          <div class="hil"><del>Rs. 3400</del></div>
          <div class="set">(55% OFF)</div>
        </div>
      </div>
      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/3/12/6a6f61b1-539d-4d20-980f-aa93343771941615546239254-1.jpg" class="img-responsive" alt="Single Square Cushion Cover" title="Single Square Cushion Cover">
        <div class="vat">
          MFD HOME FURNISHING</div>
          <div class="col">
        Square Cushion Covers
          </div>
          <div class="nit">
            <div class="br">Rs. 1530</div>
            <div class="hil"><del>Rs. 3400</del></div>
            <div class="set">(55% OFF)</div>
          </div>
      </div>

      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/14889186/2021/7/22/bae07293-2fb1-4641-8f5d-ad59bf21bafd1626936287539Azulejomix-DWithPlainOffwhiteSetof41.jpg" class="img-responsive" alt="Set of 4 Ethnic Motifs Door Curtain" title="Set of 4 Ethnic Motifs Door Curtain">
        <div class="vat">
          MFD HOME FURNISHING</div>
          <div class="col">
            Door Curtain
          </div>
          <div class="nit">
            <div class="br">Rs. 1079</div>
            <div class="hil"><del>Rs. 1799</del></div>
            <div class="set">(40% OFF)</div>
          </div>
      </div>

      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2019/5/30/6c64f5d9-6ed5-402a-ad57-58626f6c90d81559171987393-1.jpg" class="img-responsive" alt="Set of Single Door Curtains" title="Set of Single Door Curtains">
        <div class="vat">
          GMF</div>
          <div class="col">
          Set of 2 Floral Printed Door Curtain
          </div>
          <div class="nit">
            <div class="br">Rs. 4049</div>
            <div class="hil"><del>Rs. 4499</del></div>
            <div class="set">(10% OFF)</div>
          </div>
      </div>



    </div>

    <div class="hitler">
      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/7/7/6d1b3771-5c9a-4e5a-a88c-1573321f6f651625638459604-1.jpg" class="img-responsive" alt="Set of 5 Square Cushion Covers" title="Set of 5 Square Cushion Covers">
      <div class="vat">
        MFD HOME FURNISHING</div>
        <div class="col">
          Colourblocked Door Curtain
        </div>
        <div class="nit">
          <div class="br">Rs. 1199</div>
          <div class="hil"><del>Rs. 1999</del></div>
          <div class="set">(40% OFF)</div>
        </div>
      </div>
      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13224970/2021/1/6/e36c94c2-7ccb-417b-8287-f420e6b748811609935920885GMFCream-ColouredGreySetof2CurtainCurtains1.jpg" class="img-responsive" alt="Set of 2 Curtain Curtains" title="Set of 2 Curtain Curtains">  
        <div class="vat">
          MFD HOME FURNISHING</div>
          <div class="col">
            Set of 2 Square Cushion Covers
          </div>
          <div class="nit">
            <div class="br">Rs. 1800</div>
            <div class="hil"><del>Rs. 4500</del></div>
            <div class="set">(55% OFF)</div>
          </div>
      </div>

      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/14822668/2021/7/14/3cef4c57-66ff-423e-a6c2-6881dcebe1a01626260624252ROMEEUnisexGreyGeometric1.jpg" class="img-responsive" alt="Set of 2 Square Cushion Covers" title="Set of 2 Square Cushion Covers">
        <div class="vat">
          MFD HOME FURNISHING</div>
          <div class="col">
         Set of 2 Door Curtain
          </div>
          <div class="nit">
            <div class="br">Rs. 4365</div>
            <div class="hil"><del>Rs. 9700</del></div>
            <div class="set">(55% OFF)</div>
          </div>
      </div>

      <div class="base">
       <a routerLink="/buyer"> <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/6/9/5428b73d-9a35-4217-bc61-2d02458b3c7b1623244219899-1.jpg" class="img-responsive" alt="2-Seater Sofa Slipcover" title="2-Seater Sofa Slipcover"></a>
        <div class="vat">
          MFD HOME FURNISHING</div>
          <div class="col">
           Set of 2 Gemotric Door Curtain
          </div>
          <div class="nit">
            <div class="br">Rs. 3015</div>
            <div class="hil"><del>Rs. 6700</del></div>
            <div class="set">(55% OFF)</div>
          </div>
      </div>



    </div>

    
    <div class="hitler">
      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2021/7/7/6d1b3771-5c9a-4e5a-a88c-1573321f6f651625638459604-1.jpg" class="img-responsive" alt="Set of 5 Square Cushion Covers" title="Set of 5 Square Cushion Covers">
      <div class="vat">
        MFD HOME FURNISHING</div>
        <div class="col">
         Set of 2 Door Curtain
        </div>
        <div class="nit">
          <div class="br">Rs. 4365</div>
          <div class="hil"><del>Rs. 9700</del></div>
          <div class="set">(55% OFF)</div>
        </div>
      </div>
      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/13224970/2021/1/6/e36c94c2-7ccb-417b-8287-f420e6b748811609935920885GMFCream-ColouredGreySetof2CurtainCurtains1.jpg" class="img-responsive" alt="Set of 2 Curtain Curtains" title="Set of 2 Curtain Curtains">  
        <div class="vat">
          MFD HOME FURNISHING</div>
          <div class="col">
            Gemotric Door Curtain
          </div>
          <div class="nit">
            <div class="br">Rs. 1530</div>
            <div class="hil"><del>Rs. 3400</del></div>
            <div class="set">(55% OFF)</div>
          </div>
      </div>

      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/14822668/2021/7/14/3cef4c57-66ff-423e-a6c2-6881dcebe1a01626260624252ROMEEUnisexGreyGeometric1.jpg" class="img-responsive" alt="Set of 2 Square Cushion Covers" title="Set of 2 Square Cushion Covers">
        <div class="vat">
          MFD HOME FURNISHING</div>
          <div class="col">
            Gemotric Door Curtain
          </div>
          <div class="nit">
            <div class="br">Rs. 1530</div>
            <div class="hil"><del>Rs. 3400</del></div>
            <div class="set">(55% OFF)</div>
          </div>
      </div>

      <div class="base">
        <img src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/h_280,q_90,w_210/v1/assets/images/productimage/2019/10/11/c84c6e10-668f-4956-87bb-d3e64f8ba9541570816058332-1.jpg" class="img-responsive" alt="Set of 8 Printed Diwan" title="Set of 8 Printed Diwan">
        <div class="vat">
          Rajasthan Decor</div>
          <div class="col">
        Set of 8 Floral Bedsheet With
          </div>
          <div class="nit">
            <div class="br">Rs. 1259</div>
            <div class="hil"><del>Rs. 2999</del></div>
            <div class="set">(58% OFF)</div>
          </div>
      </div>



    </div>  

  </div>
</div>