
<div class="shelt">

    <div class="belt">

        <div class="darling">
            <div class="image-grid-image"
                style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/7487602/2019/11/22/1234db65-c272-4f05-8b3d-8f416b686c961574415240519-Nike-Men-Blue-REVOLUTION-4-Running-Shoes-1761574415238748-1.jpg&quot;);">
            </div>
            <div class="image-grid-image"
                style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/7487602/2019/11/22/62168425-b68f-4261-b1dc-ea1c0199859c1574415240480-Nike-Men-Blue-REVOLUTION-4-Running-Shoes-1761574415238748-2.jpg&quot;);">
            </div>
        </div>

        <div class="darling">
            <div class="image-grid-image"
                style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/7487602/2019/11/22/316e0449-1746-4c61-9fb9-64e149ad2e461574415240446-Nike-Men-Blue-REVOLUTION-4-Running-Shoes-1761574415238748-3.jpg&quot;);">
            </div>
            <div class="image-grid-image"
                style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/7487602/2019/11/22/c6178600-ff04-425a-aee8-c1193c4f482a1574415240334-Nike-Men-Blue-REVOLUTION-4-Running-Shoes-1761574415238748-6.jpg&quot;);">
            </div>
        </div> 

        <div class="darling">
            <div class="image-grid-image"
                style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/7487602/2019/11/22/6a013807-223a-490b-b45c-05d1a0a2684c1574415240409-Nike-Men-Blue-REVOLUTION-4-Running-Shoes-1761574415238748-4.jpg&quot;);">
            </div>
            <div class="image-grid-image"
                style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/7487602/2019/11/22/e2f79e73-cbb0-4246-9ff2-bc9c3bcf82d31574415240372-Nike-Men-Blue-REVOLUTION-4-Running-Shoes-1761574415238748-5.jpg&quot;);">
            </div>
        </div>

        <div class="darling">
            <div class="image-grid-image"
                style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/7487602/2019/11/22/c6178600-ff04-425a-aee8-c1193c4f482a1574415240334-Nike-Men-Blue-REVOLUTION-4-Running-Shoes-1761574415238748-6.jpg&quot;);">
            </div>
            <div class="image-grid-image"
                style="background-image: url(&quot;https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/7487602/2019/11/22/7ff911e4-f8f5-4ffa-93b5-a21213d244a21574415240294-Nike-Men-Blue-REVOLUTION-4-Running-Shoes-1761574415238748-7.jpg&quot;);">
            </div>
        </div>
    </div>
    <div class="Qwer">
        <div class="huts">
            Nike
        </div>
        <div class="loi">Men Blue REVOLUTION 4 Running Shoes</div>
        <div class="der">

            <div class="ber">
                4.4 <span class="fa fa-star checked"></span>
            </div>
            <div class="kal">
                <span>|</span>
            </div>
            <div class="koi">
                1.6k Ratings
            </div>

        </div>
        <hr>
        <div class="kul">
            <div class="bell">Rs.2771</div>
            <div class="tyu"> <del>Rs. 3695</del></div>
            <div class="de"> (25% OFF) </div>
        </div>

        <div class="hit">inclusive of all taxes</div>
        <div class="shirt">
            <div class="bet">Select size </div>
            <span class="re"> (UK Size)</span>
            <div class="uiy"> size chart <span> > </span> </div>
        </div>

        <div class="wer">
            <div class="ki">
                5
            </div>
            <div class="kip">
                6
            </div>
            <div class="kip">
                7
            </div>
            <div class="kip">
                8
            </div>

            <div class="kip">
                9
                <span class="size-buttons-inventory-left" style="bottom: -1px;">2 left</span>
            </div> 


            <div class="ki">
                10
            </div>

            <div class="ki">
                11
            </div>

            <div class="ki">
                12
            </div>
        </div>

        <div class="gtru">
           <a routerLink="/carts"> <button class="bn">
                <span class="myntraweb"><i class="fa fa-shopping-bag"></i></span>
                ADD TO BAG
           </button></a>

            <button class="bk">
              <span class="myntaweb"><i class="fa fa-heart-o"></i></span>
              WISHLIST
            </button>
        </div>

        <div class="ser">
            <h4> <span class="tre"><i class="fa fa-truck"></i></span> Delivery Options </h4>
        </div>

        <div class="sey">
            <input type="text" placeholder="Enter a Pin code">
            <button class="btns">CHECK</button>
        </div>

        <div class="but">
            Please enter PIN code to check delivery time & Pay on Delivery Availability
        </div>

        <div class="hy">
            <div class="ishq">100% Original Products</div>
            <div class="ishq">Pay on delivery might be available</div>
            <div class="ishq">Easy 30 days returns and exchanges</div>
            <div class="ishq">Try & Buy might be available</div>
        </div>

        <div class="gr">
            <div class="swer">
                BEST OFFERS 
            </div>
            <div class="ju">
                Best Price: <span>Rs. 2371</span>
            </div>
            <div class="il">
           
                <li class="hill">Applicable on: Orders above Rs. 2499 (only on first purchase)
                </li>
  
                    <li class="hill">Coupon code: <b>MYNTRA400</b>
                </li>
             
                   <li class="hill">Coupon Discount: Rs. 400 off (check cart for final savings)
               </li>
                   <p class="lo">View Eligible Products</p>
            </div>
            <div class="serts">
                <div class="gutd">
                    EMI option available
                </div>
                <div class="i">
                    <li class="hill">EMI starting from Rs.130/month</li>

                    <p class="lo">View Plan</p>
                </div>
            </div>
        </div>
<hr>
        <div class="shall">
            <div class="ball">
                PRODUCT DETAILS 
              
            </div>
            <div class="kite">
                Special Technology:
                <p class="shy">Soft foam beneath the foot for revolutionary comfort and responsiveness</p>
            </div>
            <div class="uy">
                <b>Design Details</b>

                <li class="sl">A pair of blue running sports shoes, has regular styling, lace-up detail</li>
                <li class="sl">Textile upper</li>
                <li class="sl">Cushioned footbed</li>
                <li class="sl">Soft foam midsole delivers lightweight, responsive cushioning.</li>
                <li class="sl">Textured and patterned outsole </li>
                <li class="sl">Warranty: 6 months against manufacturing defects (not valid on</li>
                <li class="sl">products with more than 20% discount) </li>
                <li class="sl">Warranty provided by brand/manufacturer</li>
            </div>

            <div class="hul">
                <div class="juu">Material & Care</div>
                <li class="bu">Textile</li>
                <li class="bu">Wipe with a clean, dry cloth to remove dust</li>
            </div>
        </div>
        <div class="han">Specification</div>
        <div class="oi">
           
            <div class="qr">
                <div class="bri">Sport</div>
                <p class="u">Running</p>

                <div class="bri">Fastening</div>
                <p class="u">Lace-Ups</p>

                <div class="bri">Outsole Type</div>
                <p class="u">Marking</p>

                <div class="bri">Pronation for Running Shoes</div>
                <p class="u">Neutral</p>
            </div>
            <div class="vr">
                <div class="bri">Material</div>
                <p class="u">Textile</p>
                
                <div class="bri">Ankle Height </div>
                <p class="u">Regular</p>

                <div class="bri">Cleats</div>
                <p class="u">No Cleats</p>

                <div class="bri">Arch Type</div>
                <p class="u">Medium</p>
            </div>
           
        </div>
        <div class="y">See More</div>
        <hr>

           <div class="swet">
               <div class="iu">
                   RATINGS <span class="my"><i class="fa fa-star-o"></i></span>
               </div>
               <div class="chal">
                   <div class="bake">
                       4.4 <span class="fa fa-star"></span>
                       <p class="point">1.6k Verified Buyers</p>
                   </div>
                   <div class="dal">
                       <div class="pl">
                    <div class="sy">5 <i class="fa fa-star-o"></i></div>
                    <div class="bal-1"></div>
                    <div class="huo right">1030</div>
</div>
<div class="pl">
    <div class="sy">4 <i class="fa fa-star-o"></i></div>
    <div class="bal-2"></div>
    <div class="huo right">384</div>
</div>

<div class="pl">
    <div class="sy">3 <i class="fa fa-star-o"></i></div>
    <div class="bal-3"></div>
    <div class="huo right">95</div>
</div>

<div class="pl">
    <div class="sy">2 <i class="fa fa-star-o"></i></div>
    <div class="bal-4"></div>
    <div class="huo right">39</div>
</div>

<div class="pl">
    <div class="sy">1 <i class="fa fa-star-o"></i></div>
    <div class="bal-5"></div>
    <div class="huo right">87</div>
</div>
                   </div>
               </div>
           </div>
           <hr>

    
             <div class="bool">Customer Photos (103)</div>  
          
             <div class="kool">
                 <div class="book">
                    <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2021/5/24/311efc2d-f30a-4d5b-b4ae-d2e1d09af6cc1621830870179-IMG20210524100235.jpg">
                 </div>

                 <div class="book">
                    <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/7/9/dddbfc66-c199-46e4-a7e5-05db1832c4cc1594285040551-IMG_20200709_141110.jpg"> 
                 </div>

                 <div class="book">
                    <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/7/9/6da2584f-8320-4d99-adf7-c2ea532e55431594285040707-IMG_20200709_141048.jpg">  
                 </div>

                 <div class="book">
                    <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/7/8/4d6a35e7-e2ff-4779-96ec-76be67d8c2771594190844238-temp_photo.jpg">
                    <span class="image-thumb-wrapper-imageCount"><!-- react-text: 915 -->+<!-- /react-text --><!-- react-text: 916 -->100<!-- /react-text --></span>
                 </div>
 </div>
                 
               <div class="sre">
                   <div class="uio">Customer Reviews (214)</div>
                   <div class="kl">
                       <span class="sj">5 <i class="fa fa-star-o"></i> </span> 
                   <div class="yi"> Geninue shoes very light weight comfortable to wear</div>
                   </div>
                   <div class="kool">
                    <div class="book">
                        <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2021/4/25/1a8ee69a-241d-41ec-89c2-b0f9cdd9795d1619333016890-IMG_20210425_121300.jpg">  
                    </div>
   
                    <div class="book">
                        <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2021/4/25/a73d1945-9e3f-40b7-bd0b-bb4582096dc81619333016921-temp_photo.jpg"> 
                    </div>
   
                    <div class="book">
                        <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2021/4/25/531ceb31-9df9-49e4-9270-b7768ee760421619333016942-IMG_20210425_121259.jpg">    
                    </div>
   
                    <div class="book">
                        <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2021/4/25/e04d5462-ed24-4643-b816-bdb3b47b03f41619333016862-IMG_20210425_121240.jpg">   
                    </div>

                  
    </div>
                   <div class="bll">
                       <div class="hll">Nikhil24 <span class="t">|</span> Apr 2021</div>
                       <div class="tool">
                        <span class="dwe"><i class="fa fa-thumbs-o-up"></i> </span>15 
                        <span class="dwe"><i class="fa fa-thumbs-o-down"></i> </span>1
                       </div>
                   </div>
               </div>


               <div class="sre">
              
                <div class="kl">
                    <span class="sj">5 <i class="fa fa-star-o"></i> </span> 
                <div class="ri">I'm very much impressed with the quality and perfect fitting of these shoes. </div>
                </div>
                <div class="kool">
                 <div class="book">
                    <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/10/19/684bb4cf-73a5-4a9b-9248-c3c94b50e7531603101000256-IMG-20201019-WA0002.jpg">    
                 </div>

                 <div class="book">
                    <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/10/19/c98f5360-e580-4dda-9fa0-4f223c2d418f1603101000538-IMG-20201019-WA0000.jpg">    
                 </div>

                 <div class="book">
                    <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/10/19/7b104fd4-459d-4c6e-92f5-9cbed74f75fd1603101000164-IMG-20201019-WA0001.jpg">   
                 </div>

 </div>
                <div class="bll">
                    <div class="hll">Param <span class="t">|</span>  Borker19 Oct 2020</div>
                    <div class="tool">
                     <span class="dwe"><i class="fa fa-thumbs-o-up"></i> </span>21
                     <span class="dwe"><i class="fa fa-thumbs-o-down"></i> </span>6
                    </div>
                </div>
            </div>

           <div class="bui">
            <div class="up">
                <span class="fert">4 <span class="uk"><i class="fa fa-star-o"></i></span></span>
                <div class="dwc">Actually Packing isn’t good but the shoes is very lightweight n comfortable.</div>
                </div>
                <div class="kool">
                    <div class="book">
                        <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/10/17/84e057d2-faec-44e5-ba68-56602d68b1601602955264223-72182C00-EA5F-4A61-A9FD-27AD9B11F06E.jpeg"> 
                    </div>
   
                    <div class="book">
                        <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/10/17/9112a6ca-360e-4766-b193-ea2ca96b02701602955264164-5690A581-CDCB-4D5D-93E7-9936975EE9A7.jpeg">   
                    </div>
   
                    <div class="book">
                        <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/10/17/68d6c9ba-b9aa-4b27-8af0-5b60544af8701602955264183-074BE5E8-D28A-4F24-972E-6C117FB81029.jpeg">   
                    </div>
                    <div class="book">
                        <img class="image-thumb-wrapper-image" src="https://assets.myntassets.com/h_150,q_75,w_150,c_thumb,fl_progressive/assets/images/2020/10/17/d39cf3c4-8451-45a3-9e9f-002c9f22b92c1602955264272-92A413D1-CEF0-46DE-A352-3AA56C25D0C6.jpeg">    
                     </div>
    
    </div>
    <div class="bll">
        <div class="hll">Inder Singh Negi <span class="t">|</span> 17 Oct 2020</div>
        <div class="tool">
         <span class="dwe"><i class="fa fa-thumbs-o-up"></i> </span>2
         <span class="dwe"><i class="fa fa-thumbs-o-down"></i> </span>2
        </div>
    </div>
 </div>

 <div class="qs">
     <div class="dwx">View all 214 reviews</div>
     <div class="box">Product Code: <b>7487602</b></div>
     <div class="bo">Seller: <span class="supplier-productSellerName">Indiflashmart</span></div>
     <span class="dol">View Supplier Information</span>
 </div>
    </div>

</div>