<div class="yonk">
    <img class="images undefined image-hand" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/7/8/857ceecb-3bb7-43a7-ac98-8b04d0d7c5301625759804570-Desktop-version.jpg" srcset="">
</div>


<carousel>
    <slide>
        <img class="image-image  image-hand" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/7/8/8e4588c1-6f55-4b46-bfcb-1f7b104cc0d71625755520545-Weekend-sale_DK-2.jpg" srcset="">
    </slide>
    <slide>
        <img class="image-image  image-hand" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/10/27/cdabd3fb-0df3-49ed-b092-e011722b3bab1603822195432-Watches_Desktop.jpg" srcset="">
    </slide>
    <slide>
        <img class="image-image  image-hand" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/10/27/98f1e2ab-41a5-4156-ae43-60aa524b8d351603822195467-Shirt_Desk.jpg" srcset="">
    </slide>
    <slide>
        <img class="image-image  image-hand" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/10/26/b76176b6-0485-4078-b20c-eefc00833fd71603731402047-cat-fest-dk-men-winter.jpg" srcset="">
      </slide>
      <slide>
        <img class="image-image  image-hand" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/10/27/de11e966-d587-4ff3-9e3c-a632c6bc29ed1603822195354-Being_Human_Desktop_Banner.jpg" srcset="">
      </slide>
  </carousel> 
 

  