<div class="darr">
    <img class="image-image undefined " src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/1/11517478281102-Home-page-Desktop_12.jpg" srcset="">
</div>

<div class="deui">
  <a routerLink="/hold"> <div class="drunk">
        <img class="card-image " src="https://assets.myntassets.com/w_326,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/1/11517485441956-Wedding-checklist.jpg" srcset="">
    </div></a>
    <div class="drunk">
        <img class="card-image " src="https://assets.myntassets.com/w_326,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/1/11517478592904-Home-page-Desktop_14.jpg" srcset="">
    </div>
    <div class="drunk">
        <img class="card-image " src="https://assets.myntassets.com/w_326,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/2/1/11517478592892-Home-page-Desktop_15.jpg" srcset="">
    </div>
</div>


<div class="huin">
    <p>featured brands</p>
</div>


<div class="don2">
    <div class="don">
        <img class="card-image " src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/3/1/dc2450db-d76d-4d2e-b937-49c0c68ed7f01551443106510-Home-page-Desktop-Brands_09.jpg" srcset="">
    </div>
    <div class="don">
        <img class="card-image " src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/3/1/99c57d52-b50e-4e2e-9582-cb839543ab071551443106488-Home-page-Desktop-Brands_10.jpg" srcset="">
    </div>
    <div class="don">
        <img class="card-image " src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/3/1/9e5a0444-409f-40a3-b199-d4b0b43f94fc1551443106478-Home-page-Desktop-Brands_11.jpg" srcset="">
    </div>
    <div class="don">
        <img class="card-image " src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/3/1/e90b8666-20da-4bd0-8885-235859c0947f1551443106467-Home-page-Desktop-Brands_12.jpg" srcset="">  
    </div>
    <div class="don">
        <img class="card-image " src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/3/1/a38e440e-1ff7-4092-acbe-46d74b38384a1551443106457-Home-page-Desktop-Brands_13.jpg" srcset=""> 
    </div>
</div>